In [12]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA

### Dacon 제공 NA removal

In [ ]:
test = pd.read_csv("data/test.csv", sep = ",")
submission = pd.read_csv("data/submission.csv")

In [14]:
test.head()

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
1,2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2,2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
3,2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
4,2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [17]:
test2 = test

In [26]:
counting[:-1]

Int64Index([1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460,
            ...
            8749, 8750, 8751, 8752, 8753, 8754, 8755, 8756, 8757, 8758],
           dtype='int64', length=6650)

In [27]:
# Time칼럼을 제외한 X26부터 마지막 칼럼까지 for loop
for k in range(1, len(test2.columns) ): 
    test_median=test2.iloc[:,k].median()   # 해당 칼럼(k)의 중앙값 median 계산
    counting=test2.loc[ test2.iloc[:,k].isnull()==False ][ test2.columns[k] ].index   # 해당칼럼에서 null=False(값이 존재)인 row index(시간) 추출

    df=DataFrame(list(zip(counting[:-1], #값이 존재하는 index(시간) 중 마지막 제외
                          counting[1:]-counting[:-1] -1)), # index 중 첫번째 제외 - 마지막 제외 - 1 : 각 인덱스 사이 구간에 얼마의 차이가 있는가, 즉 Null값이 몇개나 존재했는가
                 columns=['index','count'] )

    df2= df[ (df['count'] > 0) ]  # 직후에 Null이 1개 이상 존재하는 인덱스&null count만 뽑아냄
    df2=df2.reset_index(drop=True) 
    
    for i,j in zip( df2['index'], df2['count'] ) :  
        if test2.iloc[i,k]>=test_median:  # if 해당 인덱스에서 값이 median 이상일 경우
            test2.iloc[ i : i+j+1 , k] = test2.iloc[i,k] / (j+1)  # 해당 인덱스(시간) 포함 직후의 null값들에 해당 전력량/(count+1)만큼 분배한다
        else:  
            pass  # 아닐 경우 pass
        
    if k%50==0: #for문 진행정도 확인용
            print(k,"번째 실행중")

50 번째 실행중
100 번째 실행중
150 번째 실행중
200 번째 실행중

In [39]:
test2 = test2.set_index('Time')
test2.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [40]:
test2.to_csv("data/dacon_naremoval_method_TEST.csv")

<br>

### 시간별 평균 대입
(코드 설명은 02_1 에 되어있음)

In [42]:
test = pd.read_csv("data/dacon_naremoval_method_TEST.csv", sep=',')

In [43]:
test.head()

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
1,2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2,2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
3,2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
4,2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [44]:
test['Time'] = pd.to_datetime(test.Time)
test = test.set_index('Time')

In [45]:
test['month'] = test.index.month
test['date'] = test.index.day
test['hour'] = test.index.hour

In [46]:
test.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X266,X20,X443,X347,X75,X107,X230,month,date,hour
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.275,0.021,NaN,7,1,0
2017-07-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.222,0.021,NaN,7,1,1
2017-07-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.237,0.021,NaN,7,1,2
2017-07-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.229,0.020,NaN,7,1,3
2017-07-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.202,0.021,NaN,7,1,4

In [47]:
hourly = test.groupby('hour').mean()
c = hourly.columns

test2 = pd.DataFrame()

n=0
for i in c:
    n +=1
    li = test[test[i].isnull()].index
    df = pd.DataFrame(test[i])
    
    print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))
    for time in li:
        df.loc[time] = hourly[i][time.hour]
    test2 = pd.concat([test2,df], axis=1)

1. current column: X26, NaN count: 7003
2. current column: X303, NaN count: 1426
3. current column: X241, NaN count: 1468
4. current column: X435, NaN count: 1547
5. current column: X402, NaN count: 1594
6. current column: X352, NaN count: 1575
7. current column: X305, NaN count: 1536
8. current column: X350, NaN count: 1579
9. current column: X326, NaN count: 1762
10. current column: X299, NaN count: 1654
11. current column: X160, NaN count: 1881
12. current column: X125, NaN count: 0
13. current column: X211, NaN count: 1532
14. current column: X349, NaN count: 1519
15. current column: X407, NaN count: 1554
16. current column: X330, NaN count: 1533
17. current column: X132, NaN count: 1509
18. current column: X231, NaN count: 1710
19. current column: X225, NaN count: 1712
20. current column: X16, NaN count: 7003
21. current column: X286, NaN count: 1663
22. current column: X354, NaN count: 1626
23. current column: X353, NaN count: 1574
24. current column: X76, NaN count: 0
25. current column: X255, NaN count: 1578
26. current column: X106, NaN count: 0
27. current column: X393, NaN count: 1626
28. current column: X157, NaN count: 1735
29. current column: X323, NaN count: 1596
30. current column: X130, NaN count: 1524
31. current column: X269, NaN count: 1778
32. current column: X94, NaN count: 0
33. current column: X172, NaN count: 1856
34. current column: X289, NaN count: 1805
35. current column: X216, NaN count: 1585
36. current column: X123, NaN count: 0
37. current column: X398, NaN count: 1580
38. current column: X233, NaN count: 1487
39. current column: X214, NaN count: 1498
40. current column: X270, NaN count: 1758
41. current column: X371, NaN count: 1597
42. current column: X200, NaN count: 1738
43. current column: X111, NaN count: 0
44. current column: X163, NaN count: 1456
45. current column: X364, NaN count: 1550
46. current column: X378, NaN count: 1554
47. current column: X271, NaN count: 1821
48. current column: X462, NaN count: 1854
49. current column: X427, NaN count: 1569
50. current column: X73, NaN count: 5
51. current column: X7, NaN count: 7003
52. current column: X263, NaN count: 1681
53. current column: X450, NaN count: 1464
54. current column: X18, NaN count: 7003
55. current column: X206, NaN count: 1829
56. current column: X133, NaN count: 1475
57. current column: X41, NaN count: 7003
58. current column: X195, NaN count: 1563
59. current column: X155, NaN count: 2060
60. current column: X134, NaN count: 1489
61. current column: X297, NaN count: 1647
62. current column: X175, NaN count: 1806
63. current column: X254, NaN count: 1566
64. current column: X196, NaN count: 1588
65. current column: X481, NaN count: 4378
66. current column: X412, NaN count: 1508
67. current column: X337, NaN count: 1577
68. current column: X406, NaN count: 1491
69. current column: X67, NaN count: 0
70. current column: X414, NaN count: 1483
71. current column: X55, NaN count: 7003
72. current column: X91, NaN count: 0
73. current column: X260, NaN count: 1538
74. current column: X252, NaN count: 1591
75. current column: X5, NaN count: 7003
76. current column: X455, NaN count: 1844
77. current column: X43, NaN count: 7003
78. current column: X320, NaN count: 1636
79. current column: X276, NaN count: 1715
80. current column: X423, NaN count: 1597
81. current column: X218, NaN count: 1729
82. current column: X399, NaN count: 1521
83. current column: X213, NaN count: 1888
84. current column: X379, NaN count: 1492
85. current column: X468, NaN count: 1956
86. current column: X253, NaN count: 1623
87. current column: X247, NaN count: 1560
88. current column: X262, NaN count: 1701
89. current column: X248, NaN count: 1613
90. current column: X357, NaN count: 1563
91. current column: X215, NaN count: 1490
92. current column: X177, NaN count: 1885
93. current column: X228, NaN count: 1597
94. current column: X59, NaN count: 7003
95. current column: X10, NaN count: 7003
96. current column: X187, NaN count: 1723
97. current column: X245, NaN count: 1972
98. current column: X87, NaN count: 0
99. current column: X242, NaN count: 1929
100. current column: X376, NaN count: 1562
101. current column: X166, NaN count: 1481
102. current column: X472, NaN count: 1889
103. current column: X275, NaN count: 1589
104. current column: X126, NaN count: 0
105. current column: X120, NaN count: 0
106. current column: X313, NaN count: 1530
107. current column: X201, NaN count: 1881
108. current column: X110, NaN count: 0
109. current column: X408, NaN count: 1504
110. current column: X62, NaN count: 7003
111. current column: X419, NaN count: 1559
112. current column: X460, NaN count: 1498
113. current column: X367, NaN count: 1590
114. current column: X143, NaN count: 1751
115. current column: X312, NaN count: 1904
116. current column: X410, NaN count: 1570
117. current column: X389, NaN count: 1537
118. current column: X300, NaN count: 1549
119. current column: X61, NaN count: 7003
120. current column: X470, NaN count: 1886
121. current column: X445, NaN count: 1574
122. current column: X158, NaN count: 1929
123. current column: X421, NaN count: 1523
124. current column: X105, NaN count: 0
125. current column: X32, NaN count: 7003
126. current column: X178, NaN count: 1852
127. current column: X308, NaN count: 1526
128. current column: X217, NaN count: 1564
129. current column: X229, NaN count: 1464
130. current column: X358, NaN count: 1546
131. current column: X31, NaN count: 7003
132. current column: X148, NaN count: 1627
133. current column: X397, NaN count: 1499
134. current column: X363, NaN count: 1595
135. current column: X165, NaN count: 1655
136. current column: X30, NaN count: 7003
137. current column: X88, NaN count: 0
138. current column: X296, NaN count: 1674
139. current column: X219, NaN count: 1822
140. current column: X116, NaN count: 0
141. current column: X68, NaN count: 0
142. current column: X431, NaN count: 1581
143. current column: X302, NaN count: 1809
144. current column: X314, NaN count: 1581
145. current column: X124, NaN count: 0
146. current column: X405, NaN count: 1576
147. current column: X315, NaN count: 1570
148. current column: X51, NaN count: 7003
149. current column: X176, NaN count: 1659
150. current column: X396, NaN count: 1562
151. current column: X449, NaN count: 1616
152. current column: X383, NaN count: 1599
153. current column: X473, NaN count: 1598
154. current column: X205, NaN count: 1760
155. current column: X35, NaN count: 7003
156. current column: X161, NaN count: 1724
157. current column: X403, NaN count: 1497
158. current column: X341, NaN count: 1535
159. current column: X149, NaN count: 1608
160. current column: X82, NaN count: 0
161. current column: X377, NaN count: 1648
162. current column: X232, NaN count: 1586
163. current column: X333, NaN count: 1623
164. current column: X140, NaN count: 1744
165. current column: X44, NaN count: 7003
166. current column: X37, NaN count: 7003
167. current column: X42, NaN count: 7003
168. current column: X422, NaN count: 1444
169. current column: X50, NaN count: 7003
170. current column: X386, NaN count: 1574
171. current column: X80, NaN count: 0
172. current column: X250, NaN count: 1482
173. current column: X142, NaN count: 1887
174. current column: X235, NaN count: 1597
175. current column: X446, NaN count: 1570
176. current column: X331, NaN count: 1563
177. current column: X102, NaN count: 0
178. current column: X186, NaN count: 1648
179. current column: X243, NaN count: 1588
180. current column: X194, NaN count: 1410
181. current column: X183, NaN count: 1530
182. current column: X139, NaN count: 1863
183. current column: X459, NaN count: 1607
184. current column: X457, NaN count: 1554
185. current column: X70, NaN count: 0
186. current column: X368, NaN count: 1561
187. current column: X282, NaN count: 1864
188. current column: X426, NaN count: 1450
189. current column: X47, NaN count: 7003
190. current column: X192, NaN count: 1611
191. current column: X283, NaN count: 1450
192. current column: X329, NaN count: 1495
193. current column: X223, NaN count: 1567
194. current column: X266, NaN count: 1681
195. current column: X20, NaN count: 7003
196. current column: X443, NaN count: 1516
197. current column: X347, NaN count: 1536

198. current column: X75, NaN count: 0
199. current column: X107, NaN count: 0
200. current column: X230, NaN count: 1895
201. current column: month, NaN count: 0
202. current column: date, NaN count: 0

In [48]:
test2.tail()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X223,X266,X20,X443,X347,X75,X107,X230,month,date
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-30 19:00:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,0.286,...,0.479,0.858,11.546,0.428,0.134,3.519,0.027,0.286,6,30
2018-06-30 20:00:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,0.230,...,0.725,0.816,11.591,0.413,0.206,3.331,0.027,0.303,6,30
2018-06-30 21:00:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,0.346,...,0.426,0.659,10.766,0.466,0.324,3.416,0.026,0.253,6,30
2018-06-30 22:00:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,0.466,...,0.353,0.462,0.312,0.473,0.402,4.263,0.027,0.253,6,30
2018-06-30 23:00:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,0.405,...,0.349,0.792,0.309,0.519,0.334,0.784,0.027,0.310,6,30

In [49]:
test3 = test2.drop(columns=['month', 'date'])

In [50]:
test3.to_csv("data/데이콘전처리및시간별평균.csv")

<br>

### Dacon 중급 베이스코드 (test셋의 각 미터ID마다 ARIMA 단순 시계열 예측)

In [55]:
submission = pd.read_csv("data/submission.csv")

In [51]:
time = []; place_id = []; target = []

for i in test3.columns:
    for j in range(len(test3)):
        place_id.append(i)
        time.append(test3.index[j])
        target.append(test3[i].iloc[j])
new_df = pd.DataFrame({'place_id': place_id, 'time':time, 'target': target})
new_df = new_df.dropna()
new_df = new_df.set_index('time')
new_df.head()

                    place_id    target
time
2017-07-01 00:00:00      X26  1.187315
2017-07-01 01:00:00      X26  1.186123
2017-07-01 02:00:00      X26  1.168301
2017-07-01 03:00:00      X26  1.163425
2017-07-01 04:00:00      X26  1.398466

In [52]:
import itertools

In [53]:
p=d=q = range(0,2)
pdq = list(itertools.product(p,d,q))
pdq

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [54]:
def get_optimal_params(y):
    param_dict = {}
    for param in pdq:
        try:
            model = ARIMA(y, order=param)
            results_ARIMA = model.fit(disp=-1)
            param_dict[results_ARIMA.aic] = param
        except:
            continue

    min_aic = min(param_dict.keys())
    optimal_params = param_dict[min_aic]
    return optimal_params

In [56]:
# agg라는 dictionary를 생성하여, 각 미터ID를 key로, 예측시간 및 값 리스트를 value로 저장
agg={}

for key in new_df['place_id'].unique(): # 미터ID리스트를 unique()함수로 추출, for loop
    temp = new_df.loc[new_df['place_id']==key] # new_df에서 key와 일치하는 place_id를 가지는 부분을 temp에 할당
    temp_1h=temp.resample('1h').sum() # 1시간 단위 resampling(일종의 timeseries압축)
    temp_1day=temp.resample('D').sum() # 1일 단위 resampling

    # 1 시간별 예측
    model = ARIMA(temp_1h['target'],  # target 을 추측하고자 함
                  order=get_optimal_params(temp_1h['target'])) # AIC를 최소화하는 최적의 파라미터 
    results_ARIMA = model.fit(disp=-1)  
    fcst = results_ARIMA.forecast(24) # 24시간 예측

    a = pd.DataFrame() # a: 예측값을 담을 데이터프레임 생성
    
    for i in range(24):
        a['X2018_7_1_'+str(i+1)+'h']=[fcst[0][i]] # column명 지정 및 예측값 대입

        
    # 1 일별 예측
    model = ARIMA(temp_1day['target'], 
                  order=get_optimal_params(temp_1day['target'])) 
    results_ARIMA = model.fit(disp=-1)
    fcst = results_ARIMA.forecast(10) # 10일을 예측

    for i in range(10):
        a['X2018_7_'+str(i+1)+'_d']=[fcst[0][i]] # column명 지정 및 예측값 대입
    
    
    # 월별 예측
    # 일별 예측의 sum 사용
    fcst = results_ARIMA.forecast(153)
    
    # column명을 지정 및 예측값 대입
    a['X2018_7_m'] = [np.sum(fcst[0][:31])] # 7월 
    a['X2018_8_m'] = [np.sum(fcst[0][31:62])] # 8월
    a['X2018_9_m'] = [np.sum(fcst[0][62:92])] # 9월
    a['X2018_10_m'] = [np.sum(fcst[0][92:123])] # 10월
    a['X2018_11_m'] = [np.sum(fcst[0][123:153])] # 11월
    
    # a 에 meter_id를 현재 예측하고 있는 열의 id(key)로 대입
    a['meter_id'] = key 
    
    # agg{ 미터ID: 시간별(subimssion.columns는 예측시간칼럼들) a의 예측값}
    agg[key] = a[submission.columns.tolist()]
    print(key)
print('---- Modeling Done ----')

X26
X303

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X241
X435
X402
X352
X305
X350
X326
X299
X160
X125
X211
X349
X407
X330
X132
X231
X225
X16

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X286
X354
X353
X76

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X255
X106
X393
X157
X323
X130

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X269
X94

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X172
X289
X216
X123
X398

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X233

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X214
X270
X371
X200
X111

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X163
X364
X378
X271
X462
X427
X73
X7
X263
X450
X18
X206

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X133

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X41
X195
X155
X134
X297
X175

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X254
X196
X481

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X412
X337
X406
X67
X414
X55
X91
X260
X252
X5
X455

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

X43

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X320
X276
X423
X218
X399
X213

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:221: RuntimeWarning: divide by zero encountered in true_divide
  Z_mat, R_mat, T_mat)

X379
X468
X253
X247
X262
X248
X357
X215
X177
X228

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X59
X10
X187
X245

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X87
X242
X376
X166

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X472
X275
X126
X120
X313

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X201
X110
X408
X62

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X419
X460
X367
X143
X312

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X410
X389

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X300
X61

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X470
X445
X158

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X421
X105
X32

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X178

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X308
X217
X229
X358
X31
X148
X397
X363
X165
X30

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X88
X296

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X219
X116
X68

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X431

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X302

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X314

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X124
X405

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X315
X51
X176
X396

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X449

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X383

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X473

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X205

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X35
X161
X403
X341

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X149
X82

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X377
X232
X333
X140

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X44
X37
X42
X422
X50
X386

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X80
X250
X142
X235

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X446
X331
X102

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

X186
X243

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X194
X183
X139
X459
X457
X70

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

X368
X282
X426

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X47
X192
X283

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

X329
X223
X266
X20
X443
X347
X75
X107
X230
---- Modeling Done ----

In [57]:
output1 = pd.concat(agg, ignore_index = False)
output2 = output1.reset_index().drop(['level_0', 'level_1'], axis=1)
output2['id'] = output2['meter_id'].str.replace('X','').astype(int)
output2 = output2.sort_values(by='id', ascending=True).drop(['id'], axis=1).reset_index(drop=True)
output2.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.853865,6.662422,6.535229,6.450733,6.394607,6.357335,6.332590,6.316171,6.305283,...,151.158683,151.165313,151.188370,151.219687,151.255157,4700.315581,4734.280878,4617.861169,4809.298872,4690.459229
1,X7,1.258811,1.275497,1.289773,1.301985,1.312433,1.321372,1.329018,1.335560,1.341157,...,40.379062,40.218088,40.145693,40.118419,40.114129,1268.281864,1265.220188,1242.315948,1302.232771,1278.134577
2,X10,2.166754,2.297002,2.408627,2.504290,2.586275,2.656538,2.716753,2.768359,2.812586,...,73.933546,73.933546,73.933546,73.933546,73.933546,2303.938641,2291.939926,2218.006380,2291.939926,2218.006380
3,X16,3.294517,3.381436,3.454943,3.517108,3.569681,3.614141,3.651741,3.683540,3.710432,...,112.487417,112.467445,112.489420,112.529645,112.577808,3514.788117,3552.022597,3487.105302,3654.661693,3586.433459
4,X18,2.500809,2.510078,2.517351,2.523060,2.527539,2.531054,2.533812,2.535976,2.537673,...,61.992220,61.938487,61.909200,61.893237,61.884536,1923.494138,1918.097489,1856.223376,1918.097488,1856.223376

In [58]:
output2.to_csv('result/02.dacon전처리및시간별평균.csv', index=False)