In [2]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns
import itertools
%matplotlib inline
from matplotlib.pyplot import figure
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'Malgun Gothic' 
plt.rcParams["font.size"] = 10
%matplotlib inline 


from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA 

from sklearn.preprocessing import StandardScaler
import os

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

## Weather 추가변수
- 나중에 모델 돌릴때마다 df에 추가하는 것

In [4]:
# hourly WEATHER data
# w_hr = pd.read_csv("/kaggle/input/weather/hourly.csv",encoding='euc-kr', sep=',')
w_hr = pd.read_csv("data/weather/hourly.csv", sep=',', encoding='euc-kr')
w_hr2 = w_hr.loc[:,['Time', 'Temp','Humidity', 'WindSpeed']]
w_hr2['Humidity']=w_hr2.loc[:,'Humidity'].fillna(0)
w_hr2.head(2)

             Time  Temp  Humidity  WindSpeed
0  2016.7.20 0:00  25.7       0.0        1.3
1  2016.7.20 1:00  25.6       0.0        1.4

In [5]:
w_hr2['Time'] = pd.to_datetime(w_hr2.Time)
w_hr2 = w_hr2.set_index('Time')
w_hr2.head(2)

                     Temp  Humidity  WindSpeed
Time
2016-07-20 00:00:00  25.7       0.0        1.3
2016-07-20 01:00:00  25.6       0.0        1.4

## 파생 변수

In [6]:
# test = pd.read_csv("/kaggle/input/dataset/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [7]:
test.index = pd.to_datetime(test.index)
train.index = pd.to_datetime(train.index)

In [8]:
def dateTimeVar(df):
    df1 = pd.DataFrame(df.index)
    df1.index = pd.to_datetime(df1.iloc[:,0])
    df1 = df1.drop(columns=df1.columns)
    # datetime을 사용한 파생변수
    # 연도, 월, 일, 요일, 시간
    df1['Mth']= df1.index.month
    df1['Date']=df1.index.day
    df1['Day']=df1.index.weekday
    df1['hour']=df1.index.hour
    
    # Season 1: 봄 ~ 4: 겨울 
    df1['season'] = df1.Mth.apply(lambda x: 4 if x in [12,1,2] else 
                1 if x in [3,4,5] else 2 if x in [6,7,8]
               else 3)
    # dayClass 1: 월, 2: 화~금, 3: 토, 일 
    # 참조 from 실시간 수요예측 기법 개발 및 온라인 수요예측 방안 연구_KPX 한국전력거래소)
    df1['dayClass'] = df1.Day.apply(lambda x: 1 if x ==0 else 
                2 if x in [1,2,3,4] else 3)
    return df1

In [9]:
TE_time_vars = dateTimeVar(test)

In [10]:
TE_time_vars.head(5)

                     Mth  Date  Day  hour  season  dayClass
Time
2017-08-29 10:00:00    8    29    1    10       2         2
2017-08-29 11:00:00    8    29    1    11       2         2
2017-08-29 12:00:00    8    29    1    12       2         2
2017-08-29 13:00:00    8    29    1    13       2         2
2017-08-29 14:00:00    8    29    1    14       2         2

## Make DUMMIES

In [11]:
test.head(2)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667
2017-08-29 11:00:00,1.458903,0.398,0.293,0.358,0.350,0.232,0.253,0.260,0.168,0.084,...,0.163,0.086,0.288,0.342010,1.150483,0.196,0.343,1.109,0.225,0.29667

In [12]:
TE_time_vars.head(2)

                     Mth  Date  Day  hour  season  dayClass
Time
2017-08-29 10:00:00    8    29    1    10       2         2
2017-08-29 11:00:00    8    29    1    11       2         2

In [13]:
def dummies(df, dum_lst):
    df1 = df.copy()
    # dum_lst에 들어있는 각각의 변수마다 
    # tmp = get_dummies, 해당 original 변수는 drop
    # tmp와 변수가 drop된 df를 join 후 리턴
    for v in dum_lst:
        tmp = pd.get_dummies(df1[v], prefix=v)
        df1 = df1.drop(columns=v).join(tmp)
    return df1

In [14]:
TE_timeV_dum = dummies(TE_time_vars, ['season', 'dayClass'])

In [15]:
TE_timeV_dum_wthr= pd.concat([TE_timeV_dum, w_hr2], axis=1,join='inner')

In [16]:
TE_timeV_dum_wthr.head(10)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0
2017-08-29 11:00:00,8,29,1,11,0,1,0,0,0,1,0,19.7,0.0,4.7
2017-08-29 12:00:00,8,29,1,12,0,1,0,0,0,1,0,19.4,0.0,4.8
2017-08-29 13:00:00,8,29,1,13,0,1,0,0,0,1,0,19.8,0.0,4.5
2017-08-29 14:00:00,8,29,1,14,0,1,0,0,0,1,0,20.5,0.0,3.4
2017-08-29 15:00:00,8,29,1,15,0,1,0,0,0,1,0,20.6,0.0,4.0
2017-08-29 16:00:00,8,29,1,16,0,1,0,0,0,1,0,22.2,0.0,5.2
2017-08-29 17:00:00,8,29,1,17,0,1,0,0,0,1,0,21.7,0.0,5.5
2017-08-29 18:00:00,8,29,1,18,0,1,0,0,0,1,0,21.2,0.0,5.3
2017-08-29 19:00:00,8,29,1,19,0,1,0,0,0,1,0,19.6,0.0,5.9

# Modeling

* test : TEST셋의 순수한 meterIDs Time series (NA값 채워짐) 
* TE_timeV_dum: TEST셋의 시간파생변수 + dummy variables

In [17]:
test.head(1)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667

In [18]:
TE_timeV_dum_wthr.head(1)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0

<br><br><br>


## Random sample 된 30개만 돌리기 (06.20~30 예측)

In [19]:
rs = pd.read_csv("data/train_all.csv", index_col=0, sep=',')
ids = rs.columns

In [20]:
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [21]:
te = ['X41','X50','X30', 'X37', 'X18','X231', 'X116', 'X149', 'X371', 'X218']
tr = ['X40', 'X84' ,'X77', 'X93', 'X89' ,'X15', 'X23', 'X60', 'X27', 'X6','X610' ,'X1362' ,'X476', 'X237' ,'X1032', 'X1287', 'X428', 'X768', 'X989' ,'X616']

In [22]:
test.loc[:,te].head(2)

,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,
2017-08-29 10:00:00,2.167430,4.171678,3.498120,3.816439,2.518855,0.216611,0.602,0.255,0.214,0.332322
2017-08-29 11:00:00,2.159356,4.122120,3.461189,3.801315,2.519404,0.216574,0.602,0.428,0.256,0.332338

In [23]:
train.loc[:,tr]

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,X610,X1362,X476,X237,X1032,X1287,X428,X768,X989,X616
Time,,,,,,,,,,,,,,,,,,,,
2018-02-15 00:00:00,10.592437,0.164,0.561,0.340,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.066000,0.132000,0.091000,0.318000,0.277000,0.096000,0.020000,1.339000,0.113000,0.351000
2018-02-15 01:00:00,10.592437,0.161,0.486,0.344,1.394,2.284564,2.691859,2.094527,4.322733,4.749095,0.126000,0.278000,0.244000,0.202000,0.474000,0.338000,0.206000,0.599000,0.178000,1.495000
2018-02-15 02:00:00,10.592437,0.123,0.569,0.350,1.407,2.284564,2.691859,2.094527,4.322733,4.749095,0.227000,0.282000,0.252000,0.190000,0.302000,0.222000,0.134000,0.515000,0.223000,0.859000
2018-02-15 03:00:00,10.592437,0.115,0.590,0.333,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.125000,0.286000,0.254000,0.163000,0.349000,0.282000,0.223000,0.458000,0.186000,0.492000
2018-02-15 04:00:00,10.592437,0.130,0.519,0.345,1.401,2.284564,2.691859,2.094527,4.322733,4.749095,0.135000,0.266000,0.251000,0.196000,0.305000,0.257000,0.266000,0.415000,0.212000,0.471000
2018-02-15 05:00:00,10.592437,0.113,0.517,0.347,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.087000,0.292000,0.241000,0.198000,0.284000,0.258000,0.083000,0.475000,0.207000,0.374000
2018-02-15 06:00:00,10.592437,0.116,0.501,0.342,1.409,2.284564,2.691859,2.094527,4.322733,4.749095,0.104000,0.288000,0.423000,0.183000,0.313000,0.215000,0.089000,0.564000,0.290000,0.315000
2018-02-15 07:00:00,10.592437,0.114,0.556,0.337,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.568000,0.615000,0.665000,0.150000,0.500000,0.218000,0.101000,0.479000,0.320000,0.355000
2018-02-15 08:00:00,10.592437,0.131,0.539,0.345,1.382,2.284564,2.691859,2.094527,4.322733,4.749095,0.677000,0.402000,0.916000,0.193000,0.352000,0.253000,0.335000,0.563000,0.828000,1.154000
2018-02-15 09:00:00,10.592437,0.223,0.511,0.346,1.397,2.284564,2.691859,2.094527,4.322733,4.749095,0.441000,0.407000,0.785000,0.230000,0.258000,0.246000,0.358000,0.263000,0.601000,2.718000
2018-02-15 10:00:00,10.592437,3.154,8.900,0.329,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.575000,0.343000,0.781000,0.362000,0.617000,0.244000,0.225000,0.201000,0.382000,1.751000
2018-02-15 11:00:00,10.592437,0.242,9.145,0.342,1.387,2.284564,2.691859,2.094527,4.322733,4.749095,0.421000,0.348000,0.694000,0.162000,0.564000,0.238000,0.350000,0.183000,0.205000,0.773000
2018-02-15 12:00:00,10.592437,2.863,9.223,0.343,1.405,2.284564,2.691859,2.094527,4.322733,4.749095,0.352000,0.325000,0.734000,0.208000,0.492000,0.257000,0.446000,0.148000,0.251000,1.437000
2018-02-15 13:00:00,10.592437,7.108,9.181,0.391,1.393,2.284564,2.691859,2.094527,4.322733,4.749095,0.348000,0.331000,0.664000,0.220000,0.615000,0.253000,0.092000,0.192000,0.128000,1.074000
2018-02-15 14:00:00,10.592437,8.005,9.146,0.361,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.345000,0.329000,0.673000,0.160000,0.788000,0.254000,0.072000,0.153000,0.252000,1.486000
2018-02-15 15:00:00,10.592437,8.112,9.169,0.342,1.393,2.284564,2.691859,2.094527,4.322733,4.749095,0.102000,0.384000,0.699000,0.146000,1.099000,0.275000,0.085000,0.140000,0.341000,1.125000
2018-02-15 16:00:00,10.592437,8.062,9.180,0.340,1.403,2.284564,2.691859,2.094527,4.322733,4.749095,0.083000,0.450000,0.682000,0.190000,0.653000,0.369000,0.084000,0.144000,0.396000,0.826000
2018-02-15 17:00:00,10.592437,7.746,8.307,0.326,1.427,2.284564,2.691859,2.094527,4.322733,4.749095,0.074000,0.395000,0.689000,0.189000,0.446000,0.477000,0.080000,0.137000,0.376000,0.983000
2018-02-15 18:00:00,10.592437,7.741,0.494,0.344,1.505,2.284564,2.691859,2.094527,4.322733,4.749095,0.071000,0.481000,0.684000,0.155000,0.431000,0.546000,0.228000,0.182000,1.228000,1.982000
2018-02-15 19:00:00,10.592437,7.368,0.545,0.341,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.167000,0.451000,0.897000,0.143000,0.436000,0.230000,0.383000,0.126000,1.252000,1.888000
2018-02-15 20:00:00,10.592437,3.248,0.493,0.334,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.044000,0.156000,0.777000,0.201000,0.147000,0.081000,0.140000,0.041000,0.423000,0.490000
2018-02-15 21:00:00,10.592437,1.778,0.515,0.338,1.492,2.284564,2.691859,2.094527,4.322733,4.749095,0.082000,0.417000,0.659000,0.170000,0.637000,0.373000,0.499000,0.113000,0.435000,1.457000
2018-02-15 22:00:00,10.592437,6.837,0.523,0.345,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.075000,0.212150,0.472307,0.140000,0.277946,0.185997,0.114000,0.144000,0.353092,0.808213
2018-02-15 23:00:00,10.592437,6.686,0.478,0.338,1.486,2.284564,2.691859,2.094527,4.322733,4.749095,0.231365,0.179850,0.371693,0.177000,0.249054,0.212003,0.232985,0.435040,0.286908,0.646787
2018-02-16 00:00:00,10.592437,5.773,0.556,0.339,1.398,2.284564,2.691859,2.094527,4.322733,4.749095,0.029000,0.147000,0.334000,0.189000,0.225000,0.090000,0.052000,0.056000,0.126000,1.808000
2018-02-16 01:00:00,10.592437,0.207,0.499,0.343,1.379,2.284564,2.691859,2.094527,4.322733,4.749095,0.073000,0.333000,0.687000,0.143000,0.635000,0.249000,0.090000,0.157000,0.127000,1.019000
2018-02-16 02:00:00,10.592437,0.206,0.487,0.341,1.419,2.284564,2.691859,2.094527,4.322733,4.749095,0.061000,0.325000,0.642000,0.272000,0.226000,0.323000,0.089000,0.143000,0.245000,0.709000
2018-02-16 03:00:00,10.592437,0.127,0.555,0.336,1.408,2.284564,2.691859,2.094527,4.322733,4.749095,0.069000,0.310000,0.583000,0.172000,0.250000,0.278000,0.089000,0.108000,0.165000,0.593000
2018-02-16 04:00:00,10.592437,0.113,0.538,0.348,1.399,2.284564,2.691859,2.094527,4.322733,4.749095,0.072000,0.316000,0.574000,0.193000,0.215000,0.265000,0.087000,0.147000,0.366000,0.399000
2018-02-16 05:00:00,10.592437,0.139,0.519,0.340,1.374,2.284564,2.691859,2.094527,4.322733,4.749095,0.060000,0.303000,0.575000,0.158000,0.206000,0.469000,0.084000,0.140000,0.230000,0.316000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-29 16:00:00,18.573000,5.827,0.087,2.643,6.440,3.077000,12.631000,0.897000,6.834000,4.228000,0.243089,0.378881,0.274447,0.262395,0.619120,0.250127,0.404855,0.295106,0.465854,0.867164
2018-06-29 17:00:00,18.580000,5.876,0.086,2.689,6.704,3.309000,12.200000,1.284000,7.844000,5.062000,0.376303,0.406150,0.287178,0.303871,0.475857,0.196774,0.395073,0.219658,0.524346,0.798095
2018-06-29 18:00:00,18.543000,5.673,0.156,1.517,6.602,3.984000,10.168000,1.292000,8.073000,6.150000,0.274122,0.453621,0.313430,0.478915,0.434274,0.226536,0.393910,0.400735,0.664122,1.087474
2018-06-29 19:00:00,15.143000,1.039,0.147,0.343,5.752,3.987000,8.032000,1.597000,9.358000,6.870000,0.316127,0.480895,0.320903,0.556380,0.494517,0.256313,0.412254,0.827199,0.617597,1.282298
2018-06-29 20:00:00,15.558000,2.576,0.135,0.409,5.412,3.990000,8.588000,5.206000,7.631000,6.875000,0.387130,0.482121,0.308427,0.725772,0.728233,0.401991,0.361081,0.647601,0.657570,1.716603
2018-06-29 21:00:00,14.979000,3.832,0.091,0.363,3.621,3.984000,7.941000,8.735000,8.224000,6.591000,0.336077,0.466538,0.418673,0.607381,0.681328,0.393792,0.422324,0.572213,0.546670,1.505702
2018-06-29 22:00:00,16.243000,3.532,0.086,0.342,1.455,3.965000,0.503000,5.614000,3.781000,6.955000,0.234793,0.409340,0.384900,0.625847,0.755439,0.412217,0.335595,0.468185,0.559760,1.648695
2018-06-29 23:00:00,16.655000,4.643,0.086,0.394,1.427,3.870000,0.135000,5.493000,2.112000,6.783000,0.035000,0.088000,0.057000,0.133882,0.250000,0.076000,0.042000,0.132000,0.083000,0.324000
2018-06-30 02:00:00,14.620000,0.220,0.100,0.345,1.383,1.314000,0.407000,0.882000,0.982000,6.336000,0.087000,0.183000,0.127000,0.112000,0.388000,0.097000,0.067000,0.120000,0.109000,0.182000
2018-06-30 03:00:00,9.068000,0.238,0.102,0.379,1.338,1.314000,0.255000,1.036000,0.894000,6.437000,0.170000,0.363000,0.261000,0.253000,0.354000,0.202000,0.105000,0.265000,0.307000,0.437000
2018-06-30 04:00:00,3.512000,0.238,0.086,0.402,1.352,1.314000,0.207000,1.156000,1.017000,6.637000,0.094000,0.299000,0.264000,0.244000,0.280000,0.192000,0.109000,0.246000,0.221000,0.467000
2018-06-30 05:00:00,3.445000,0.151,0.085,0.350,1.338,1.313000,0.133000,0.938000,0.945000,5.968000,0.095000,0.312000,0.210000,0.162000,0.316000,0.659000,0.120000,0.265000,0.272000,0.285000
2018-06-30 06:00:00,3.429000,0.160,0.085,0.356,1.367,1.314000,0.392000,0.697000,0.939000,5.529000,0.094000,0.359000,0.231000,0.235000,0.278000,0.355000,0.131000,0.376000,0.209000,0.198000
2018-06-30 07:00:00,4.437000,0.196,0.085,0.320,1.358,1.313000,0.427000,1.917000,0.925000,5.047000,0.107000,0.281000,0.489000,0.276000,0.331000,0.318000,0.277000,0.422000,0.291000,0.194000
2018-06-30 08:00:00,8.780000,0.220,0.096,0.366,1.351,2.314000,0.882000,0.888000,1.329000,5.059000,0.533000,0.367000,0.389000,0.179000,0.270000,0.251000,0.238000,0.716000,1.460000,0.183000
2018-06-30 09:00:00,11.570000,0.158,0.102,0.378,1.347,3.066000,1.408000,0.903000,3.237000,5.083000,0.267000,0.277000,0.306000,0.287000,0.270000,0.326000,0.402000,0.265000,0.641000,0.396000
2018-06-30 10:00:00,15.510000,3.472,0.103,0.373,1.344,3.071000,1.273000,1.268000,3.789000,5.734000,0.311000,0.394000,0.301000,0.355000,0.268000,0.288000,0.269000,0.264000,0.840000,0.235000
2018-06-30 11:00:00,15.636000,5.434,0.087,0.394,1.370,3.073000,5.600000,1.174000,6.360000,5.422000,0.123000,0.398000,0.319000,0.392000,0.409000,0.444000,0.248000,0.368000,0.412000,0.339000
2018-06-30 12:00:00,17.966000,5.302,0.085,0.417,1.366,3.085000,8.403000,1.160000,9.429000,5.499000,0.114000,0.384000,0.279000,0.626000,1.069000,0.390000,0.294000,0.324000,0.791000,0.846000
2018-06-30 13:00:00,17.631000,5.804,0.087,0.356,1.356,3.081000,13.882000,0.782000,7.858000,5.409000,0.122000,0.390000,0.276000,2.156000,0.822000,0.235000,0.360000,0.262000,0.533000,0.909000
2018-06-30 14:00:00,21.189000,6.013,0.086,0.681,1.361,3.623000,14.818000,0.844000,7.223000,5.164000,0.212000,0.416000,0.264000,0.483000,0.836000,0.253000,0.355000,0.257000,0.434000,1.058000
2018-06-30 15:00:00,18.964000,5.825,0.102,1.091,1.352,3.995000,14.566000,0.799000,7.029000,5.119000,0.124000,0.365000,0.361000,0.338000,0.721000,0.231000,0.690000,0.265000,0.530000,1.277000
2018-06-30 16:00:00,19.529000,6.483,0.106,0.497,1.358,3.990000,11.509000,1.297000,7.197000,4.455000,0.619000,0.416000,0.255000,0.857000,0.402000,0.242000,0.474000,0.259000,0.460000,1.357000
2018-06-30 17:00:00,19.157000,6.485,0.100,0.346,1.366,3.983000,14.730000,1.295000,7.432000,5.360000,0.259000,0.436000,0.236000,1.407000,0.430000,0.229000,0.480000,0.313000,0.415000,1.269000
2018-06-30 18:00:00,18.449000,5.797,0.087,0.325,1.368,3.987000,14.541000,1.383000,5.919000,6.275000,0.199000,0.276000,0.476000,0.273000,0.396000,0.309000,0.289000,0.284000,0.402000,0.326000
2018-06-30 19:00:00,18.994000,6.334,0.089,0.390,1.406,3.998000,11.809000,1.583000,3.591000,7.383000,0.460000,0.421000,0.310000,0.257000,0.430000,0.295000,0.449000,0.262000,0.505000,0.329000
2018-06-30 20:00:00,19.386000,5.862,0.086,0.446,1.446,4.004000,0.441000,5.802000,2.700000,7.122000,0.382000,0.491000,0.374000,0.252000,0.466000,0.287000,0.387000,0.254000,0.628000,0.340000
2018-06-30 21:00:00,17.600000,3.686,0.089,0.400,1.467,4.001000,0.220000,8.904000,2.833000,6.934000,0.454000,0.480000,0.349000,0.345000,0.528000,0.433000,0.357000,0.241000,0.593000,0.525000
2018-06-30 22:00:00,16.836000,3.158,0.104,0.339,1.451,4.004000,0.372000,9.916000,1.781000,7.371000,0.229000,0.443000,0.371000,0.462000,0.406000,0.384000,0.246000,0.259000,0.666000,0.601000
2018-06-30 23:00:00,17.057000,4.903,0.104,0.354,1.438,3.812000,0.132000,9.984000,1.220000,6.856000,0.174000,0.378000,0.367000,0.512000,0.590000,0.343000,0.120000,0.322000,0.320000,0.695000

In [24]:
test.loc['2018-02-15 00:00:00':,te]

,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,
2018-02-15 00:00:00,2.371049,6.545218,4.803182,4.499756,2.495460,0.327000,0.199,0.261000,0.142000,0.361000
2018-02-15 01:00:00,2.334381,5.984280,4.529291,4.341709,2.500658,0.202000,0.168,0.391000,0.319000,0.241000
2018-02-15 02:00:00,2.302862,5.544196,4.305131,4.216720,2.504838,0.213000,0.123,0.248000,0.306000,0.284000
2018-02-15 03:00:00,2.275769,5.198929,4.121671,4.117873,2.508198,0.154000,0.113,0.215000,0.280000,0.295000
2018-02-15 04:00:00,2.252481,4.928049,3.971522,4.039701,2.510895,0.141000,0.167,0.211000,0.294000,0.267000
2018-02-15 05:00:00,2.232463,4.715530,3.848635,3.977879,2.513058,0.154000,0.182,0.219000,0.433000,0.347000
2018-02-15 06:00:00,2.215256,4.548798,3.748061,3.928988,2.514790,0.150000,0.226,0.214000,0.300000,0.706000
2018-02-15 07:00:00,2.200466,4.417989,3.665748,3.890323,2.516175,0.186000,0.115,0.266000,0.418000,0.514000
2018-02-15 08:00:00,2.187752,4.315363,3.598380,3.859746,2.517280,0.134000,0.115,0.404000,0.400000,0.675000
2018-02-15 09:00:00,2.176824,4.234847,3.543245,3.835564,2.518159,0.151000,0.168,0.354000,0.535000,1.224000
2018-02-15 10:00:00,2.167430,4.171678,3.498120,3.816439,2.518855,0.144000,0.164,0.275000,0.575000,0.512000
2018-02-15 11:00:00,2.159356,4.122120,3.461189,3.801315,2.519404,0.142000,0.235,0.408000,0.423000,0.904000
2018-02-15 12:00:00,2.152415,4.083238,3.430963,3.789355,2.519835,0.206000,0.113,0.416000,0.661000,0.497000
2018-02-15 13:00:00,2.146449,4.052734,3.406225,3.779896,2.520170,0.148000,0.114,0.635000,0.466000,0.711000
2018-02-15 14:00:00,2.141321,4.028802,3.385979,3.772415,2.520428,0.409000,0.167,1.486000,0.409000,0.565000
2018-02-15 15:00:00,2.136913,4.010025,3.369409,3.766499,2.520624,0.184000,0.179,1.997000,0.402000,0.441000
2018-02-15 16:00:00,2.133123,3.995295,3.355848,3.761820,2.520770,0.177000,0.184,0.937000,0.578000,0.709000
2018-02-15 17:00:00,2.129866,3.983738,3.344749,3.758120,2.520875,0.711000,0.147,0.480000,0.566000,0.701000
2018-02-15 18:00:00,2.127067,3.974671,3.335665,3.755194,2.520947,0.397000,0.113,0.647000,0.559000,2.039000
2018-02-15 19:00:00,2.124660,3.967557,3.328231,3.752880,2.520993,0.386000,0.167,0.640000,0.583000,0.847000
2018-02-15 20:00:00,2.122592,3.961976,3.322146,3.751050,2.521018,0.385000,0.190,0.500000,0.253000,0.540000
2018-02-15 21:00:00,2.120814,3.957598,3.317166,3.749603,2.521026,0.366000,0.168,0.599000,0.582000,0.520000
2018-02-15 22:00:00,2.119285,3.954162,3.313091,3.748458,2.521020,0.395000,0.148,0.594000,0.263550,0.416000
2018-02-15 23:00:00,2.117972,3.951467,3.309755,3.747553,2.521003,0.488000,0.118,0.358000,0.243450,0.353000
2018-02-16 00:00:00,2.371049,6.545218,4.803182,4.499756,2.495460,0.224000,0.163,0.191000,0.161000,0.230000
2018-02-16 01:00:00,2.334381,5.984280,4.529291,4.341709,2.500658,0.131000,0.191,0.194000,0.409000,0.245000
2018-02-16 02:00:00,2.302862,5.544196,4.305131,4.216720,2.504838,0.129000,0.168,0.189000,0.358000,0.347000
2018-02-16 03:00:00,2.275769,5.198929,4.121671,4.117873,2.508198,0.155000,0.113,0.201000,0.306000,0.260000
2018-02-16 04:00:00,2.252481,4.928049,3.971522,4.039701,2.510895,0.189000,0.192,0.190000,0.330000,0.280000
2018-02-16 05:00:00,2.232463,4.715530,3.848635,3.977879,2.513058,0.189000,0.143,0.190000,0.298000,0.360000
...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,2.355000,15.415000,17.105000,4.578000,2.532000,0.267259,0.221,0.291460,0.447492,0.228094
2018-06-29 19:00:00,2.318000,12.638000,13.212000,7.407000,2.524000,0.308706,0.206,0.475391,0.483082,0.474253
2018-06-29 20:00:00,2.236000,10.939000,12.781000,9.560000,2.508000,0.379719,0.177,0.729524,0.433335,0.965936
2018-06-29 21:00:00,2.275000,7.216000,9.197000,7.907000,2.525000,0.413473,0.125,0.669142,0.517561,0.855677
2018-06-29 22:00:00,2.370000,6.527000,5.359000,12.199000,2.469000,0.470807,0.108,0.603334,0.488104,0.566388
2018-06-29 23:00:00,2.607000,6.577000,3.251000,11.825000,2.501000,0.092000,0.172,0.085000,0.115000,0.142000
2018-06-30 00:00:00,2.606000,6.493000,1.940000,10.739000,2.535000,0.252348,0.210,0.363205,0.435221,0.322871
2018-06-30 01:00:00,2.736000,6.189000,0.395000,6.727000,2.540000,0.236122,0.229,0.345738,0.394364,0.327677
2018-06-30 02:00:00,2.652000,4.934000,0.386000,4.320000,2.509000,0.085000,0.204,0.146000,0.126000,0.265000
2018-06-30 03:00:00,2.639000,5.839000,0.392000,4.743000,2.518000,0.143000,0.176,0.272000,0.264000,0.585000
2018-06-30 04:00:00,2.728000,5.366000,0.427000,2.764000,2.534000,0.146000,0.219,0.215000,0.241000,0.861000
2018-06-30 05:00:00,2.564000,5.264000,0.376000,2.119000,2.610000,0.153000,0.228,0.240000,0.244000,0.572000
2018-06-30 06:00:00,0.965000,5.000000,0.375000,2.142000,2.812000,0.134000,0.174,0.235000,0.303000,0.416000
2018-06-30 07:00:00,0.420000,4.464000,0.376000,2.319000,2.665000,0.163000,0.189,0.469000,0.285000,0.446000
2018-06-30 08:00:00,0.430000,3.544000,0.363000,2.109000,2.617000,0.170000,0.109,0.311000,0.382000,0.276000
2018-06-30 09:00:00,0.408000,3.712000,0.587000,2.419000,2.591000,0.132000,0.165,0.264000,0.386000,0.252000
2018-06-30 10:00:00,0.428000,3.938000,4.177000,2.487000,2.574000,0.182000,0.140,0.490000,0.551000,0.333000
2018-06-30 11:00:00,0.401000,5.121000,7.647000,2.555000,2.607000,0.352000,0.212,0.423000,0.366000,0.227000
2018-06-30 12:00:00,0.543000,7.253000,15.657000,2.231000,2.567000,0.327000,0.249,0.401000,0.286000,0.160000
2018-06-30 13:00:00,2.262000,4.496000,14.683000,2.260000,2.993000,0.211000,0.194,0.378000,0.364000,0.187000
2018-06-30 14:00:00,2.399000,10.362000,10.289000,2.406000,3.191000,0.178000,0.213,0.397000,0.336000,0.180000
2018-06-30 15:00:00,2.432000,11.723000,12.288000,2.564000,3.232000,0.240000,0.231,0.370000,0.262000,0.171000
2018-06-30 16:00:00,2.382000,13.150000,12.981000,9.412000,3.225000,0.452000,0.191,0.383000,0.250000,0.202000
2018-06-30 17:00:00,2.436000,17.210000,13.854000,11.142000,3.251000,0.288000,0.176,0.400000,0.442000,0.177000
2018-06-30 18:00:00,2.456000,17.360000,13.029000,11.331000,2.764000,0.216000,0.203,0.444000,0.276000,0.250000
2018-06-30 19:00:00,2.637000,16.197000,10.449000,11.747000,2.490000,0.172000,0.155,0.515000,0.360000,0.228000
2018-06-30 20:00:00,2.503000,14.835000,9.357000,11.959000,2.514000,0.256000,0.093,0.510000,0.391000,0.304000
2018-06-30 21:00:00,2.527000,11.237000,15.048000,10.791000,2.527000,0.467000,0.137,0.412000,0.321000,0.524000
2018-06-30 22:00:00,2.428000,10.157000,8.946000,9.375000,2.520000,0.390000,0.203,0.398000,0.271000,0.359000
2018-06-30 23:00:00,2.399000,7.714000,5.347000,5.368000,2.489000,0.282000,0.184,0.395000,0.515000,0.313000

In [27]:
data = pd.concat([train.loc[:, tr], test.loc['2018-02-15 00:00:00':,te]], axis=1 )
data.index = pd.to_datetime(data.index)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [28]:
hourly = pd.read_csv("data/TRAIN_DHWonDacon_24시간예측.csv",index_col=0)
hourly.head(2)

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
1,0.374392,0.444582,0.577257,0.239870,0.358361,0.523760,0.634239,0.356952,0.265332,0.234563,...,0.440065,0.421038,0.329439,0.351530,0.578465,0.649527,0.640117,7.835084,0.331562,0.371070
2,0.366835,0.422568,0.556617,0.211252,0.310659,0.447532,0.482711,0.331569,0.265641,0.213087,...,0.416521,0.426182,0.321118,0.289726,0.486627,0.600352,0.603710,7.066954,0.338846,0.350562

In [31]:
data2 = data.copy()

In [32]:
data3 = pd.DataFrame()   # 새로운 데이터프레임 생성
n=0  # 현재 칼럼카운트를 보여주기 위한 변수

# 미터ID 리스트 c에서 1개씩 for loop
for i in data2.columns:
    if i in hourly.columns:
        n +=1   # 카운트 
        li = data2[data2[i].isnull()].index   # li: test데이터프레임의 특정 열(i)에서 Null인 셀 index추출 
        df = pd.DataFrame(data2[i])    # df: test의 i열을 별개 데이터프레임으로 생성
        print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
        for t in li:    #  li(Null 인덱스)를 사용해 for loop
            df.loc[t] = hourly.loc[:,i].iloc[t.hour]  # null값에 t.hour 평균 대입
        data3 = pd.concat([data3,df], axis=1)   # 평균 대치가 끝난 df를 test2에 concat해준다.

1. current column: X40, NaN count: 116
2. current column: X84, NaN count: 116
3. current column: X77, NaN count: 116
4. current column: X93, NaN count: 116
5. current column: X89, NaN count: 116
6. current column: X15, NaN count: 116
7. current column: X23, NaN count: 116
8. current column: X60, NaN count: 116
9. current column: X27, NaN count: 116
10. current column: X6, NaN count: 116
11. current column: X610, NaN count: 116
12. current column: X1362, NaN count: 116
13. current column: X476, NaN count: 116
14. current column: X237, NaN count: 116
15. current column: X1032, NaN count: 116
16. current column: X1287, NaN count: 116
17. current column: X428, NaN count: 116
18. current column: X768, NaN count: 116
19. current column: X989, NaN count: 116
20. current column: X616, NaN count: 116

In [33]:
train_data = pd.concat([data3, test.loc['2018-02-15 00:00:00':,te]], axis=1 )
train_data.index = pd.to_datetime(train_data.index)
train_data.head(3)

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
2018-02-15 00:00:00,10.592437,0.164,0.561,0.340,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.371049,6.545218,4.803182,4.499756,2.495460,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,10.592437,0.161,0.486,0.344,1.394,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.334381,5.984280,4.529291,4.341709,2.500658,0.202,0.168,0.391,0.319,0.241
2018-02-15 02:00:00,10.592437,0.123,0.569,0.350,1.407,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.302862,5.544196,4.305131,4.216720,2.504838,0.213,0.123,0.248,0.306,0.284

In [34]:
train_data.isnull().sum()

X40      0
X84      0
X77      0
X93      0
X89      0
X15      0
X23      0
X60      0
X27      0
X6       0
X610     0
X1362    0
X476     0
X237     0
X1032    0
X1287    0
X428     0
X768     0
X989     0
X616     0
X41      0
X50      0
X30      0
X37      0
X18      0
X231     0
X116     0
X149     0
X371     0
X218     0
dtype: int64

In [35]:
train = train_data.loc[:'2018-06-20 23:00:00', :]
train.head()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
2018-02-15 00:00:00,10.592437,0.164,0.561,0.340,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.371049,6.545218,4.803182,4.499756,2.495460,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,10.592437,0.161,0.486,0.344,1.394,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.334381,5.984280,4.529291,4.341709,2.500658,0.202,0.168,0.391,0.319,0.241
2018-02-15 02:00:00,10.592437,0.123,0.569,0.350,1.407,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.302862,5.544196,4.305131,4.216720,2.504838,0.213,0.123,0.248,0.306,0.284
2018-02-15 03:00:00,10.592437,0.115,0.590,0.333,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.275769,5.198929,4.121671,4.117873,2.508198,0.154,0.113,0.215,0.280,0.295
2018-02-15 04:00:00,10.592437,0.130,0.519,0.345,1.401,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.252481,4.928049,3.971522,4.039701,2.510895,0.141,0.167,0.211,0.294,0.267

In [36]:
train.isnull().sum()

X40      0
X84      0
X77      0
X93      0
X89      0
X15      0
X23      0
X60      0
X27      0
X6       0
X610     0
X1362    0
X476     0
X237     0
X1032    0
X1287    0
X428     0
X768     0
X989     0
X616     0
X41      0
X50      0
X30      0
X37      0
X18      0
X231     0
X116     0
X149     0
X371     0
X218     0
dtype: int64

In [37]:
features = TE_timeV_dum_wthr.loc['2018-02-15 00:00:00':'2018-06-20 23:00:00', :]
features.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2018-02-15 00:00:00,2,15,3,0,0,0,0,1,0,1,0,-1.0,0.0,5.0
2018-02-15 01:00:00,2,15,3,1,0,0,0,1,0,1,0,-1.2,0.0,3.4
2018-02-15 02:00:00,2,15,3,2,0,0,0,1,0,1,0,-1.2,0.0,3.9
2018-02-15 03:00:00,2,15,3,3,0,0,0,1,0,1,0,-1.5,0.0,3.5
2018-02-15 04:00:00,2,15,3,4,0,0,0,1,0,1,0,-1.9,0.0,5.3

In [38]:
test_real = train_data.loc['2018-06-21 00:00:00':, :]
test_real.head()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
2018-06-21 00:00:00,10.500,0.278,0.102,0.363,1.434,0.334,0.314,5.918,1.828,7.190,...,2.752,5.121,0.668,5.521,2.575,0.145,0.288,0.415,0.329,0.157
2018-06-21 01:00:00,9.905,0.275,0.098,0.360,1.416,1.332,0.298,4.968,1.032,6.841,...,2.723,5.077,0.389,5.110,2.591,0.143,0.172,0.338,0.325,0.191
2018-06-21 02:00:00,9.261,0.233,0.086,0.347,1.398,1.346,0.154,0.908,0.992,6.648,...,2.749,4.136,0.417,3.060,2.563,0.133,0.160,0.341,0.306,0.162
2018-06-21 03:00:00,9.648,0.191,0.086,0.354,1.383,1.352,0.417,1.079,0.961,6.520,...,2.731,3.142,0.412,2.287,2.568,0.132,0.204,0.382,0.297,0.150
2018-06-21 04:00:00,3.945,0.191,0.086,0.388,1.426,1.337,0.216,1.235,0.948,6.645,...,2.837,3.148,0.375,2.717,2.572,0.144,0.189,0.401,0.287,0.221

In [39]:
X_test = TE_timeV_dum_wthr.loc['2018-06-21 00:00:00':, :]
X_test.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2018-06-21 00:00:00,6,21,3,0,0,1,0,0,0,1,0,19.2,0.0,2.4
2018-06-21 01:00:00,6,21,3,1,0,1,0,0,0,1,0,19.0,0.0,2.5
2018-06-21 02:00:00,6,21,3,2,0,1,0,0,0,1,0,19.1,0.0,1.4
2018-06-21 03:00:00,6,21,3,3,0,1,0,0,0,1,0,19.1,0.0,1.1
2018-06-21 04:00:00,6,21,3,4,0,1,0,0,0,1,0,19.0,0.0,1.9

In [41]:
mID = 'X40'
data = pd.concat([train.loc[:,[mID]], features], axis=1)
data = data.rename(columns={mID:'y'})
for i in [24, 168]:
    data['lag_{}'.format(i)] = data.y.shift(i)
y_train = data.dropna().y
X_train = data.dropna().drop(['y'], axis=1)

y_train

2018-02-22 00:00:00    10.592437
2018-02-22 01:00:00    10.592437
2018-02-22 02:00:00    10.592437
2018-02-22 03:00:00    10.592437
2018-02-22 04:00:00    10.592437
                         ...
2018-06-20 17:00:00    13.591000
2018-06-20 18:00:00    11.229000
2018-06-20 21:00:00    11.256000
2018-06-20 22:00:00     9.903000
2018-06-20 23:00:00    11.391000
Name: y, Length: 2834, dtype: float64

In [42]:
data.iloc[-168:,0]

2018-06-14 00:00:00    14.083
2018-06-14 01:00:00    14.528
2018-06-14 02:00:00    12.592
2018-06-14 03:00:00    11.551
2018-06-14 04:00:00     3.210
                        ...
2018-06-20 19:00:00     9.955
2018-06-20 20:00:00    11.330
2018-06-20 21:00:00    11.256
2018-06-20 22:00:00     9.903
2018-06-20 23:00:00    11.391
Name: y, Length: 168, dtype: float64

In [43]:
np.append(data.iloc[-168:,0].values, data.iloc[-168:-96,0].values)

array([14.083     , 14.528     , 12.592     , 11.551     ,  3.21      ,
        2.898     ,  2.672     ,  3.506     , 10.163     , 10.159     ,
       10.239     , 10.478     ,  9.951     ,  9.844     , 10.743     ,
        9.991     , 10.369     , 13.66      , 16.504     , 15.298     ,
       15.253     , 15.784     , 14.767     , 17.093     , 15.376     ,
       14.33      , 12.952     , 12.24      ,  4.035     ,  3.2       ,
        3.284     ,  3.646     , 10.671     , 11.893     , 11.533     ,
       10.836     , 10.318     , 12.284     , 14.025     , 14.962     ,
       14.589     , 15.062     , 15.112     , 14.75      , 15.338     ,
       16.535     , 16.529     , 14.18      , 17.403     , 18.255     ,
       14.229     , 11.879     ,  3.943     ,  3.257     ,  3.266     ,
        3.927     , 10.469     , 10.19      , 10.091     , 11.959     ,
       15.293     , 14.543     , 14.618     , 16.954     , 16.849     ,
       16.133     , 10.65196151, 10.63407842, 10.61986245, 10.60856161,
       10.59957813, 10.59243681, 14.915     , 14.87876662, 13.99413255,
       13.29090204, 12.73187636, 12.28748479, 11.9342204 , 11.6533966 ,
       11.43015868, 11.25269806, 11.1116276 , 10.99948513, 10.91033866,
       10.83947261, 10.78313839, 10.7383561 , 10.70275689, 10.67445767,
       10.65196151, 10.63407842, 10.61986245, 10.60856161, 10.59957813,
       10.59243681, 11.588     ,  8.222     ,  8.222     ,  8.222     ,
        8.222     ,  8.222     ,  8.222     ,  8.222     ,  8.222     ,
        9.574     ,  9.61      , 10.547     , 16.553     , 15.489     ,
       15.017     , 20.776     , 20.367     , 18.795     , 17.083     ,
       17.638     , 16.776     , 16.649     , 15.557     , 14.955     ,
       16.666     , 13.987     , 11.708     ,  8.944     ,  3.036     ,
        2.912     ,  2.638     ,  2.912     ,  5.986     , 15.262     ,
       15.413     , 15.138     , 14.117     , 14.01      , 14.208     ,
       16.47      , 15.277     , 14.562     , 15.136     , 14.406     ,
       15.163     , 12.069     , 10.1       , 14.838     , 14.542     ,
       13.978     , 12.418     , 11.669     ,  4.047     ,  2.597     ,
        2.779     ,  4.814     ,  9.273     ,  9.347     , 13.667     ,
       14.28      , 17.32      , 17.885     , 18.477     , 13.267     ,
       11.795     , 13.591     , 11.229     ,  9.955     , 11.33      ,
       11.256     ,  9.903     , 11.391     , 14.083     , 14.528     ,
       12.592     , 11.551     ,  3.21      ,  2.898     ,  2.672     ,
        3.506     , 10.163     , 10.159     , 10.239     , 10.478     ,
        9.951     ,  9.844     , 10.743     ,  9.991     , 10.369     ,
       13.66      , 16.504     , 15.298     , 15.253     , 15.784     ,
       14.767     , 17.093     , 15.376     , 14.33      , 12.952     ,
       12.24      ,  4.035     ,  3.2       ,  3.284     ,  3.646     ,
       10.671     , 11.893     , 11.533     , 10.836     , 10.318     ,
       12.284     , 14.025     , 14.962     , 14.589     , 15.062     ,
       15.112     , 14.75      , 15.338     , 16.535     , 16.529     ,
       14.18      , 17.403     , 18.255     , 14.229     , 11.879     ,
        3.943     ,  3.257     ,  3.266     ,  3.927     , 10.469     ,
       10.19      , 10.091     , 11.959     , 15.293     , 14.543     ,
       14.618     , 16.954     , 16.849     , 16.133     , 10.65196151,
       10.63407842, 10.61986245, 10.60856161, 10.59957813, 10.59243681])

In [44]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor

lg_param = {"boosting_type":['gbdt', 'dart','goss'],
    "learning_rate": [0.01,0.05,0.1,0.15],
    "min_child_samples":[10, 20, 30, 50],       
    "n_estimators":[10, 50, 100],
    }

def gsLGBR_Hrly_FitPred (model, params, mID, X_train, y_train, X_test):
    grid_gb = GridSearchCV(model, params, cv=4, verbose=5)
    grid_gb.fit(X_train, y_train)
    fcst = grid_gb.predict(X_test)
    a = pd.DataFrame([mID], columns=['meter_id'])
    for i in range(240):
        a[i+1]=[fcst[i]]
    return a
   
def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in train.columns:
        data = pd.concat([train.loc[:,[mID]], features], axis=1)
        data = data.rename(columns={mID:'y'})
        for i in [24, 168]:
            data['lag_{}'.format(i)] = data.y.shift(i)
        y_train = data.dropna().y
        X_train = data.dropna().drop(['y'], axis=1)
        
        X_test['lag_24'] = y_train.tail(24).values
        X_test['lag_168'] = np.append(data.iloc[-168:,0].values, data.iloc[-168:-96,0].values)
        
        model = LGBMRegressor(verbose=1, tree_learner='feature')
        tmp = gsLGBR_Hrly_FitPred(model, lg_param,
                        mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly_50, tmp], axis=0)
    return hrly

ModuleNotFoundError: No module named 'lightgbm'

In [45]:
train2 = train.iloc[:,0:2]
train2.head(2)

                           X40    X84
2018-02-15 00:00:00  10.592437  0.164
2018-02-15 01:00:00  10.592437  0.161

In [35]:
trial = onlytesting(train2, features, X_test)

NameError: name 'X_test_H' is not defined