In [300]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns
import itertools
%matplotlib inline
from matplotlib.pyplot import figure
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'Malgun Gothic' 
plt.rcParams["font.size"] = 10
%matplotlib inline 


from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA 

from sklearn.preprocessing import StandardScaler
import os

In [301]:
# import os
# for dirname, _, filenames in os.walk('/kaggle/input/'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

## 데이터셋 1, 2 NaN %
- dataset 1(train): 77.2%
- dataset 2(test): 26.9%

In [302]:
d1 = pd.read_csv("data/train.csv", sep=',', index_col = 0)
d2 = pd.read_csv("data/test.csv", sep=',', index_col = 0)

In [303]:
d2.shape

(8760, 200)

In [304]:
sum(d1.isnull().sum().values) / (d1.shape[0] * d1.shape[1])

0.7720727241296169

In [305]:
d1.shape[0] * d1.shape[1]

21981700

In [306]:
sum(d2.isnull().sum().values) / (d2.shape[0] * d2.shape[1])

0.26900513698630135

In [307]:
d2.shape[0] * d2.shape[1]

1752000

In [308]:
sum(d2.isnull().sum().values)

471297

## Weather 추가변수
- 나중에 모델 돌릴때마다 df에 추가하는 것

In [309]:
# hourly WEATHER data
# w_hr = pd.read_csv("/kaggle/input/weather/hourly.csv",encoding='euc-kr', sep=',')
w_hr = pd.read_csv("data/weather/hourly.csv", sep=',', encoding='euc-kr')
w_hr2 = w_hr.loc[:,['Time', 'Temp','Humidity', 'WindSpeed']]
w_hr2.rename(columns={'Humidity':'Humid', 'WindSpeed':'Wind'}, inplace=True)
w_hr2['Humid']=w_hr2.loc[:,'Humid'].fillna(0)
w_hr2.head(2)

             Time  Temp  Humid  Wind
0  2016.7.20 0:00  25.7    0.0   1.3
1  2016.7.20 1:00  25.6    0.0   1.4

In [310]:
w_hr2['Time'] = pd.to_datetime(w_hr2.Time)
w_hr2 = w_hr2.set_index('Time')
w_hr2.head(2)

                     Temp  Humid  Wind
Time
2016-07-20 00:00:00  25.7    0.0   1.3
2016-07-20 01:00:00  25.6    0.0   1.4

## 파생 변수

In [311]:
# test = pd.read_csv("/kaggle/input/dataset/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [312]:
test.index = pd.to_datetime(test.index)
train.index = pd.to_datetime(train.index)

In [313]:
def dateTimeVar(df):
    df1 = pd.DataFrame(df.index)
    df1.index = pd.to_datetime(df1.iloc[:,0])
    df1 = df1.drop(columns=df1.columns)
    # datetime을 사용한 파생변수
    # 연도, 월, 일, 요일, 시간
    df1['Mth']= df1.index.month
    df1['Date']=df1.index.day
    df1['Day']=df1.index.weekday
    df1['hour']=df1.index.hour
    
    # Season 1: 봄 ~ 4: 겨울 
    df1['season'] = df1.Mth.apply(lambda x: 4 if x in [12,1,2] else 
                1 if x in [3,4,5] else 2 if x in [6,7,8]
               else 3)
    # dayClass 1: 월, 2: 화~금, 3: 토, 일 
    # 참조 from 실시간 수요예측 기법 개발 및 온라인 수요예측 방안 연구_KPX 한국전력거래소)
    df1['day'] = df1.Day.apply(lambda x: 1 if x ==0 else 
                2 if x in [1,2,3,4] else 3)
    return df1

In [314]:
TE_time_vars = dateTimeVar(test)

In [315]:
TE_time_vars.head(5)

                     Mth  Date  Day  hour  season  day
Time
2017-08-29 10:00:00    8    29    1    10       2    2
2017-08-29 11:00:00    8    29    1    11       2    2
2017-08-29 12:00:00    8    29    1    12       2    2
2017-08-29 13:00:00    8    29    1    13       2    2
2017-08-29 14:00:00    8    29    1    14       2    2

## Make DUMMIES

In [316]:
test.head(2)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667
2017-08-29 11:00:00,1.458903,0.398,0.293,0.358,0.350,0.232,0.253,0.260,0.168,0.084,...,0.163,0.086,0.288,0.342010,1.150483,0.196,0.343,1.109,0.225,0.29667

In [317]:
TE_time_vars.head(2)

                     Mth  Date  Day  hour  season  day
Time
2017-08-29 10:00:00    8    29    1    10       2    2
2017-08-29 11:00:00    8    29    1    11       2    2

In [318]:
def dummies(df, dum_lst):
    df1 = df.copy()
    # dum_lst에 들어있는 각각의 변수마다 
    # tmp = get_dummies, 해당 original 변수는 drop
    # tmp와 변수가 drop된 df를 join 후 리턴
    for v in dum_lst:
        tmp = pd.get_dummies(df1[v], prefix=v)
        df1 = df1.drop(columns=v).join(tmp)
    return df1

In [319]:
TE_timeV_dum = dummies(TE_time_vars, ['season', 'day'])

In [320]:
TE_timeV_dum_wthr= pd.concat([TE_timeV_dum, w_hr2], axis=1,join='inner')

In [321]:
TE_timeV_dum_wthr.head(10)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0
2017-08-29 11:00:00,8,29,1,11,0,1,0,0,0,1,0,19.7,0.0,4.7
2017-08-29 12:00:00,8,29,1,12,0,1,0,0,0,1,0,19.4,0.0,4.8
2017-08-29 13:00:00,8,29,1,13,0,1,0,0,0,1,0,19.8,0.0,4.5
2017-08-29 14:00:00,8,29,1,14,0,1,0,0,0,1,0,20.5,0.0,3.4
2017-08-29 15:00:00,8,29,1,15,0,1,0,0,0,1,0,20.6,0.0,4.0
2017-08-29 16:00:00,8,29,1,16,0,1,0,0,0,1,0,22.2,0.0,5.2
2017-08-29 17:00:00,8,29,1,17,0,1,0,0,0,1,0,21.7,0.0,5.5
2017-08-29 18:00:00,8,29,1,18,0,1,0,0,0,1,0,21.2,0.0,5.3
2017-08-29 19:00:00,8,29,1,19,0,1,0,0,0,1,0,19.6,0.0,5.9

# Modeling

* test : TEST셋의 순수한 meterIDs Time series (NA값 채워짐) 
* TE_timeV_dum: TEST셋의 시간파생변수 + dummy variables

In [322]:
test.head(1)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667

In [323]:
TE_timeV_dum_wthr.head(1)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0

<br><br><br>


## Random sample 된 30개만 돌리기 (06.20~30 예측)

In [324]:
rs = pd.read_csv("data/train_all.csv", index_col=0, sep=',')
ids = rs.columns

In [325]:
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [326]:
te = ['X41','X50','X30', 'X37', 'X18','X231', 'X116', 'X149', 'X371', 'X218']
tr = ['X40', 'X84' ,'X77', 'X93', 'X89' ,'X15', 'X23', 'X60', 'X27', 'X6','X610' ,'X1362' ,'X476', 'X237' ,'X1032', 'X1287', 'X428', 'X768', 'X989' ,'X616']

In [327]:
len(te)

10

In [328]:
test.loc[:,te].head(2)

,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,
2017-08-29 10:00:00,2.167430,4.171678,3.498120,3.816439,2.518855,0.216611,0.602,0.255,0.214,0.332322
2017-08-29 11:00:00,2.159356,4.122120,3.461189,3.801315,2.519404,0.216574,0.602,0.428,0.256,0.332338

In [329]:
train.loc[:,tr]

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,X610,X1362,X476,X237,X1032,X1287,X428,X768,X989,X616
Time,,,,,,,,,,,,,,,,,,,,
2018-02-15 00:00:00,10.592437,0.164,0.561,0.340,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.066000,0.132000,0.091000,0.318000,0.277000,0.096000,0.020000,1.339000,0.113000,0.351000
2018-02-15 01:00:00,10.592437,0.161,0.486,0.344,1.394,2.284564,2.691859,2.094527,4.322733,4.749095,0.126000,0.278000,0.244000,0.202000,0.474000,0.338000,0.206000,0.599000,0.178000,1.495000
2018-02-15 02:00:00,10.592437,0.123,0.569,0.350,1.407,2.284564,2.691859,2.094527,4.322733,4.749095,0.227000,0.282000,0.252000,0.190000,0.302000,0.222000,0.134000,0.515000,0.223000,0.859000
2018-02-15 03:00:00,10.592437,0.115,0.590,0.333,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.125000,0.286000,0.254000,0.163000,0.349000,0.282000,0.223000,0.458000,0.186000,0.492000
2018-02-15 04:00:00,10.592437,0.130,0.519,0.345,1.401,2.284564,2.691859,2.094527,4.322733,4.749095,0.135000,0.266000,0.251000,0.196000,0.305000,0.257000,0.266000,0.415000,0.212000,0.471000
2018-02-15 05:00:00,10.592437,0.113,0.517,0.347,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,0.087000,0.292000,0.241000,0.198000,0.284000,0.258000,0.083000,0.475000,0.207000,0.374000
2018-02-15 06:00:00,10.592437,0.116,0.501,0.342,1.409,2.284564,2.691859,2.094527,4.322733,4.749095,0.104000,0.288000,0.423000,0.183000,0.313000,0.215000,0.089000,0.564000,0.290000,0.315000
2018-02-15 07:00:00,10.592437,0.114,0.556,0.337,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.568000,0.615000,0.665000,0.150000,0.500000,0.218000,0.101000,0.479000,0.320000,0.355000
2018-02-15 08:00:00,10.592437,0.131,0.539,0.345,1.382,2.284564,2.691859,2.094527,4.322733,4.749095,0.677000,0.402000,0.916000,0.193000,0.352000,0.253000,0.335000,0.563000,0.828000,1.154000
2018-02-15 09:00:00,10.592437,0.223,0.511,0.346,1.397,2.284564,2.691859,2.094527,4.322733,4.749095,0.441000,0.407000,0.785000,0.230000,0.258000,0.246000,0.358000,0.263000,0.601000,2.718000
2018-02-15 10:00:00,10.592437,3.154,8.900,0.329,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.575000,0.343000,0.781000,0.362000,0.617000,0.244000,0.225000,0.201000,0.382000,1.751000
2018-02-15 11:00:00,10.592437,0.242,9.145,0.342,1.387,2.284564,2.691859,2.094527,4.322733,4.749095,0.421000,0.348000,0.694000,0.162000,0.564000,0.238000,0.350000,0.183000,0.205000,0.773000
2018-02-15 12:00:00,10.592437,2.863,9.223,0.343,1.405,2.284564,2.691859,2.094527,4.322733,4.749095,0.352000,0.325000,0.734000,0.208000,0.492000,0.257000,0.446000,0.148000,0.251000,1.437000
2018-02-15 13:00:00,10.592437,7.108,9.181,0.391,1.393,2.284564,2.691859,2.094527,4.322733,4.749095,0.348000,0.331000,0.664000,0.220000,0.615000,0.253000,0.092000,0.192000,0.128000,1.074000
2018-02-15 14:00:00,10.592437,8.005,9.146,0.361,1.395,2.284564,2.691859,2.094527,4.322733,4.749095,0.345000,0.329000,0.673000,0.160000,0.788000,0.254000,0.072000,0.153000,0.252000,1.486000
2018-02-15 15:00:00,10.592437,8.112,9.169,0.342,1.393,2.284564,2.691859,2.094527,4.322733,4.749095,0.102000,0.384000,0.699000,0.146000,1.099000,0.275000,0.085000,0.140000,0.341000,1.125000
2018-02-15 16:00:00,10.592437,8.062,9.180,0.340,1.403,2.284564,2.691859,2.094527,4.322733,4.749095,0.083000,0.450000,0.682000,0.190000,0.653000,0.369000,0.084000,0.144000,0.396000,0.826000
2018-02-15 17:00:00,10.592437,7.746,8.307,0.326,1.427,2.284564,2.691859,2.094527,4.322733,4.749095,0.074000,0.395000,0.689000,0.189000,0.446000,0.477000,0.080000,0.137000,0.376000,0.983000
2018-02-15 18:00:00,10.592437,7.741,0.494,0.344,1.505,2.284564,2.691859,2.094527,4.322733,4.749095,0.071000,0.481000,0.684000,0.155000,0.431000,0.546000,0.228000,0.182000,1.228000,1.982000
2018-02-15 19:00:00,10.592437,7.368,0.545,0.341,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.167000,0.451000,0.897000,0.143000,0.436000,0.230000,0.383000,0.126000,1.252000,1.888000
2018-02-15 20:00:00,10.592437,3.248,0.493,0.334,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.044000,0.156000,0.777000,0.201000,0.147000,0.081000,0.140000,0.041000,0.423000,0.490000
2018-02-15 21:00:00,10.592437,1.778,0.515,0.338,1.492,2.284564,2.691859,2.094527,4.322733,4.749095,0.082000,0.417000,0.659000,0.170000,0.637000,0.373000,0.499000,0.113000,0.435000,1.457000
2018-02-15 22:00:00,10.592437,6.837,0.523,0.345,1.494,2.284564,2.691859,2.094527,4.322733,4.749095,0.075000,0.212150,0.472307,0.140000,0.277946,0.185997,0.114000,0.144000,0.353092,0.808213
2018-02-15 23:00:00,10.592437,6.686,0.478,0.338,1.486,2.284564,2.691859,2.094527,4.322733,4.749095,0.231365,0.179850,0.371693,0.177000,0.249054,0.212003,0.232985,0.435040,0.286908,0.646787
2018-02-16 00:00:00,10.592437,5.773,0.556,0.339,1.398,2.284564,2.691859,2.094527,4.322733,4.749095,0.029000,0.147000,0.334000,0.189000,0.225000,0.090000,0.052000,0.056000,0.126000,1.808000
2018-02-16 01:00:00,10.592437,0.207,0.499,0.343,1.379,2.284564,2.691859,2.094527,4.322733,4.749095,0.073000,0.333000,0.687000,0.143000,0.635000,0.249000,0.090000,0.157000,0.127000,1.019000
2018-02-16 02:00:00,10.592437,0.206,0.487,0.341,1.419,2.284564,2.691859,2.094527,4.322733,4.749095,0.061000,0.325000,0.642000,0.272000,0.226000,0.323000,0.089000,0.143000,0.245000,0.709000
2018-02-16 03:00:00,10.592437,0.127,0.555,0.336,1.408,2.284564,2.691859,2.094527,4.322733,4.749095,0.069000,0.310000,0.583000,0.172000,0.250000,0.278000,0.089000,0.108000,0.165000,0.593000
2018-02-16 04:00:00,10.592437,0.113,0.538,0.348,1.399,2.284564,2.691859,2.094527,4.322733,4.749095,0.072000,0.316000,0.574000,0.193000,0.215000,0.265000,0.087000,0.147000,0.366000,0.399000
2018-02-16 05:00:00,10.592437,0.139,0.519,0.340,1.374,2.284564,2.691859,2.094527,4.322733,4.749095,0.060000,0.303000,0.575000,0.158000,0.206000,0.469000,0.084000,0.140000,0.230000,0.316000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-29 16:00:00,18.573000,5.827,0.087,2.643,6.440,3.077000,12.631000,0.897000,6.834000,4.228000,0.243089,0.378881,0.274447,0.262395,0.619120,0.250127,0.404855,0.295106,0.465854,0.867164
2018-06-29 17:00:00,18.580000,5.876,0.086,2.689,6.704,3.309000,12.200000,1.284000,7.844000,5.062000,0.376303,0.406150,0.287178,0.303871,0.475857,0.196774,0.395073,0.219658,0.524346,0.798095
2018-06-29 18:00:00,18.543000,5.673,0.156,1.517,6.602,3.984000,10.168000,1.292000,8.073000,6.150000,0.274122,0.453621,0.313430,0.478915,0.434274,0.226536,0.393910,0.400735,0.664122,1.087474
2018-06-29 19:00:00,15.143000,1.039,0.147,0.343,5.752,3.987000,8.032000,1.597000,9.358000,6.870000,0.316127,0.480895,0.320903,0.556380,0.494517,0.256313,0.412254,0.827199,0.617597,1.282298
2018-06-29 20:00:00,15.558000,2.576,0.135,0.409,5.412,3.990000,8.588000,5.206000,7.631000,6.875000,0.387130,0.482121,0.308427,0.725772,0.728233,0.401991,0.361081,0.647601,0.657570,1.716603
2018-06-29 21:00:00,14.979000,3.832,0.091,0.363,3.621,3.984000,7.941000,8.735000,8.224000,6.591000,0.336077,0.466538,0.418673,0.607381,0.681328,0.393792,0.422324,0.572213,0.546670,1.505702
2018-06-29 22:00:00,16.243000,3.532,0.086,0.342,1.455,3.965000,0.503000,5.614000,3.781000,6.955000,0.234793,0.409340,0.384900,0.625847,0.755439,0.412217,0.335595,0.468185,0.559760,1.648695
2018-06-29 23:00:00,16.655000,4.643,0.086,0.394,1.427,3.870000,0.135000,5.493000,2.112000,6.783000,0.035000,0.088000,0.057000,0.133882,0.250000,0.076000,0.042000,0.132000,0.083000,0.324000
2018-06-30 02:00:00,14.620000,0.220,0.100,0.345,1.383,1.314000,0.407000,0.882000,0.982000,6.336000,0.087000,0.183000,0.127000,0.112000,0.388000,0.097000,0.067000,0.120000,0.109000,0.182000
2018-06-30 03:00:00,9.068000,0.238,0.102,0.379,1.338,1.314000,0.255000,1.036000,0.894000,6.437000,0.170000,0.363000,0.261000,0.253000,0.354000,0.202000,0.105000,0.265000,0.307000,0.437000
2018-06-30 04:00:00,3.512000,0.238,0.086,0.402,1.352,1.314000,0.207000,1.156000,1.017000,6.637000,0.094000,0.299000,0.264000,0.244000,0.280000,0.192000,0.109000,0.246000,0.221000,0.467000
2018-06-30 05:00:00,3.445000,0.151,0.085,0.350,1.338,1.313000,0.133000,0.938000,0.945000,5.968000,0.095000,0.312000,0.210000,0.162000,0.316000,0.659000,0.120000,0.265000,0.272000,0.285000
2018-06-30 06:00:00,3.429000,0.160,0.085,0.356,1.367,1.314000,0.392000,0.697000,0.939000,5.529000,0.094000,0.359000,0.231000,0.235000,0.278000,0.355000,0.131000,0.376000,0.209000,0.198000
2018-06-30 07:00:00,4.437000,0.196,0.085,0.320,1.358,1.313000,0.427000,1.917000,0.925000,5.047000,0.107000,0.281000,0.489000,0.276000,0.331000,0.318000,0.277000,0.422000,0.291000,0.194000
2018-06-30 08:00:00,8.780000,0.220,0.096,0.366,1.351,2.314000,0.882000,0.888000,1.329000,5.059000,0.533000,0.367000,0.389000,0.179000,0.270000,0.251000,0.238000,0.716000,1.460000,0.183000
2018-06-30 09:00:00,11.570000,0.158,0.102,0.378,1.347,3.066000,1.408000,0.903000,3.237000,5.083000,0.267000,0.277000,0.306000,0.287000,0.270000,0.326000,0.402000,0.265000,0.641000,0.396000
2018-06-30 10:00:00,15.510000,3.472,0.103,0.373,1.344,3.071000,1.273000,1.268000,3.789000,5.734000,0.311000,0.394000,0.301000,0.355000,0.268000,0.288000,0.269000,0.264000,0.840000,0.235000
2018-06-30 11:00:00,15.636000,5.434,0.087,0.394,1.370,3.073000,5.600000,1.174000,6.360000,5.422000,0.123000,0.398000,0.319000,0.392000,0.409000,0.444000,0.248000,0.368000,0.412000,0.339000
2018-06-30 12:00:00,17.966000,5.302,0.085,0.417,1.366,3.085000,8.403000,1.160000,9.429000,5.499000,0.114000,0.384000,0.279000,0.626000,1.069000,0.390000,0.294000,0.324000,0.791000,0.846000
2018-06-30 13:00:00,17.631000,5.804,0.087,0.356,1.356,3.081000,13.882000,0.782000,7.858000,5.409000,0.122000,0.390000,0.276000,2.156000,0.822000,0.235000,0.360000,0.262000,0.533000,0.909000
2018-06-30 14:00:00,21.189000,6.013,0.086,0.681,1.361,3.623000,14.818000,0.844000,7.223000,5.164000,0.212000,0.416000,0.264000,0.483000,0.836000,0.253000,0.355000,0.257000,0.434000,1.058000
2018-06-30 15:00:00,18.964000,5.825,0.102,1.091,1.352,3.995000,14.566000,0.799000,7.029000,5.119000,0.124000,0.365000,0.361000,0.338000,0.721000,0.231000,0.690000,0.265000,0.530000,1.277000
2018-06-30 16:00:00,19.529000,6.483,0.106,0.497,1.358,3.990000,11.509000,1.297000,7.197000,4.455000,0.619000,0.416000,0.255000,0.857000,0.402000,0.242000,0.474000,0.259000,0.460000,1.357000
2018-06-30 17:00:00,19.157000,6.485,0.100,0.346,1.366,3.983000,14.730000,1.295000,7.432000,5.360000,0.259000,0.436000,0.236000,1.407000,0.430000,0.229000,0.480000,0.313000,0.415000,1.269000
2018-06-30 18:00:00,18.449000,5.797,0.087,0.325,1.368,3.987000,14.541000,1.383000,5.919000,6.275000,0.199000,0.276000,0.476000,0.273000,0.396000,0.309000,0.289000,0.284000,0.402000,0.326000
2018-06-30 19:00:00,18.994000,6.334,0.089,0.390,1.406,3.998000,11.809000,1.583000,3.591000,7.383000,0.460000,0.421000,0.310000,0.257000,0.430000,0.295000,0.449000,0.262000,0.505000,0.329000
2018-06-30 20:00:00,19.386000,5.862,0.086,0.446,1.446,4.004000,0.441000,5.802000,2.700000,7.122000,0.382000,0.491000,0.374000,0.252000,0.466000,0.287000,0.387000,0.254000,0.628000,0.340000
2018-06-30 21:00:00,17.600000,3.686,0.089,0.400,1.467,4.001000,0.220000,8.904000,2.833000,6.934000,0.454000,0.480000,0.349000,0.345000,0.528000,0.433000,0.357000,0.241000,0.593000,0.525000
2018-06-30 22:00:00,16.836000,3.158,0.104,0.339,1.451,4.004000,0.372000,9.916000,1.781000,7.371000,0.229000,0.443000,0.371000,0.462000,0.406000,0.384000,0.246000,0.259000,0.666000,0.601000
2018-06-30 23:00:00,17.057000,4.903,0.104,0.354,1.438,3.812000,0.132000,9.984000,1.220000,6.856000,0.174000,0.378000,0.367000,0.512000,0.590000,0.343000,0.120000,0.322000,0.320000,0.695000

In [330]:
test.loc['2018-02-15 00:00:00':,te]

,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,
2018-02-15 00:00:00,2.371049,6.545218,4.803182,4.499756,2.495460,0.327000,0.199,0.261000,0.142000,0.361000
2018-02-15 01:00:00,2.334381,5.984280,4.529291,4.341709,2.500658,0.202000,0.168,0.391000,0.319000,0.241000
2018-02-15 02:00:00,2.302862,5.544196,4.305131,4.216720,2.504838,0.213000,0.123,0.248000,0.306000,0.284000
2018-02-15 03:00:00,2.275769,5.198929,4.121671,4.117873,2.508198,0.154000,0.113,0.215000,0.280000,0.295000
2018-02-15 04:00:00,2.252481,4.928049,3.971522,4.039701,2.510895,0.141000,0.167,0.211000,0.294000,0.267000
2018-02-15 05:00:00,2.232463,4.715530,3.848635,3.977879,2.513058,0.154000,0.182,0.219000,0.433000,0.347000
2018-02-15 06:00:00,2.215256,4.548798,3.748061,3.928988,2.514790,0.150000,0.226,0.214000,0.300000,0.706000
2018-02-15 07:00:00,2.200466,4.417989,3.665748,3.890323,2.516175,0.186000,0.115,0.266000,0.418000,0.514000
2018-02-15 08:00:00,2.187752,4.315363,3.598380,3.859746,2.517280,0.134000,0.115,0.404000,0.400000,0.675000
2018-02-15 09:00:00,2.176824,4.234847,3.543245,3.835564,2.518159,0.151000,0.168,0.354000,0.535000,1.224000
2018-02-15 10:00:00,2.167430,4.171678,3.498120,3.816439,2.518855,0.144000,0.164,0.275000,0.575000,0.512000
2018-02-15 11:00:00,2.159356,4.122120,3.461189,3.801315,2.519404,0.142000,0.235,0.408000,0.423000,0.904000
2018-02-15 12:00:00,2.152415,4.083238,3.430963,3.789355,2.519835,0.206000,0.113,0.416000,0.661000,0.497000
2018-02-15 13:00:00,2.146449,4.052734,3.406225,3.779896,2.520170,0.148000,0.114,0.635000,0.466000,0.711000
2018-02-15 14:00:00,2.141321,4.028802,3.385979,3.772415,2.520428,0.409000,0.167,1.486000,0.409000,0.565000
2018-02-15 15:00:00,2.136913,4.010025,3.369409,3.766499,2.520624,0.184000,0.179,1.997000,0.402000,0.441000
2018-02-15 16:00:00,2.133123,3.995295,3.355848,3.761820,2.520770,0.177000,0.184,0.937000,0.578000,0.709000
2018-02-15 17:00:00,2.129866,3.983738,3.344749,3.758120,2.520875,0.711000,0.147,0.480000,0.566000,0.701000
2018-02-15 18:00:00,2.127067,3.974671,3.335665,3.755194,2.520947,0.397000,0.113,0.647000,0.559000,2.039000
2018-02-15 19:00:00,2.124660,3.967557,3.328231,3.752880,2.520993,0.386000,0.167,0.640000,0.583000,0.847000
2018-02-15 20:00:00,2.122592,3.961976,3.322146,3.751050,2.521018,0.385000,0.190,0.500000,0.253000,0.540000
2018-02-15 21:00:00,2.120814,3.957598,3.317166,3.749603,2.521026,0.366000,0.168,0.599000,0.582000,0.520000
2018-02-15 22:00:00,2.119285,3.954162,3.313091,3.748458,2.521020,0.395000,0.148,0.594000,0.263550,0.416000
2018-02-15 23:00:00,2.117972,3.951467,3.309755,3.747553,2.521003,0.488000,0.118,0.358000,0.243450,0.353000
2018-02-16 00:00:00,2.371049,6.545218,4.803182,4.499756,2.495460,0.224000,0.163,0.191000,0.161000,0.230000
2018-02-16 01:00:00,2.334381,5.984280,4.529291,4.341709,2.500658,0.131000,0.191,0.194000,0.409000,0.245000
2018-02-16 02:00:00,2.302862,5.544196,4.305131,4.216720,2.504838,0.129000,0.168,0.189000,0.358000,0.347000
2018-02-16 03:00:00,2.275769,5.198929,4.121671,4.117873,2.508198,0.155000,0.113,0.201000,0.306000,0.260000
2018-02-16 04:00:00,2.252481,4.928049,3.971522,4.039701,2.510895,0.189000,0.192,0.190000,0.330000,0.280000
2018-02-16 05:00:00,2.232463,4.715530,3.848635,3.977879,2.513058,0.189000,0.143,0.190000,0.298000,0.360000
...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,2.355000,15.415000,17.105000,4.578000,2.532000,0.267259,0.221,0.291460,0.447492,0.228094
2018-06-29 19:00:00,2.318000,12.638000,13.212000,7.407000,2.524000,0.308706,0.206,0.475391,0.483082,0.474253
2018-06-29 20:00:00,2.236000,10.939000,12.781000,9.560000,2.508000,0.379719,0.177,0.729524,0.433335,0.965936
2018-06-29 21:00:00,2.275000,7.216000,9.197000,7.907000,2.525000,0.413473,0.125,0.669142,0.517561,0.855677
2018-06-29 22:00:00,2.370000,6.527000,5.359000,12.199000,2.469000,0.470807,0.108,0.603334,0.488104,0.566388
2018-06-29 23:00:00,2.607000,6.577000,3.251000,11.825000,2.501000,0.092000,0.172,0.085000,0.115000,0.142000
2018-06-30 00:00:00,2.606000,6.493000,1.940000,10.739000,2.535000,0.252348,0.210,0.363205,0.435221,0.322871
2018-06-30 01:00:00,2.736000,6.189000,0.395000,6.727000,2.540000,0.236122,0.229,0.345738,0.394364,0.327677
2018-06-30 02:00:00,2.652000,4.934000,0.386000,4.320000,2.509000,0.085000,0.204,0.146000,0.126000,0.265000
2018-06-30 03:00:00,2.639000,5.839000,0.392000,4.743000,2.518000,0.143000,0.176,0.272000,0.264000,0.585000
2018-06-30 04:00:00,2.728000,5.366000,0.427000,2.764000,2.534000,0.146000,0.219,0.215000,0.241000,0.861000
2018-06-30 05:00:00,2.564000,5.264000,0.376000,2.119000,2.610000,0.153000,0.228,0.240000,0.244000,0.572000
2018-06-30 06:00:00,0.965000,5.000000,0.375000,2.142000,2.812000,0.134000,0.174,0.235000,0.303000,0.416000
2018-06-30 07:00:00,0.420000,4.464000,0.376000,2.319000,2.665000,0.163000,0.189,0.469000,0.285000,0.446000
2018-06-30 08:00:00,0.430000,3.544000,0.363000,2.109000,2.617000,0.170000,0.109,0.311000,0.382000,0.276000
2018-06-30 09:00:00,0.408000,3.712000,0.587000,2.419000,2.591000,0.132000,0.165,0.264000,0.386000,0.252000
2018-06-30 10:00:00,0.428000,3.938000,4.177000,2.487000,2.574000,0.182000,0.140,0.490000,0.551000,0.333000
2018-06-30 11:00:00,0.401000,5.121000,7.647000,2.555000,2.607000,0.352000,0.212,0.423000,0.366000,0.227000
2018-06-30 12:00:00,0.543000,7.253000,15.657000,2.231000,2.567000,0.327000,0.249,0.401000,0.286000,0.160000
2018-06-30 13:00:00,2.262000,4.496000,14.683000,2.260000,2.993000,0.211000,0.194,0.378000,0.364000,0.187000
2018-06-30 14:00:00,2.399000,10.362000,10.289000,2.406000,3.191000,0.178000,0.213,0.397000,0.336000,0.180000
2018-06-30 15:00:00,2.432000,11.723000,12.288000,2.564000,3.232000,0.240000,0.231,0.370000,0.262000,0.171000
2018-06-30 16:00:00,2.382000,13.150000,12.981000,9.412000,3.225000,0.452000,0.191,0.383000,0.250000,0.202000
2018-06-30 17:00:00,2.436000,17.210000,13.854000,11.142000,3.251000,0.288000,0.176,0.400000,0.442000,0.177000
2018-06-30 18:00:00,2.456000,17.360000,13.029000,11.331000,2.764000,0.216000,0.203,0.444000,0.276000,0.250000
2018-06-30 19:00:00,2.637000,16.197000,10.449000,11.747000,2.490000,0.172000,0.155,0.515000,0.360000,0.228000
2018-06-30 20:00:00,2.503000,14.835000,9.357000,11.959000,2.514000,0.256000,0.093,0.510000,0.391000,0.304000
2018-06-30 21:00:00,2.527000,11.237000,15.048000,10.791000,2.527000,0.467000,0.137,0.412000,0.321000,0.524000
2018-06-30 22:00:00,2.428000,10.157000,8.946000,9.375000,2.520000,0.390000,0.203,0.398000,0.271000,0.359000
2018-06-30 23:00:00,2.399000,7.714000,5.347000,5.368000,2.489000,0.282000,0.184,0.395000,0.515000,0.313000

In [331]:
data = pd.concat([train.loc[:, tr], test.loc['2018-02-15 00:00:00':,te]], axis=1 )
data.index = pd.to_datetime(data.index)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [377]:
hourly = pd.read_csv("data/TRAIN_DHWonDacon_24시간예측.csv",index_col=0)
hourly.head(2)

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
1,0.374392,0.444582,0.577257,0.239870,0.358361,0.523760,0.634239,0.356952,0.265332,0.234563,...,0.440065,0.421038,0.329439,0.351530,0.578465,0.649527,0.640117,7.835084,0.331562,0.371070
2,0.366835,0.422568,0.556617,0.211252,0.310659,0.447532,0.482711,0.331569,0.265641,0.213087,...,0.416521,0.426182,0.321118,0.289726,0.486627,0.600352,0.603710,7.066954,0.338846,0.350562

In [378]:
data2 = data.copy()

In [379]:
data3 = pd.DataFrame()   # 새로운 데이터프레임 생성
n=0  # 현재 칼럼카운트를 보여주기 위한 변수

# 미터ID 리스트 c에서 1개씩 for loop
for i in data2.columns:
    if i in hourly.columns:
        n +=1   # 카운트 
        li = data2[data2[i].isnull()].index   # li: test데이터프레임의 특정 열(i)에서 Null인 셀 index추출 
        df = pd.DataFrame(data2[i])    # df: test의 i열을 별개 데이터프레임으로 생성
        print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
        for t in li:    #  li(Null 인덱스)를 사용해 for loop
            df.loc[t] = hourly.loc[:,i].iloc[t.hour]  # null값에 t.hour 평균 대입
        data3 = pd.concat([data3,df], axis=1)   # 평균 대치가 끝난 df를 test2에 concat해준다.

1. current column: X40, NaN count: 1507
2. current column: X84, NaN count: 0
3. current column: X77, NaN count: 0
4. current column: X93, NaN count: 0
5. current column: X89, NaN count: 0
6. current column: X15, NaN count: 1507
7. current column: X23, NaN count: 1507
8. current column: X60, NaN count: 1507
9. current column: X27, NaN count: 1507
10. current column: X6, NaN count: 1507
11. current column: X610, NaN count: 0
12. current column: X1362, NaN count: 0
13. current column: X476, NaN count: 0
14. current column: X237, NaN count: 0
15. current column: X1032, NaN count: 0
16. current column: X1287, NaN count: 0
17. current column: X428, NaN count: 0
18. current column: X768, NaN count: 0
19. current column: X989, NaN count: 0
20. current column: X616, NaN count: 0

In [380]:
train_data = pd.concat([data3, test.loc['2018-02-15 00:00:00':,te]], axis=1 )
train_data.index = pd.to_datetime(train_data.index)
train_data.head(3)

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-02-15 00:00:00,15.991599,0.164,0.561,0.340,1.396,3.585059,0.516354,8.630316,1.511542,6.340007,...,2.371049,6.545218,4.803182,4.499756,2.495460,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,14.878767,0.161,0.486,0.344,1.394,3.391193,0.948824,7.226755,1.918634,6.018741,...,2.334381,5.984280,4.529291,4.341709,2.500658,0.202,0.168,0.391,0.319,0.241
2018-02-15 02:00:00,13.994133,0.123,0.569,0.350,1.407,3.225439,1.295868,6.123420,2.268595,5.761976,...,2.302862,5.544196,4.305131,4.216720,2.504838,0.213,0.123,0.248,0.306,0.284

In [381]:
train_data.isnull().sum()

X40      0
X84      0
X77      0
X93      0
X89      0
X15      0
X23      0
X60      0
X27      0
X6       0
X610     0
X1362    0
X476     0
X237     0
X1032    0
X1287    0
X428     0
X768     0
X989     0
X616     0
X41      0
X50      0
X30      0
X37      0
X18      0
X231     0
X116     0
X149     0
X371     0
X218     0
dtype: int64

In [382]:
train = train_data.loc[:'2018-06-29 23:00:00', :]
train.tail()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-29 19:00:00,15.143,1.039,0.147,0.343,5.752,3.987,8.032,1.597,9.358,6.870,...,2.318,12.638,13.212,7.407,2.524,0.308706,0.206,0.475391,0.483082,0.474253
2018-06-29 20:00:00,15.558,2.576,0.135,0.409,5.412,3.990,8.588,5.206,7.631,6.875,...,2.236,10.939,12.781,9.560,2.508,0.379719,0.177,0.729524,0.433335,0.965936
2018-06-29 21:00:00,14.979,3.832,0.091,0.363,3.621,3.984,7.941,8.735,8.224,6.591,...,2.275,7.216,9.197,7.907,2.525,0.413473,0.125,0.669142,0.517561,0.855677
2018-06-29 22:00:00,16.243,3.532,0.086,0.342,1.455,3.965,0.503,5.614,3.781,6.955,...,2.370,6.527,5.359,12.199,2.469,0.470807,0.108,0.603334,0.488104,0.566388
2018-06-29 23:00:00,16.655,4.643,0.086,0.394,1.427,3.870,0.135,5.493,2.112,6.783,...,2.607,6.577,3.251,11.825,2.501,0.092000,0.172,0.085000,0.115000,0.142000

In [383]:
train.isnull().sum()

X40      0
X84      0
X77      0
X93      0
X89      0
X15      0
X23      0
X60      0
X27      0
X6       0
X610     0
X1362    0
X476     0
X237     0
X1032    0
X1287    0
X428     0
X768     0
X989     0
X616     0
X41      0
X50      0
X30      0
X37      0
X18      0
X231     0
X116     0
X149     0
X371     0
X218     0
dtype: int64

In [384]:
features = TE_timeV_dum_wthr.loc['2018-02-15 00:00:00':'2018-06-29 23:00:00', :]
features.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2018-02-15 00:00:00,2,15,3,0,0,0,0,1,0,1,0,-1.0,0.0,5.0
2018-02-15 01:00:00,2,15,3,1,0,0,0,1,0,1,0,-1.2,0.0,3.4
2018-02-15 02:00:00,2,15,3,2,0,0,0,1,0,1,0,-1.2,0.0,3.9
2018-02-15 03:00:00,2,15,3,3,0,0,0,1,0,1,0,-1.5,0.0,3.5
2018-02-15 04:00:00,2,15,3,4,0,0,0,1,0,1,0,-1.9,0.0,5.3

In [385]:
test_real = train_data.loc['2018-06-30 00:00:00':, :]
test_real

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-30 00:00:00,16.819,2.255,0.086,0.401,1.336,2.340,0.172,6.566,1.032,6.962,...,2.606,6.493,1.940,10.739,2.535,0.252348,0.210,0.363205,0.435221,0.322871
2018-06-30 01:00:00,16.731,0.175,0.102,0.369,1.355,1.313,0.420,5.542,0.934,6.751,...,2.736,6.189,0.395,6.727,2.540,0.236122,0.229,0.345738,0.394364,0.327677
2018-06-30 02:00:00,14.620,0.220,0.100,0.345,1.383,1.314,0.407,0.882,0.982,6.336,...,2.652,4.934,0.386,4.320,2.509,0.085000,0.204,0.146000,0.126000,0.265000
2018-06-30 03:00:00,9.068,0.238,0.102,0.379,1.338,1.314,0.255,1.036,0.894,6.437,...,2.639,5.839,0.392,4.743,2.518,0.143000,0.176,0.272000,0.264000,0.585000
2018-06-30 04:00:00,3.512,0.238,0.086,0.402,1.352,1.314,0.207,1.156,1.017,6.637,...,2.728,5.366,0.427,2.764,2.534,0.146000,0.219,0.215000,0.241000,0.861000
2018-06-30 05:00:00,3.445,0.151,0.085,0.350,1.338,1.313,0.133,0.938,0.945,5.968,...,2.564,5.264,0.376,2.119,2.610,0.153000,0.228,0.240000,0.244000,0.572000
2018-06-30 06:00:00,3.429,0.160,0.085,0.356,1.367,1.314,0.392,0.697,0.939,5.529,...,0.965,5.000,0.375,2.142,2.812,0.134000,0.174,0.235000,0.303000,0.416000
2018-06-30 07:00:00,4.437,0.196,0.085,0.320,1.358,1.313,0.427,1.917,0.925,5.047,...,0.420,4.464,0.376,2.319,2.665,0.163000,0.189,0.469000,0.285000,0.446000
2018-06-30 08:00:00,8.780,0.220,0.096,0.366,1.351,2.314,0.882,0.888,1.329,5.059,...,0.430,3.544,0.363,2.109,2.617,0.170000,0.109,0.311000,0.382000,0.276000
2018-06-30 09:00:00,11.570,0.158,0.102,0.378,1.347,3.066,1.408,0.903,3.237,5.083,...,0.408,3.712,0.587,2.419,2.591,0.132000,0.165,0.264000,0.386000,0.252000
2018-06-30 10:00:00,15.510,3.472,0.103,0.373,1.344,3.071,1.273,1.268,3.789,5.734,...,0.428,3.938,4.177,2.487,2.574,0.182000,0.140,0.490000,0.551000,0.333000
2018-06-30 11:00:00,15.636,5.434,0.087,0.394,1.370,3.073,5.600,1.174,6.360,5.422,...,0.401,5.121,7.647,2.555,2.607,0.352000,0.212,0.423000,0.366000,0.227000
2018-06-30 12:00:00,17.966,5.302,0.085,0.417,1.366,3.085,8.403,1.160,9.429,5.499,...,0.543,7.253,15.657,2.231,2.567,0.327000,0.249,0.401000,0.286000,0.160000
2018-06-30 13:00:00,17.631,5.804,0.087,0.356,1.356,3.081,13.882,0.782,7.858,5.409,...,2.262,4.496,14.683,2.260,2.993,0.211000,0.194,0.378000,0.364000,0.187000
2018-06-30 14:00:00,21.189,6.013,0.086,0.681,1.361,3.623,14.818,0.844,7.223,5.164,...,2.399,10.362,10.289,2.406,3.191,0.178000,0.213,0.397000,0.336000,0.180000
2018-06-30 15:00:00,18.964,5.825,0.102,1.091,1.352,3.995,14.566,0.799,7.029,5.119,...,2.432,11.723,12.288,2.564,3.232,0.240000,0.231,0.370000,0.262000,0.171000
2018-06-30 16:00:00,19.529,6.483,0.106,0.497,1.358,3.990,11.509,1.297,7.197,4.455,...,2.382,13.150,12.981,9.412,3.225,0.452000,0.191,0.383000,0.250000,0.202000
2018-06-30 17:00:00,19.157,6.485,0.100,0.346,1.366,3.983,14.730,1.295,7.432,5.360,...,2.436,17.210,13.854,11.142,3.251,0.288000,0.176,0.400000,0.442000,0.177000
2018-06-30 18:00:00,18.449,5.797,0.087,0.325,1.368,3.987,14.541,1.383,5.919,6.275,...,2.456,17.360,13.029,11.331,2.764,0.216000,0.203,0.444000,0.276000,0.250000
2018-06-30 19:00:00,18.994,6.334,0.089,0.390,1.406,3.998,11.809,1.583,3.591,7.383,...,2.637,16.197,10.449,11.747,2.490,0.172000,0.155,0.515000,0.360000,0.228000
2018-06-30 20:00:00,19.386,5.862,0.086,0.446,1.446,4.004,0.441,5.802,2.700,7.122,...,2.503,14.835,9.357,11.959,2.514,0.256000,0.093,0.510000,0.391000,0.304000
2018-06-30 21:00:00,17.600,3.686,0.089,0.400,1.467,4.001,0.220,8.904,2.833,6.934,...,2.527,11.237,15.048,10.791,2.527,0.467000,0.137,0.412000,0.321000,0.524000
2018-06-30 22:00:00,16.836,3.158,0.104,0.339,1.451,4.004,0.372,9.916,1.781,7.371,...,2.428,10.157,8.946,9.375,2.520,0.390000,0.203,0.398000,0.271000,0.359000
2018-06-30 23:00:00,17.057,4.903,0.104,0.354,1.438,3.812,0.132,9.984,1.220,6.856,...,2.399,7.714,5.347,5.368,2.489,0.282000,0.184,0.395000,0.515000,0.313000

In [386]:
X_test = TE_timeV_dum_wthr.loc['2018-06-30 00:00:00':, :]
X_test.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2018-06-30 00:00:00,6,30,5,0,0,1,0,0,0,0,1,20.1,0.0,0.0
2018-06-30 01:00:00,6,30,5,1,0,1,0,0,0,0,1,20.2,0.0,0.0
2018-06-30 02:00:00,6,30,5,2,0,1,0,0,0,0,1,19.7,0.0,0.0
2018-06-30 03:00:00,6,30,5,3,0,1,0,0,0,0,1,19.7,0.0,0.0
2018-06-30 04:00:00,6,30,5,4,0,1,0,0,0,0,1,19.6,0.0,0.0

In [387]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor

lg_param = {"boosting_type":['gbdt', 'dart','goss'],
    "learning_rate": [0.01,0.05,0.1,0.15],
    "min_child_samples":[10, 20, 30, 50],       
    "n_estimators":[10, 50, 100],
    }

def gsLGBR_Hrly_FitPred (model, params, mID, X_train, y_train, X_test):
    grid_gb = GridSearchCV(model, params, cv=4, verbose=5)
    grid_gb.fit(X_train, y_train)
    fcst = grid_gb.predict(X_test)
    a = pd.DataFrame([mID], columns=['meter_id'])
    for i in range(240):
        a[i+1]=[fcst[i]]
    return a
   
def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in train.columns:
        data = pd.concat([train.loc[:,[mID]], features], axis=1)
        data = data.rename(columns={mID:'y'})
        for i in [24, 168]:
            data['lag_{}'.format(i)] = data.y.shift(i)
        y_train = data.dropna().y
        X_train = data.dropna().drop(['y'], axis=1)
        
        X_test['lag_24'] = y_train.tail(24).values
        X_test['lag_168'] = data.y.loc['2018-06-23 00:00:00':'2018-06-23 23:00:00'].values
        
        model = LGBMRegressor(verbose=1, tree_learner='feature')
        tmp = gsLGBR_Hrly_FitPred(model, lg_param,
                        mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly_50, tmp], axis=0)
    return hrly

ModuleNotFoundError: No module named 'lightgbm'

In [388]:
def smape_fast(df_y_true, df_y_pred):
    """
    @jit
    using SMAPE(Symmetric mean absolute percentage error)
    :setting:install 'numba' in anaconda
    :df_y_true: Real DateFrame
    :df_y_pred: DataFrame you made    
    """
    from numba import jit
    import math
    out = 0
    if len(df_y_true.columns) > 1:
        y_true = df_y_true.drop(df_y_true.columns[0], axis=1).values.reshape(-1)
        y_pred = df_y_pred.drop(df_y_pred.columns[0], axis=1).values.reshape(-1)
    else:
        y_true = df_y_true.values.reshape(-1)
        y_pred = df_y_pred.values.reshape(-1)
    for i in range(y_true.shape[0]):
        a = y_true[i]
        b = y_pred[i]
        c = a+b
        if c == 0:
            continue
        out += math.fabs(a - b) / c
    out *= (200.0 / y_true.shape[0])
    return out

# Random Forest

In [345]:
from tqdm import tqdm_notebook

In [346]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

def makeTrainTest (mID, train, features, X_test):
    data = pd.concat([train.loc[:,[mID]], features], axis=1)
    data = data.rename(columns={mID:'y'})
    for i in [24, 168]:
        data['lag_{}'.format(i)] = data.y.shift(i)
    y_train = data.dropna().y
    X_train = data.dropna().drop(['y'], axis=1)

    X_test['lag_24'] = data.y.loc['2018-06-29 00:00:00':'2018-06-29 23:00:00'].values
    X_test['lag_168'] = data.y.loc['2018-06-23 00:00:00':'2018-06-23 23:00:00'].values
    
    return X_train, y_train, X_test

def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in tqdm_notebook(train.columns):
        X_train, y_train, X_test = makeTrainTest(mID, train, features, X_test)
        
        model_LR = LinearRegression()
        model_LR.fit(X_train, y_train)
        fcst = model_LR.predict(X_test)
        
        tmp = pd.DataFrame([mID], columns=['meter_id'])
        for i in range(24):
            tmp[i+1]=[fcst[i]]
        
#         model = LGBMRegressor(verbose=1, tree_learner='feature')
#         tmp = gsLGBR_Hrly_FitPred(model, lg_param,
#                         mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly, tmp], axis=0)
    return hrly

In [347]:
train.head(2)

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
2018-02-15 00:00:00,10.592437,0.164,0.561,0.340,1.396,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.371049,6.545218,4.803182,4.499756,2.495460,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,10.592437,0.161,0.486,0.344,1.394,2.284564,2.691859,2.094527,4.322733,4.749095,...,2.334381,5.984280,4.529291,4.341709,2.500658,0.202,0.168,0.391,0.319,0.241

In [348]:
features.shape

(3240, 14)

In [349]:
X_test.shape

(24, 14)

In [352]:
LR_test = onlytesting(train, features, X_test)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:19: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [351]:
LR_test = LR_test.set_index('meter_id')

In [286]:
smape_fast(test_real.T, LR_test)

43.70829386490359

### Day vs. Day_1,2,3

In [259]:
TE_timeV_dum_wthr2 = TE_timeV_dum_wthr.drop(columns='Day')

In [260]:
features_noDay = TE_timeV_dum_wthr2.loc['2018-02-15 00:00:00':'2018-06-29 23:00:00', :]
features_noDay.head()

,Mth,Date,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,
2018-02-15 00:00:00,2,15,0,0,0,0,1,0,1,0,-1.0,0.0,5.0
2018-02-15 01:00:00,2,15,1,0,0,0,1,0,1,0,-1.2,0.0,3.4
2018-02-15 02:00:00,2,15,2,0,0,0,1,0,1,0,-1.2,0.0,3.9
2018-02-15 03:00:00,2,15,3,0,0,0,1,0,1,0,-1.5,0.0,3.5
2018-02-15 04:00:00,2,15,4,0,0,0,1,0,1,0,-1.9,0.0,5.3

In [261]:
X_test_noDay = X_test.drop(columns='Day')

In [262]:
RF_test_noDay = onlytesting(train, features_noDay, X_test_noDay)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:18: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [263]:
RF_test_noDay.head(2)

,meter_id,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,X40,14.382,14.457477,12.34837,11.0195,4.0473,3.2639,3.1023,4.3088,12.660049,...,19.3601,19.5118,17.9355,17.7582,19.2023,18.6562,17.0090,16.421600,16.195956,16.089156
0,X84,0.204,1.084700,1.75510,1.7574,1.7649,0.2426,0.6127,0.1800,0.522700,...,4.3588,5.1502,4.3911,4.8650,4.3515,4.6025,3.8054,2.895449,2.121819,2.194400

In [264]:
RF_test_noDay = RF_test_noDay.set_index('meter_id')

In [265]:
smape_fast(test_real.T, RF_test_noDay)

33.83599812956374

In [266]:
TE_timeV_dum_wthr3 = TE_timeV_dum_wthr.drop(columns=['day_1', 'day_2','day_3'])

In [267]:
features_noDayClass = TE_timeV_dum_wthr3.loc['2018-02-15 00:00:00':'2018-06-29 23:00:00', :]
features_noDayClass.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,Temp,Humid,Wind
Time,,,,,,,,,,,
2018-02-15 00:00:00,2,15,3,0,0,0,0,1,-1.0,0.0,5.0
2018-02-15 01:00:00,2,15,3,1,0,0,0,1,-1.2,0.0,3.4
2018-02-15 02:00:00,2,15,3,2,0,0,0,1,-1.2,0.0,3.9
2018-02-15 03:00:00,2,15,3,3,0,0,0,1,-1.5,0.0,3.5
2018-02-15 04:00:00,2,15,3,4,0,0,0,1,-1.9,0.0,5.3

In [268]:
X_test_noDayClass = X_test.drop(columns=['day_1', 'day_2','day_3'])

In [269]:
RF_test_noDayClass = onlytesting(train, features_noDay, X_test_noDay)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:18: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [270]:
RF_test_noDayClass = RF_test_noDayClass.set_index('meter_id')

In [271]:
smape_fast(test_real.T, RF_test_noDayClass)

34.05389342514043

## Random 30 columns

In [274]:
clusters = pd.read_csv("presentation/clusterIDs_k2.csv", index_col=0, sep=',')

In [277]:
clusters

,0,1,2,3,4,5,6,7,8,9,...,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268
TEST_Cluster1,X10,X102,X105,X110,X116,X120,X124,X125,X16,X30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TEST_Cluster2,X106,X107,X111,X123,X126,X130,X132,X133,X134,X139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAIN_Cluster1,X101,X103,X104,X113,X119,X121,X15,X23,X27,X28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRAIN_Cluster2,X1,X100,X1000,X1001,X1002,X1003,X1004,X1005,X1006,X1007,...,X990,X991,X992,X993,X994,X995,X996,X997,X998,X999

In [278]:
sum(clusters.isnull().sum())

3576

In [287]:
test = pd.read_csv("data/test.csv", index_col=0, sep=',')

In [288]:
test.X303.median()

0.434

In [289]:
test.X241.median()

0.321

In [290]:
test.X435.median()

0.312

In [292]:
test.X402.median()

0.271

In [293]:
test.X352.median()

0.2

In [294]:
test.X305.median()

0.3670000000000001

In [299]:
test.X350.median()

0.311

In [297]:
test.X326.median()

0.08

In [298]:
test.X299.median()

0.239

## 언니 Rolling

In [ ]:
rolling_test = pd.read_csv("data/test_r48_med_onlyNAN.csv", index_col=0, sep=',')
rolling_train = pd.read_csv("data/train_r48_med_onlyNAN.csv", index_col=0, sep=',')

In [ ]:
te = ['X41','X50','X30', 'X37', 'X18','X231', 'X116', 'X149', 'X371', 'X218']
tr = ['X40', 'X84' ,'X77', 'X93', 'X89' ,'X15', 'X23', 'X60', 'X27', 'X6','X610' ,'X1362' ,'X476', 'X237' ,'X1032', 'X1287', 'X428', 'X768', 'X989' ,'X616']

In [365]:
rolling_test.loc[:,te].head(2)

                     X41  X50  X30  X37  X18  X231   X116  X149  X371  X218
Time
2017-07-01 00:00:00  NaN  NaN  NaN  NaN  NaN   NaN  0.243   NaN   NaN   NaN
2017-07-01 01:00:00  NaN  NaN  NaN  NaN  NaN   NaN  0.299   NaN   NaN   NaN

In [366]:
rolling_train.loc[:,tr]

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,X610,X1362,X476,X237,X1032,X1287,X428,X768,X989,X616
Time,,,,,,,,,,,,,,,,,,,,
2016-07-26 11:00:00,NaN,NaN,3.815,3.921,2.005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 12:00:00,NaN,NaN,3.196,5.233,3.674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 13:00:00,NaN,NaN,5.576,5.176,3.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 14:00:00,NaN,NaN,5.101,4.979,3.678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 15:00:00,NaN,NaN,5.063,4.898,3.693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 16:00:00,NaN,NaN,4.762,4.206,5.522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 17:00:00,NaN,NaN,4.633,4.115,7.893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 18:00:00,NaN,NaN,4.672,4.020,5.137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 19:00:00,NaN,NaN,3.587,3.070,1.457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 20:00:00,NaN,NaN,2.758,1.813,1.501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 21:00:00,NaN,NaN,0.370,0.384,1.456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 22:00:00,NaN,NaN,0.384,0.383,1.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 23:00:00,NaN,NaN,0.331,0.399,1.449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 00:00:00,NaN,NaN,0.351,0.427,1.505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 01:00:00,NaN,NaN,0.387,0.423,1.466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 02:00:00,NaN,NaN,0.321,0.386,1.489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 03:00:00,NaN,NaN,0.359,0.386,1.471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 04:00:00,NaN,NaN,0.382,0.386,1.534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 05:00:00,NaN,NaN,0.338,0.386,1.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 06:00:00,NaN,NaN,0.359,0.381,1.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 07:00:00,NaN,NaN,0.390,0.375,1.546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 08:00:00,NaN,NaN,0.357,0.371,5.977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 09:00:00,NaN,NaN,4.847,2.798,6.983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 10:00:00,NaN,NaN,5.048,3.583,3.931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 11:00:00,NaN,NaN,4.726,3.519,3.502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 12:00:00,NaN,NaN,3.144,3.522,3.316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 13:00:00,NaN,NaN,4.979,3.525,2.014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 14:00:00,NaN,NaN,5.144,3.765,3.499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 15:00:00,NaN,NaN,4.655,3.481,6.063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-27 16:00:00,NaN,NaN,5.221,2.190,7.551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,18.543,5.673,0.156,1.517,6.602,3.984,10.168,1.292,8.073,6.150,0.2020,0.4060,0.2710,0.2710,0.3530,0.3240,0.2700,0.3130,0.4320,0.5190
2018-06-29 19:00:00,15.143,1.039,0.147,0.343,5.752,3.987,8.032,1.597,9.358,6.870,0.1980,0.4095,0.2685,0.2670,0.3455,0.3400,0.2740,0.3105,0.4275,0.5105
2018-06-29 20:00:00,15.558,2.576,0.135,0.409,5.412,3.990,8.588,5.206,7.631,6.875,0.9580,1.3580,1.1120,1.9590,2.1650,1.2080,1.1190,1.6880,1.7640,4.8710
2018-06-29 21:00:00,14.979,3.832,0.091,0.363,3.621,3.984,7.941,8.735,8.224,6.591,0.1940,0.4060,0.2710,0.2630,0.3530,0.3610,0.2700,0.3080,0.4230,0.6250
2018-06-29 22:00:00,16.243,3.532,0.086,0.342,1.455,3.965,0.503,5.614,3.781,6.955,0.1935,0.4045,0.2685,0.2600,0.3455,0.3585,0.2515,0.2975,0.4200,0.6300
2018-06-29 23:00:00,16.655,4.643,0.086,0.394,1.427,3.870,0.135,5.493,2.112,6.783,0.0350,0.0880,0.0570,0.3160,0.2500,0.0760,0.0420,0.1320,0.0830,0.3240
2018-06-30 00:00:00,16.819,2.255,0.086,0.401,1.336,2.340,0.172,6.566,1.032,6.962,0.1930,0.4060,0.2660,0.2570,0.3180,0.3000,0.2330,0.2830,0.4060,0.5200
2018-06-30 01:00:00,16.731,0.175,0.102,0.369,1.355,1.313,0.420,5.542,0.934,6.751,0.1935,0.4095,0.2685,0.2565,0.3125,0.2925,0.2515,0.2805,0.4115,0.5105
2018-06-30 02:00:00,14.620,0.220,0.100,0.345,1.383,1.314,0.407,0.882,0.982,6.336,0.0870,0.1830,0.1270,0.1120,0.3880,0.0970,0.0670,0.1200,0.1090,0.1820
2018-06-30 03:00:00,9.068,0.238,0.102,0.379,1.338,1.314,0.255,1.036,0.894,6.437,0.1700,0.3630,0.2610,0.2530,0.3540,0.2020,0.1050,0.2650,0.3070,0.4370
2018-06-30 04:00:00,3.512,0.238,0.086,0.402,1.352,1.314,0.207,1.156,1.017,6.637,0.0940,0.2990,0.2640,0.2440,0.2800,0.1920,0.1090,0.2460,0.2210,0.4670
2018-06-30 05:00:00,3.445,0.151,0.085,0.350,1.338,1.313,0.133,0.938,0.945,5.968,0.0950,0.3120,0.2100,0.1620,0.3160,0.6590,0.1200,0.2650,0.2720,0.2850
2018-06-30 06:00:00,3.429,0.160,0.085,0.356,1.367,1.314,0.392,0.697,0.939,5.529,0.0940,0.3590,0.2310,0.2350,0.2780,0.3550,0.1310,0.3760,0.2090,0.1980
2018-06-30 07:00:00,4.437,0.196,0.085,0.320,1.358,1.313,0.427,1.917,0.925,5.047,0.1070,0.2810,0.4890,0.2760,0.3310,0.3180,0.2770,0.4220,0.2910,0.1940
2018-06-30 08:00:00,8.780,0.220,0.096,0.366,1.351,2.314,0.882,0.888,1.329,5.059,0.5330,0.3670,0.3890,0.1790,0.2700,0.2510,0.2380,0.7160,1.4600,0.1830
2018-06-30 09:00:00,11.570,0.158,0.102,0.378,1.347,3.066,1.408,0.903,3.237,5.083,0.2670,0.2770,0.3060,0.2870,0.2700,0.3260,0.4020,0.2650,0.6410,0.3960
2018-06-30 10:00:00,15.510,3.472,0.103,0.373,1.344,3.071,1.273,1.268,3.789,5.734,0.3110,0.3940,0.3010,0.3550,0.2680,0.2880,0.2690,0.2640,0.8400,0.2350
2018-06-30 11:00:00,15.636,5.434,0.087,0.394,1.370,3.073,5.600,1.174,6.360,5.422,0.1230,0.3980,0.3190,0.3920,0.4090,0.4440,0.2480,0.3680,0.4120,0.3390
2018-06-30 12:00:00,17.966,5.302,0.085,0.417,1.366,3.085,8.403,1.160,9.429,5.499,0.1140,0.3840,0.2790,0.6260,1.0690,0.3900,0.2940,0.3240,0.7910,0.8460
2018-06-30 13:00:00,17.631,5.804,0.087,0.356,1.356,3.081,13.882,0.782,7.858,5.409,0.1220,0.3900,0.2760,2.1560,0.8220,0.2350,0.3600,0.2620,0.5330,0.9090
2018-06-30 14:00:00,21.189,6.013,0.086,0.681,1.361,3.623,14.818,0.844,7.223,5.164,0.2120,0.4160,0.2640,0.4830,0.8360,0.2530,0.3550,0.2570,0.4340,1.0580
2018-06-30 15:00:00,18.964,5.825,0.102,1.091,1.352,3.995,14.566,0.799,7.029,5.119,0.1240,0.3650,0.3610,0.3380,0.7210,0.2310,0.6900,0.2650,0.5300,1.2770
2018-06-30 16:00:00,19.529,6.483,0.106,0.497,1.358,3.990,11.509,1.297,7.197,4.455,0.6190,0.4160,0.2550,0.8570,0.4020,0.2420,0.4740,0.2590,0.4600,1.3570
2018-06-30 17:00:00,19.157,6.485,0.100,0.346,1.366,3.983,14.730,1.295,7.432,5.360,0.2590,0.4360,0.2360,1.4070,0.4300,0.2290,0.4800,0.3130,0.4150,1.2690
2018-06-30 18:00:00,18.449,5.797,0.087,0.325,1.368,3.987,14.541,1.383,5.919,6.275,0.1990,0.2760,0.4760,0.2730,0.3960,0.3090,0.2890,0.2840,0.4020,0.3260
2018-06-30 19:00:00,18.994,6.334,0.089,0.390,1.406,3.998,11.809,1.583,3.591,7.383,0.4600,0.4210,0.3100,0.2570,0.4300,0.2950,0.4490,0.2620,0.5050,0.3290
2018-06-30 20:00:00,19.386,5.862,0.086,0.446,1.446,4.004,0.441,5.802,2.700,7.122,0.3820,0.4910,0.3740,0.2520,0.4660,0.2870,0.3870,0.2540,0.6280,0.3400
2018-06-30 21:00:00,17.600,3.686,0.089,0.400,1.467,4.001,0.220,8.904,2.833,6.934,0.4540,0.4800,0.3490,0.3450,0.5280,0.4330,0.3570,0.2410,0.5930,0.5250
2018-06-30 22:00:00,16.836,3.158,0.104,0.339,1.451,4.004,0.372,9.916,1.781,7.371,0.2290,0.4430,0.3710,0.4620,0.4060,0.3840,0.2460,0.2590,0.6660,0.6010
2018-06-30 23:00:00,17.057,4.903,0.104,0.354,1.438,3.812,0.132,9.984,1.220,6.856,0.1740,0.3780,0.3670,0.5120,0.5900,0.3430,0.1200,0.3220,0.3200,0.6950

In [367]:
rolling_test.loc['2018-02-15 00:00:00':,te]

,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,
2018-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,NaN,NaN,NaN,NaN,NaN,0.202,0.168,0.391,0.319,0.241
2018-02-15 02:00:00,NaN,NaN,NaN,NaN,NaN,0.213,0.123,0.248,0.306,0.284
2018-02-15 03:00:00,NaN,NaN,NaN,NaN,NaN,0.154,0.113,0.215,0.280,0.295
2018-02-15 04:00:00,NaN,NaN,NaN,NaN,NaN,0.141,0.167,0.211,0.294,0.267
2018-02-15 05:00:00,NaN,NaN,NaN,NaN,NaN,0.154,0.182,0.219,0.433,0.347
2018-02-15 06:00:00,NaN,NaN,NaN,NaN,NaN,0.150,0.226,0.214,0.300,0.706
2018-02-15 07:00:00,NaN,NaN,NaN,NaN,NaN,0.186,0.115,0.266,0.418,0.514
2018-02-15 08:00:00,NaN,NaN,NaN,NaN,NaN,0.134,0.115,0.404,0.400,0.675
2018-02-15 09:00:00,NaN,NaN,NaN,NaN,NaN,0.151,0.168,0.354,0.535,1.224
2018-02-15 10:00:00,NaN,NaN,NaN,NaN,NaN,0.144,0.164,0.275,0.575,0.512
2018-02-15 11:00:00,NaN,NaN,NaN,NaN,NaN,0.142,0.235,0.408,0.423,0.904
2018-02-15 12:00:00,NaN,NaN,NaN,NaN,NaN,0.206,0.113,0.416,0.661,0.497
2018-02-15 13:00:00,NaN,NaN,NaN,NaN,NaN,0.148,0.114,0.635,0.466,0.711
2018-02-15 14:00:00,NaN,NaN,NaN,NaN,NaN,0.409,0.167,1.486,0.409,0.565
2018-02-15 15:00:00,NaN,NaN,NaN,NaN,NaN,0.184,0.179,1.997,0.402,0.441
2018-02-15 16:00:00,NaN,NaN,NaN,NaN,NaN,0.177,0.184,0.937,0.578,0.709
2018-02-15 17:00:00,NaN,NaN,NaN,NaN,NaN,0.711,0.147,0.480,0.566,0.701
2018-02-15 18:00:00,NaN,NaN,NaN,NaN,NaN,0.397,0.113,0.647,0.559,2.039
2018-02-15 19:00:00,NaN,NaN,NaN,NaN,NaN,0.386,0.167,0.640,0.583,0.847
2018-02-15 20:00:00,NaN,NaN,NaN,NaN,NaN,0.385,0.190,0.500,0.253,0.540
2018-02-15 21:00:00,NaN,NaN,NaN,NaN,NaN,0.366,0.168,0.599,0.582,0.520
2018-02-15 22:00:00,NaN,NaN,NaN,NaN,NaN,0.395,0.148,0.594,0.507,0.416
2018-02-15 23:00:00,NaN,NaN,NaN,NaN,NaN,0.488,0.118,0.358,NaN,0.353
2018-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,0.224,0.163,0.191,0.161,0.230
2018-02-16 01:00:00,NaN,NaN,NaN,NaN,NaN,0.131,0.191,0.194,0.409,0.245
2018-02-16 02:00:00,NaN,NaN,NaN,NaN,NaN,0.129,0.168,0.189,0.358,0.347
2018-02-16 03:00:00,NaN,NaN,NaN,NaN,NaN,0.155,0.113,0.201,0.306,0.260
2018-02-16 04:00:00,NaN,NaN,NaN,NaN,NaN,0.189,0.192,0.190,0.330,0.280
2018-02-16 05:00:00,NaN,NaN,NaN,NaN,NaN,0.189,0.143,0.190,0.298,0.360
...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,2.355,15.415,17.105,4.578,2.532,NaN,0.221,NaN,NaN,NaN
2018-06-29 19:00:00,2.318,12.638,13.212,7.407,2.524,NaN,0.206,NaN,NaN,NaN
2018-06-29 20:00:00,2.236,10.939,12.781,9.560,2.508,1.264,0.177,2.002,1.439,2.388
2018-06-29 21:00:00,2.275,7.216,9.197,7.907,2.525,NaN,0.125,NaN,NaN,NaN
2018-06-29 22:00:00,2.370,6.527,5.359,12.199,2.469,NaN,0.108,NaN,NaN,NaN
2018-06-29 23:00:00,2.607,6.577,3.251,11.825,2.501,0.092,0.172,0.085,0.115,0.142
2018-06-30 00:00:00,2.606,6.493,1.940,10.739,2.535,NaN,0.210,NaN,NaN,NaN
2018-06-30 01:00:00,2.736,6.189,0.395,6.727,2.540,NaN,0.229,NaN,NaN,NaN
2018-06-30 02:00:00,2.652,4.934,0.386,4.320,2.509,0.085,0.204,0.146,0.126,0.265
2018-06-30 03:00:00,2.639,5.839,0.392,4.743,2.518,0.143,0.176,0.272,0.264,0.585
2018-06-30 04:00:00,2.728,5.366,0.427,2.764,2.534,0.146,0.219,0.215,0.241,0.861
2018-06-30 05:00:00,2.564,5.264,0.376,2.119,2.610,0.153,0.228,0.240,0.244,0.572
2018-06-30 06:00:00,0.965,5.000,0.375,2.142,2.812,0.134,0.174,0.235,0.303,0.416
2018-06-30 07:00:00,0.420,4.464,0.376,2.319,2.665,0.163,0.189,0.469,0.285,0.446
2018-06-30 08:00:00,0.430,3.544,0.363,2.109,2.617,0.170,0.109,0.311,0.382,0.276
2018-06-30 09:00:00,0.408,3.712,0.587,2.419,2.591,0.132,0.165,0.264,0.386,0.252
2018-06-30 10:00:00,0.428,3.938,4.177,2.487,2.574,0.182,0.140,0.490,0.551,0.333
2018-06-30 11:00:00,0.401,5.121,7.647,2.555,2.607,0.352,0.212,0.423,0.366,0.227
2018-06-30 12:00:00,0.543,7.253,15.657,2.231,2.567,0.327,0.249,0.401,0.286,0.160
2018-06-30 13:00:00,2.262,4.496,14.683,2.260,2.993,0.211,0.194,0.378,0.364,0.187
2018-06-30 14:00:00,2.399,10.362,10.289,2.406,3.191,0.178,0.213,0.397,0.336,0.180
2018-06-30 15:00:00,2.432,11.723,12.288,2.564,3.232,0.240,0.231,0.370,0.262,0.171
2018-06-30 16:00:00,2.382,13.150,12.981,9.412,3.225,0.452,0.191,0.383,0.250,0.202
2018-06-30 17:00:00,2.436,17.210,13.854,11.142,3.251,0.288,0.176,0.400,0.442,0.177
2018-06-30 18:00:00,2.456,17.360,13.029,11.331,2.764,0.216,0.203,0.444,0.276,0.250
2018-06-30 19:00:00,2.637,16.197,10.449,11.747,2.490,0.172,0.155,0.515,0.360,0.228
2018-06-30 20:00:00,2.503,14.835,9.357,11.959,2.514,0.256,0.093,0.510,0.391,0.304
2018-06-30 21:00:00,2.527,11.237,15.048,10.791,2.527,0.467,0.137,0.412,0.321,0.524
2018-06-30 22:00:00,2.428,10.157,8.946,9.375,2.520,0.390,0.203,0.398,0.271,0.359
2018-06-30 23:00:00,2.399,7.714,5.347,5.368,2.489,0.282,0.184,0.395,0.515,0.313

In [371]:
data = pd.concat([rolling_train.loc['2018-02-15 00:00:00':, tr], rolling_test.loc['2018-02-15 00:00:00':,te]], axis=1 )
data.index = pd.to_datetime(data.index)
data.head(2)

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-02-15 00:00:00,NaN,0.164,0.561,0.340,1.396,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.327,0.199,0.261,0.142,0.361
2018-02-15 01:00:00,NaN,0.161,0.486,0.344,1.394,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.202,0.168,0.391,0.319,0.241

In [372]:
data.isnull().sum()

X40      1507
X84         0
X77         0
X93         0
X89         0
X15      1507
X23      1507
X60      1507
X27      1507
X6       1507
X610        0
X1362       0
X476        0
X237        0
X1032       0
X1287       0
X428        0
X768        0
X989        0
X616        0
X41      1507
X50      1507
X30      1507
X37      1507
X18      1507
X231      204
X116        0
X149      207
X371      195
X218      207
dtype: int64

In [373]:
train = data.loc[:'2018-06-29 23:00:00', :]
train.tail()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-29 19:00:00,15.143,1.039,0.147,0.343,5.752,3.987,8.032,1.597,9.358,6.870,...,2.318,12.638,13.212,7.407,2.524,NaN,0.206,NaN,NaN,NaN
2018-06-29 20:00:00,15.558,2.576,0.135,0.409,5.412,3.990,8.588,5.206,7.631,6.875,...,2.236,10.939,12.781,9.560,2.508,1.264,0.177,2.002,1.439,2.388
2018-06-29 21:00:00,14.979,3.832,0.091,0.363,3.621,3.984,7.941,8.735,8.224,6.591,...,2.275,7.216,9.197,7.907,2.525,NaN,0.125,NaN,NaN,NaN
2018-06-29 22:00:00,16.243,3.532,0.086,0.342,1.455,3.965,0.503,5.614,3.781,6.955,...,2.370,6.527,5.359,12.199,2.469,NaN,0.108,NaN,NaN,NaN
2018-06-29 23:00:00,16.655,4.643,0.086,0.394,1.427,3.870,0.135,5.493,2.112,6.783,...,2.607,6.577,3.251,11.825,2.501,0.092,0.172,0.085,0.115,0.142

In [338]:
train.isnull().sum()

X40      0
X84      0
X77      0
X93      0
X89      0
X15      0
X23      0
X60      0
X27      0
X6       0
X610     0
X1362    0
X476     0
X237     0
X1032    0
X1287    0
X428     0
X768     0
X989     0
X616     0
X41      0
X50      0
X30      0
X37      0
X18      0
X231     0
X116     0
X149     0
X371     0
X218     0
dtype: int64

In [374]:
features = TE_timeV_dum_wthr.loc['2018-02-15 00:00:00':'2018-06-29 23:00:00', :]
features.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2018-02-15 00:00:00,2,15,3,0,0,0,0,1,0,1,0,-1.0,0.0,5.0
2018-02-15 01:00:00,2,15,3,1,0,0,0,1,0,1,0,-1.2,0.0,3.4
2018-02-15 02:00:00,2,15,3,2,0,0,0,1,0,1,0,-1.2,0.0,3.9
2018-02-15 03:00:00,2,15,3,3,0,0,0,1,0,1,0,-1.5,0.0,3.5
2018-02-15 04:00:00,2,15,3,4,0,0,0,1,0,1,0,-1.9,0.0,5.3

In [398]:
test_real = train_data.loc['2018-06-30 00:00:00':, :]
test_real

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-30 00:00:00,16.819,2.255,0.086,0.401,1.336,2.340,0.172,6.566,1.032,6.962,...,2.606,6.493,1.940,10.739,2.535,0.252348,0.210,0.363205,0.435221,0.322871
2018-06-30 01:00:00,16.731,0.175,0.102,0.369,1.355,1.313,0.420,5.542,0.934,6.751,...,2.736,6.189,0.395,6.727,2.540,0.236122,0.229,0.345738,0.394364,0.327677
2018-06-30 02:00:00,14.620,0.220,0.100,0.345,1.383,1.314,0.407,0.882,0.982,6.336,...,2.652,4.934,0.386,4.320,2.509,0.085000,0.204,0.146000,0.126000,0.265000
2018-06-30 03:00:00,9.068,0.238,0.102,0.379,1.338,1.314,0.255,1.036,0.894,6.437,...,2.639,5.839,0.392,4.743,2.518,0.143000,0.176,0.272000,0.264000,0.585000
2018-06-30 04:00:00,3.512,0.238,0.086,0.402,1.352,1.314,0.207,1.156,1.017,6.637,...,2.728,5.366,0.427,2.764,2.534,0.146000,0.219,0.215000,0.241000,0.861000
2018-06-30 05:00:00,3.445,0.151,0.085,0.350,1.338,1.313,0.133,0.938,0.945,5.968,...,2.564,5.264,0.376,2.119,2.610,0.153000,0.228,0.240000,0.244000,0.572000
2018-06-30 06:00:00,3.429,0.160,0.085,0.356,1.367,1.314,0.392,0.697,0.939,5.529,...,0.965,5.000,0.375,2.142,2.812,0.134000,0.174,0.235000,0.303000,0.416000
2018-06-30 07:00:00,4.437,0.196,0.085,0.320,1.358,1.313,0.427,1.917,0.925,5.047,...,0.420,4.464,0.376,2.319,2.665,0.163000,0.189,0.469000,0.285000,0.446000
2018-06-30 08:00:00,8.780,0.220,0.096,0.366,1.351,2.314,0.882,0.888,1.329,5.059,...,0.430,3.544,0.363,2.109,2.617,0.170000,0.109,0.311000,0.382000,0.276000
2018-06-30 09:00:00,11.570,0.158,0.102,0.378,1.347,3.066,1.408,0.903,3.237,5.083,...,0.408,3.712,0.587,2.419,2.591,0.132000,0.165,0.264000,0.386000,0.252000
2018-06-30 10:00:00,15.510,3.472,0.103,0.373,1.344,3.071,1.273,1.268,3.789,5.734,...,0.428,3.938,4.177,2.487,2.574,0.182000,0.140,0.490000,0.551000,0.333000
2018-06-30 11:00:00,15.636,5.434,0.087,0.394,1.370,3.073,5.600,1.174,6.360,5.422,...,0.401,5.121,7.647,2.555,2.607,0.352000,0.212,0.423000,0.366000,0.227000
2018-06-30 12:00:00,17.966,5.302,0.085,0.417,1.366,3.085,8.403,1.160,9.429,5.499,...,0.543,7.253,15.657,2.231,2.567,0.327000,0.249,0.401000,0.286000,0.160000
2018-06-30 13:00:00,17.631,5.804,0.087,0.356,1.356,3.081,13.882,0.782,7.858,5.409,...,2.262,4.496,14.683,2.260,2.993,0.211000,0.194,0.378000,0.364000,0.187000
2018-06-30 14:00:00,21.189,6.013,0.086,0.681,1.361,3.623,14.818,0.844,7.223,5.164,...,2.399,10.362,10.289,2.406,3.191,0.178000,0.213,0.397000,0.336000,0.180000
2018-06-30 15:00:00,18.964,5.825,0.102,1.091,1.352,3.995,14.566,0.799,7.029,5.119,...,2.432,11.723,12.288,2.564,3.232,0.240000,0.231,0.370000,0.262000,0.171000
2018-06-30 16:00:00,19.529,6.483,0.106,0.497,1.358,3.990,11.509,1.297,7.197,4.455,...,2.382,13.150,12.981,9.412,3.225,0.452000,0.191,0.383000,0.250000,0.202000
2018-06-30 17:00:00,19.157,6.485,0.100,0.346,1.366,3.983,14.730,1.295,7.432,5.360,...,2.436,17.210,13.854,11.142,3.251,0.288000,0.176,0.400000,0.442000,0.177000
2018-06-30 18:00:00,18.449,5.797,0.087,0.325,1.368,3.987,14.541,1.383,5.919,6.275,...,2.456,17.360,13.029,11.331,2.764,0.216000,0.203,0.444000,0.276000,0.250000
2018-06-30 19:00:00,18.994,6.334,0.089,0.390,1.406,3.998,11.809,1.583,3.591,7.383,...,2.637,16.197,10.449,11.747,2.490,0.172000,0.155,0.515000,0.360000,0.228000
2018-06-30 20:00:00,19.386,5.862,0.086,0.446,1.446,4.004,0.441,5.802,2.700,7.122,...,2.503,14.835,9.357,11.959,2.514,0.256000,0.093,0.510000,0.391000,0.304000
2018-06-30 21:00:00,17.600,3.686,0.089,0.400,1.467,4.001,0.220,8.904,2.833,6.934,...,2.527,11.237,15.048,10.791,2.527,0.467000,0.137,0.412000,0.321000,0.524000
2018-06-30 22:00:00,16.836,3.158,0.104,0.339,1.451,4.004,0.372,9.916,1.781,7.371,...,2.428,10.157,8.946,9.375,2.520,0.390000,0.203,0.398000,0.271000,0.359000
2018-06-30 23:00:00,17.057,4.903,0.104,0.354,1.438,3.812,0.132,9.984,1.220,6.856,...,2.399,7.714,5.347,5.368,2.489,0.282000,0.184,0.395000,0.515000,0.313000

In [399]:
X_test = TE_timeV_dum_wthr.loc['2018-06-30 00:00:00':, :]
X_test.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,day_1,day_2,day_3,Temp,Humid,Wind
Time,,,,,,,,,,,,,,
2018-06-30 00:00:00,6,30,5,0,0,1,0,0,0,0,1,20.1,0.0,0.0
2018-06-30 01:00:00,6,30,5,1,0,1,0,0,0,0,1,20.2,0.0,0.0
2018-06-30 02:00:00,6,30,5,2,0,1,0,0,0,0,1,19.7,0.0,0.0
2018-06-30 03:00:00,6,30,5,3,0,1,0,0,0,0,1,19.7,0.0,0.0
2018-06-30 04:00:00,6,30,5,4,0,1,0,0,0,0,1,19.6,0.0,0.0

In [400]:
r_LR = onlytesting(train, features, X_test)

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:19: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\soomin\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [401]:
smape_fast(test_real.T,r_LR)

63.696314969255376

## 모델들 테스팅

### LGB

In [402]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor

lg_param = {"boosting_type":['gbdt', 'dart','goss'],
    "learning_rate": [0.01,0.05,0.1,0.15],
    "min_child_samples":[10, 20, 30, 50],       
    "n_estimators":[10, 50, 100],
    }

def gsLGBR_Hrly_FitPred (model, params, mID, X_train, y_train, X_test):
    grid_gb = GridSearchCV(model, params, cv=4, verbose=5)
    grid_gb.fit(X_train, y_train)
    fcst = grid_gb.predict(X_test)
    a = pd.DataFrame([mID], columns=['meter_id'])
    for i in range(240):
        a[i+1]=[fcst[i]]
    return a
   
def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in train.columns:
        data = pd.concat([train.loc[:,[mID]], features], axis=1)
        data = data.rename(columns={mID:'y'})
        for i in [24, 168]:
            data['lag_{}'.format(i)] = data.y.shift(i)
        y_train = data.dropna().y
        X_train = data.dropna().drop(['y'], axis=1)
        
        X_test['lag_24'] = y_train.tail(24).values
        X_test['lag_168'] = data.y.loc['2018-06-23 00:00:00':'2018-06-23 23:00:00'].values
        
        model = LGBMRegressor(verbose=1, tree_learner='feature')
        tmp = gsLGBR_Hrly_FitPred(model, lg_param,
                        mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly_50, tmp], axis=0)
    return hrly

ModuleNotFoundError: No module named 'lightgbm'

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression


def makeTrainTest (mID, train, features, X_test):
    data = pd.concat([train.loc[:,[mID]], features], axis=1)
    data = data.rename(columns={mID:'y'})
    for i in [24, 168]:
        data['lag_{}'.format(i)] = data.y.shift(i)
    y_train = data.dropna().y
    X_train = data.dropna().drop(['y'], axis=1)

    X_test['lag_24'] = data.y.loc['2018-06-29 00:00:00':'2018-06-29 23:00:00'].values
    X_test['lag_168'] = data.y.loc['2018-06-23 00:00:00':'2018-06-23 23:00:00'].values
    
    return X_train, y_train, X_test

def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in tqdm_notebook(train.columns):
        X_train, y_train, X_test = makeTrainTest(mID, train, features, X_test)
        
        model_XG = XGBRegressor()
        model_LR.fit(X_train, y_train)
        fcst = model_LR.predict(X_test)
        
        tmp = pd.DataFrame([mID], columns=['meter_id'])
        for i in range(24):
            tmp[i+1]=[fcst[i]]
        
#         model = LGBMRegressor(verbose=1, tree_learner='feature')
#         tmp = gsLGBR_Hrly_FitPred(model, lg_param,
#                         mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly, tmp], axis=0)
    return hrly