In [1]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns
import itertools
%matplotlib inline
from matplotlib.pyplot import figure
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'Malgun Gothic' 
plt.rcParams["font.size"] = 10
%matplotlib inline 


from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA 

from sklearn.preprocessing import StandardScaler
import os

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

## Weather 추가변수
- 나중에 모델 돌릴때마다 df에 추가하는 것

In [3]:
# hourly WEATHER data
# w_hr = pd.read_csv("/kaggle/input/weather/hourly.csv",encoding='euc-kr', sep=',')
w_hr = pd.read_csv("data/weather/hourly.csv", sep=',', encoding='euc-kr')
w_hr2 = w_hr.loc[:,['Time', 'Temp','Humidity', 'WindSpeed']]
w_hr2['Humidity']=w_hr2.loc[:,'Humidity'].fillna(0)
w_hr2.head(2)

             Time  Temp  Humidity  WindSpeed
0  2016.7.20 0:00  25.7       0.0        1.3
1  2016.7.20 1:00  25.6       0.0        1.4

In [4]:
w_hr2['Time'] = pd.to_datetime(w_hr2.Time)
w_hr2 = w_hr2.set_index('Time')
w_hr2.head(2)

                     Temp  Humidity  WindSpeed
Time
2016-07-20 00:00:00  25.7       0.0        1.3
2016-07-20 01:00:00  25.6       0.0        1.4

## 파생 변수

In [61]:
# test = pd.read_csv("/kaggle/input/dataset/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [62]:
test.index = pd.to_datetime(test.index)
train.index = pd.to_datetime(train.index)

In [7]:
def dateTimeVar(df):
    df1 = pd.DataFrame(df.index)
    df1.index = pd.to_datetime(df1.iloc[:,0])
    df1 = df1.drop(columns=df1.columns)
    # datetime을 사용한 파생변수
    # 연도, 월, 일, 요일, 시간
    df1['Mth']= df1.index.month
    df1['Date']=df1.index.day
    df1['Day']=df1.index.weekday
    df1['hour']=df1.index.hour
    
    # Season 1: 봄 ~ 4: 겨울 
    df1['season'] = df1.Mth.apply(lambda x: 4 if x in [12,1,2] else 
                1 if x in [3,4,5] else 2 if x in [6,7,8]
               else 3)
    # dayClass 1: 월, 2: 화~금, 3: 토, 일 
    # 참조 from 실시간 수요예측 기법 개발 및 온라인 수요예측 방안 연구_KPX 한국전력거래소)
    df1['dayClass'] = df1.Day.apply(lambda x: 1 if x ==0 else 
                2 if x in [1,2,3,4] else 3)
    return df1

In [8]:
TE_time_vars = dateTimeVar(test)

In [9]:
TE_time_vars.head(5)

                     Mth  Date  Day  hour  season  dayClass
Time
2017-08-29 10:00:00    8    29    1    10       2         2
2017-08-29 11:00:00    8    29    1    11       2         2
2017-08-29 12:00:00    8    29    1    12       2         2
2017-08-29 13:00:00    8    29    1    13       2         2
2017-08-29 14:00:00    8    29    1    14       2         2

## Make DUMMIES

In [10]:
test.head(2)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667
2017-08-29 11:00:00,1.458903,0.398,0.293,0.358,0.350,0.232,0.253,0.260,0.168,0.084,...,0.163,0.086,0.288,0.342010,1.150483,0.196,0.343,1.109,0.225,0.29667

In [11]:
TE_time_vars.head(2)

                     Mth  Date  Day  hour  season  dayClass
Time
2017-08-29 10:00:00    8    29    1    10       2         2
2017-08-29 11:00:00    8    29    1    11       2         2

In [12]:
def dummies(df, dum_lst):
    df1 = df.copy()
    # dum_lst에 들어있는 각각의 변수마다 
    # tmp = get_dummies, 해당 original 변수는 drop
    # tmp와 변수가 drop된 df를 join 후 리턴
    for v in dum_lst:
        tmp = pd.get_dummies(df1[v], prefix=v)
        df1 = df1.drop(columns=v).join(tmp)
    return df1

In [13]:
TE_timeV_dum = dummies(TE_time_vars, ['season', 'dayClass'])

In [14]:
TE_timeV_dum_wthr= pd.concat([TE_timeV_dum, w_hr2], axis=1,join='inner')

In [15]:
TE_timeV_dum_wthr.head(10)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0
2017-08-29 11:00:00,8,29,1,11,0,1,0,0,0,1,0,19.7,0.0,4.7
2017-08-29 12:00:00,8,29,1,12,0,1,0,0,0,1,0,19.4,0.0,4.8
2017-08-29 13:00:00,8,29,1,13,0,1,0,0,0,1,0,19.8,0.0,4.5
2017-08-29 14:00:00,8,29,1,14,0,1,0,0,0,1,0,20.5,0.0,3.4
2017-08-29 15:00:00,8,29,1,15,0,1,0,0,0,1,0,20.6,0.0,4.0
2017-08-29 16:00:00,8,29,1,16,0,1,0,0,0,1,0,22.2,0.0,5.2
2017-08-29 17:00:00,8,29,1,17,0,1,0,0,0,1,0,21.7,0.0,5.5
2017-08-29 18:00:00,8,29,1,18,0,1,0,0,0,1,0,21.2,0.0,5.3
2017-08-29 19:00:00,8,29,1,19,0,1,0,0,0,1,0,19.6,0.0,5.9

# Modeling

* test : TEST셋의 순수한 meterIDs Time series (NA값 채워짐) 
* TE_timeV_dum: TEST셋의 시간파생변수 + dummy variables

In [16]:
test.head(1)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.453803,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342142,1.148489,0.094,0.351,1.109,0.225,0.29667

In [17]:
TE_timeV_dum_wthr.head(1)

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2017-08-29 10:00:00,8,29,1,10,0,1,0,0,0,1,0,19.3,0.0,5.0

<br><br><br>


## Random sample 된 30개만 돌리기 (06.20~30 예측)

In [58]:
rs = pd.read_csv("data/train_all.csv", index_col=0, sep=',')
ids = rs.columns

In [59]:

test.loc[:, ids]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.167430,4.171678,3.498120,3.816439,2.518855,0.216611,0.602,0.255000,0.214000,0.332322
2017-08-29 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.159356,4.122120,3.461189,3.801315,2.519404,0.216574,0.602,0.428000,0.256000,0.332338
2017-08-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.152415,4.083238,3.430963,3.789355,2.519835,0.216555,0.602,0.387000,0.216000,0.332353
2017-08-29 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.146449,4.052734,3.406225,3.779896,2.520170,0.216545,0.602,0.229000,0.215000,0.332367
2017-08-29 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.141321,4.028802,3.385979,3.772415,2.520428,0.216541,0.602,0.232000,0.302000,0.332380
2017-08-29 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.136913,4.010025,3.369409,3.766499,2.520624,0.216540,0.602,0.239000,0.346000,0.332393
2017-08-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.133123,3.995295,3.355848,3.761820,2.520770,0.216540,0.602,0.300000,0.284000,0.332406
2017-08-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.129866,3.983738,3.344749,3.758120,2.520875,0.216542,0.602,0.321000,0.232000,0.332419
2017-08-29 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.127067,3.974671,3.335665,3.755194,2.520947,0.216543,0.602,0.319000,0.202000,0.332432
2017-08-29 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.124660,3.967557,3.328231,3.752880,2.520993,0.216546,0.602,0.467000,0.368000,0.332445
2017-08-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.122592,3.961976,3.322146,3.751050,2.521018,0.216548,0.602,0.418000,0.348000,0.332458
2017-08-29 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.120814,3.957598,3.317166,3.749603,2.521026,0.216550,0.602,0.422000,0.242000,0.332471
2017-08-29 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.119285,3.954162,3.313091,3.748458,2.521020,0.216552,0.602,0.339000,0.238000,0.332484
2017-08-29 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.117972,3.951467,3.309755,3.747553,2.521003,0.216554,0.602,0.236000,0.228000,0.332497
2017-08-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.371049,6.545218,4.803182,4.499756,2.495460,0.252348,0.602,0.174000,0.092000,0.322871
2017-08-30 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.334381,5.984280,4.529291,4.341709,2.500658,0.236122,0.602,0.172000,0.154000,0.327677
2017-08-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.302862,5.544196,4.305131,4.216720,2.504838,0.227242,0.602,0.267000,0.230000,0.330020
2017-08-30 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.275769,5.198929,4.121671,4.117873,2.508198,0.222384,0.602,0.257000,0.222000,0.331166
2017-08-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.252481,4.928049,3.971522,4.039701,2.510895,0.219726,0.602,0.258000,0.158000,0.331730
2017-08-30 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.232463,4.715530,3.848635,3.977879,2.513058,0.218272,0.602,0.350000,0.230000,0.332011
2017-08-30 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.215256,4.548798,3.748061,3.928988,2.514790,0.217478,0.602,0.257000,0.281000,0.332154
2017-08-30 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.200466,4.417989,3.665748,3.890323,2.516175,0.217044,0.602,0.436000,0.366000,0.332230
2017-08-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.187752,4.315363,3.598380,3.859746,2.517280,0.216808,0.602,0.368000,0.400000,0.332274
2017-08-30 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.176824,4.234847,3.543245,3.835564,2.518159,0.216680,0.602,0.221000,0.423000,0.332302
2017-08-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.167430,4.171678,3.498120,3.816439,2.518855,0.216611,0.602,0.351000,0.360000,0.332322
2017-08-30 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.159356,4.122120,3.461189,3.801315,2.519404,0.132000,0.602,0.390000,0.253000,0.154000
2017-08-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.152415,4.083238,3.430963,3.789355,2.519835,0.199000,0.602,0.474000,0.240000,0.096000
2017-08-30 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.146449,4.052734,3.406225,3.779896,2.520170,0.181000,0.602,0.251000,0.246000,0.106000
2017-08-30 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.141321,4.028802,3.385979,3.772415,2.520428,0.185000,0.602,0.305000,0.287000,0.120000
2017-08-30 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.136913,4.010025,3.369409,3.766499,2.520624,0.284000,0.602,0.252000,0.321000,0.123000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.355000,15.415000,17.105000,4.578000,2.532000,0.267259,0.221,0.291460,0.447492,0.228094
2018-06-29 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.318000,12.638000,13.212000,7.407000,2.524000,0.308706,0.206,0.475391,0.483082,0.474253
2018-06-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.236000,10.939000,12.781000,9.560000,2.508000,0.379719,0.177,0.729524,0.433335,0.965936
2018-06-29 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.275000,7.216000,9.197000,7.907000,2.525000,0.413473,0.125,0.669142,0.517561,0.855677
2018-06-29 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.370000,6.527000,5.359000,12.199000,2.469000,0.470807,0.108,0.603334,0.488104,0.566388
2018-06-29 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.607000,6.577000,3.251000,11.825000,2.501000,0.092000,0.172,0.085000,0.115000,0.142000
2018-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.606000,6.493000,1.940000,10.739000,2.535000,0.252348,0.210,0.363205,0.435221,0.322871
2018-06-30 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.736000,6.189000,0.395000,6.727000,2.540000,0.236122,0.229,0.345738,0.394364,0.327677
2018-06-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.652000,4.934000,0.386000,4.320000,2.509000,0.085000,0.204,0.146000,0.126000,0.265000
2018-06-30 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.639000,5.839000,0.392000,4.743000,2.518000,0.143000,0.176,0.272000,0.264000,0.585000
2018-06-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.728000,5.366000,0.427000,2.764000,2.534000,0.146000,0.219,0.215000,0.241000,0.861000
2018-06-30 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.564000,5.264000,0.376000,2.119000,2.610000,0.153000,0.228,0.240000,0.244000,0.572000
2018-06-30 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.965000,5.000000,0.375000,2.142000,2.812000,0.134000,0.174,0.235000,0.303000,0.416000
2018-06-30 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.420000,4.464000,0.376000,2.319000,2.665000,0.163000,0.189,0.469000,0.285000,0.446000
2018-06-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.430000,3.544000,0.363000,2.109000,2.617000,0.170000,0.109,0.311000,0.382000,0.276000
2018-06-30 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.408000,3.712000,0.587000,2.419000,2.591000,0.132000,0.165,0.264000,0.386000,0.252000
2018-06-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.428000,3.938000,4.177000,2.487000,2.574000,0.182000,0.140,0.490000,0.551000,0.333000
2018-06-30 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.401000,5.121000,7.647000,2.555000,2.607000,0.352000,0.212,0.423000,0.366000,0.227000
2018-06-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.543000,7.253000,15.657000,2.231000,2.567000,0.327000,0.249,0.401000,0.286000,0.160000
2018-06-30 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.262000,4.496000,14.683000,2.260000,2.993000,0.211000,0.194,0.378000,0.364000,0.187000
2018-06-30 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.399000,10.362000,10.289000,2.406000,3.191000,0.178000,0.213,0.397000,0.336000,0.180000
2018-06-30 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.432000,11.723000,12.288000,2.564000,3.232000,0.240000,0.231,0.370000,0.262000,0.171000
2018-06-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.382000,13.150000,12.981000,9.412000,3.225000,0.452000,0.191,0.383000,0.250000,0.202000
2018-06-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.436000,17.210000,13.854000,11.142000,3.251000,0.288000,0.176,0.400000,0.442000,0.177000
2018-06-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.456000,17.360000,13.029000,11.331000,2.764000,0.216000,0.203,0.444000,0.276000,0.250000
2018-06-30 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.637000,16.197000,10.449000,11.747000,2.490000,0.172000,0.155,0.515000,0.360000,0.228000
2018-06-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.503000,14.835000,9.357000,11.959000,2.514000,0.256000,0.093,0.510000,0.391000,0.304000
2018-06-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.527000,11.237000,15.048000,10.791000,2.527000,0.467000,0.137,0.412000,0.321000,0.524000
2018-06-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.428000,10.157000,8.946000,9.375000,2.520000,0.390000,0.203,0.398000,0.271000,0.359000
2018-06-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.399000,7.714000,5.347000,5.368000,2.489000,0.282000,0.184,0.395000,0.515000,0.313000

In [19]:
rs.index = pd.to_datetime(rs.index)

In [31]:
train = rs.loc[:'2018-06-20 23:00:00', :]
train.tail()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-20 19:00:00,9.955,4.105,0.087,1.143,3.143,3.677,7.841,1.065,11.910,6.461,...,2.414,8.631,8.506,3.980,2.469,0.278,0.277,0.527,0.356,0.245
2018-06-20 20:00:00,11.330,4.830,0.087,1.526,1.513,3.682,7.808,6.867,9.281,6.689,...,2.337,8.748,8.429,5.499,2.488,0.331,0.258,0.683,0.500,0.329
2018-06-20 21:00:00,11.256,3.793,0.086,1.438,1.491,3.500,7.949,6.919,9.389,6.873,...,2.406,6.073,6.237,6.931,2.526,0.287,0.245,0.547,0.585,0.793
2018-06-20 22:00:00,9.903,0.304,0.089,1.282,1.506,0.625,2.528,5.521,5.550,6.526,...,2.537,5.168,5.842,8.690,2.534,0.246,0.287,0.403,0.368,0.317
2018-06-20 23:00:00,11.391,0.289,0.103,0.309,1.488,0.305,0.181,5.800,2.600,6.869,...,2.762,5.140,3.603,5.213,2.541,0.183,0.234,0.352,0.329,0.224

In [32]:
features = TE_timeV_dum_wthr.loc[:'2018-06-20 23:00:00', :]
features.tail()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2018-06-20 19:00:00,6,20,2,19,0,1,0,0,0,1,0,NaN,0.0,3.5
2018-06-20 20:00:00,6,20,2,20,0,1,0,0,0,1,0,NaN,0.0,2.1
2018-06-20 21:00:00,6,20,2,21,0,1,0,0,0,1,0,19.2,0.0,4.5
2018-06-20 22:00:00,6,20,2,22,0,1,0,0,0,1,0,19.0,0.0,4.2
2018-06-20 23:00:00,6,20,2,23,0,1,0,0,0,1,0,19.2,0.0,3.3

In [27]:
test_real = rs.loc['2018-06-21 00:00:00':, :]
test_real.head()

,X40,X84,X77,X93,X89,X15,X23,X60,X27,X6,...,X41,X50,X30,X37,X18,X231,X116,X149,X371,X218
Time,,,,,,,,,,,,,,,,,,,,,
2018-06-21 00:00:00,10.500,0.278,0.102,0.363,1.434,0.334,0.314,5.918,1.828,7.190,...,2.752,5.121,0.668,5.521,2.575,0.145,0.288,0.415,0.329,0.157
2018-06-21 01:00:00,9.905,0.275,0.098,0.360,1.416,1.332,0.298,4.968,1.032,6.841,...,2.723,5.077,0.389,5.110,2.591,0.143,0.172,0.338,0.325,0.191
2018-06-21 02:00:00,9.261,0.233,0.086,0.347,1.398,1.346,0.154,0.908,0.992,6.648,...,2.749,4.136,0.417,3.060,2.563,0.133,0.160,0.341,0.306,0.162
2018-06-21 03:00:00,9.648,0.191,0.086,0.354,1.383,1.352,0.417,1.079,0.961,6.520,...,2.731,3.142,0.412,2.287,2.568,0.132,0.204,0.382,0.297,0.150
2018-06-21 04:00:00,3.945,0.191,0.086,0.388,1.426,1.337,0.216,1.235,0.948,6.645,...,2.837,3.148,0.375,2.717,2.572,0.144,0.189,0.401,0.287,0.221

In [28]:
X_test = TE_timeV_dum_wthr.loc['2018-06-21 00:00:00':, :]
X_test.head()

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed
Time,,,,,,,,,,,,,,
2018-06-21 00:00:00,6,21,3,0,0,1,0,0,0,1,0,19.2,0.0,2.4
2018-06-21 01:00:00,6,21,3,1,0,1,0,0,0,1,0,19.0,0.0,2.5
2018-06-21 02:00:00,6,21,3,2,0,1,0,0,0,1,0,19.1,0.0,1.4
2018-06-21 03:00:00,6,21,3,3,0,1,0,0,0,1,0,19.1,0.0,1.1
2018-06-21 04:00:00,6,21,3,4,0,1,0,0,0,1,0,19.0,0.0,1.9

In [29]:
X_test.shape

(240, 14)

In [36]:
features.shape

(7094, 14)

In [37]:
mID = 'X40'
data = pd.concat([train.loc[:,[mID]], features], axis=1)
data = data.rename(columns={mID:'y'})
for i in [24, 168]:
    data['lag_{}'.format(i)] = data.y.shift(i)
y_train = data.dropna().y
X_train = data.dropna().drop(['y'], axis=1)

X_train

,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed,lag_24,lag_168
Time,,,,,,,,,,,,,,,,
2018-02-22 00:00:00,2,22,3,0,0,0,0,1,0,1,0,-1.1,0.0,2.4,10.592437,10.592437
2018-02-22 01:00:00,2,22,3,1,0,0,0,1,0,1,0,-1.3,0.0,2.0,10.592437,10.592437
2018-02-22 02:00:00,2,22,3,2,0,0,0,1,0,1,0,-1.6,0.0,2.0,10.592437,10.592437
2018-02-22 03:00:00,2,22,3,3,0,0,0,1,0,1,0,-1.0,0.0,3.0,10.592437,10.592437
2018-02-22 04:00:00,2,22,3,4,0,0,0,1,0,1,0,-1.2,0.0,3.2,10.592437,10.592437
2018-02-22 05:00:00,2,22,3,5,0,0,0,1,0,1,0,-1.6,0.0,3.5,10.592437,10.592437
2018-02-22 06:00:00,2,22,3,6,0,0,0,1,0,1,0,-2.0,0.0,3.6,10.592437,10.592437
2018-02-22 07:00:00,2,22,3,7,0,0,0,1,0,1,0,-2.1,0.0,3.6,10.592437,10.592437
2018-02-22 08:00:00,2,22,3,8,0,0,0,1,0,1,0,-1.9,0.0,3.7,10.592437,10.592437
2018-02-22 09:00:00,2,22,3,9,0,0,0,1,0,1,0,-0.2,0.0,3.3,10.592437,10.592437
2018-02-22 10:00:00,2,22,3,10,0,0,0,1,0,1,0,1.9,0.0,2.3,10.592437,10.592437
2018-02-22 11:00:00,2,22,3,11,0,0,0,1,0,1,0,2.5,0.0,4.2,10.592437,10.592437
2018-02-22 12:00:00,2,22,3,12,0,0,0,1,0,1,0,4.3,0.0,4.7,10.592437,10.592437
2018-02-22 13:00:00,2,22,3,13,0,0,0,1,0,1,0,4.9,0.0,4.7,10.592437,10.592437
2018-02-22 14:00:00,2,22,3,14,0,0,0,1,0,1,0,5.2,0.0,5.0,10.592437,10.592437
2018-02-22 15:00:00,2,22,3,15,0,0,0,1,0,1,0,5.0,0.0,5.2,10.592437,10.592437
2018-02-22 16:00:00,2,22,3,16,0,0,0,1,0,1,0,4.3,0.0,6.2,10.592437,10.592437
2018-02-22 17:00:00,2,22,3,17,0,0,0,1,0,1,0,3.8,0.0,4.8,10.592437,10.592437
2018-02-22 18:00:00,2,22,3,18,0,0,0,1,0,1,0,3.2,0.0,3.4,10.592437,10.592437
2018-02-22 19:00:00,2,22,3,19,0,0,0,1,0,1,0,2.8,0.0,3.8,10.592437,10.592437
2018-02-22 20:00:00,2,22,3,20,0,0,0,1,0,1,0,2.7,0.0,3.6,10.592437,10.592437
2018-02-22 21:00:00,2,22,3,21,0,0,0,1,0,1,0,2.4,0.0,5.0,10.592437,10.592437
2018-02-22 22:00:00,2,22,3,22,0,0,0,1,0,1,0,2.2,0.0,5.4,10.592437,10.592437
2018-02-22 23:00:00,2,22,3,23,0,0,0,1,0,1,0,2.2,0.0,5.1,10.592437,10.592437
2018-02-23 00:00:00,2,23,4,0,0,0,0,1,0,1,0,0.8,1.3,2.3,10.592437,10.592437
2018-02-23 01:00:00,2,23,4,1,0,0,0,1,0,1,0,1.4,0.0,4.6,10.592437,10.592437
2018-02-23 02:00:00,2,23,4,2,0,0,0,1,0,1,0,1.9,0.0,4.3,10.592437,10.592437
2018-02-23 03:00:00,2,23,4,3,0,0,0,1,0,1,0,1.7,3.2,4.4,10.592437,10.592437
2018-02-23 04:00:00,2,23,4,4,0,0,0,1,0,1,0,1.4,0.0,1.7,10.592437,10.592437
2018-02-23 05:00:00,2,23,4,5,0,0,0,1,0,1,0,1.3,0.0,1.4,10.592437,10.592437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-19 13:00:00,6,19,1,13,0,1,0,0,0,1,0,23.9,0.0,2.2,15.489000,11.033000
2018-06-19 14:00:00,6,19,1,14,0,1,0,0,0,1,0,23.7,0.0,3.2,15.017000,14.970000
2018-06-19 15:00:00,6,19,1,15,0,1,0,0,0,1,0,23.5,0.0,2.8,20.776000,15.354000
2018-06-19 16:00:00,6,19,1,16,0,1,0,0,0,1,0,22.7,0.0,3.1,20.367000,13.639000
2018-06-19 17:00:00,6,19,1,17,0,1,0,0,0,1,0,22.3,0.0,2.7,18.795000,13.880000
2018-06-19 18:00:00,6,19,1,18,0,1,0,0,0,1,0,21.0,0.0,3.1,17.083000,14.691000
2018-06-19 19:00:00,6,19,1,19,0,1,0,0,0,1,0,20.3,0.0,2.5,17.638000,15.199000
2018-06-19 20:00:00,6,19,1,20,0,1,0,0,0,1,0,19.6,0.0,3.3,16.776000,15.338000
2018-06-19 23:00:00,6,19,1,23,0,1,0,0,0,1,0,18.9,0.0,1.3,14.955000,12.929000
2018-06-20 00:00:00,6,20,2,0,0,1,0,0,0,1,0,18.9,0.0,1.6,16.666000,11.288000
2018-06-20 01:00:00,6,20,2,1,0,1,0,0,0,1,0,19.0,0.0,1.1,13.987000,10.860000
2018-06-20 02:00:00,6,20,2,2,0,1,0,0,0,1,0,19.1,0.0,1.1,11.708000,8.531000
2018-06-20 03:00:00,6,20,2,3,0,1,0,0,0,1,0,18.9,0.0,1.0,8.944000,9.508000
2018-06-20 04:00:00,6,20,2,4,0,1,0,0,0,1,0,18.7,0.0,2.5,3.036000,3.612000
2018-06-20 05:00:00,6,20,2,5,0,1,0,0,0,1,0,18.6,0.0,1.9,2.912000,2.861000
2018-06-20 06:00:00,6,20,2,6,0,1,0,0,0,1,0,18.4,0.0,1.9,2.638000,2.962000
2018-06-20 07:00:00,6,20,2,7,0,1,0,0,0,1,0,18.7,0.0,1.0,2.912000,4.527000
2018-06-20 08:00:00,6,20,2,8,0,1,0,0,0,1,0,19.3,0.0,1.9,5.986000,10.207000
2018-06-20 09:00:00,6,20,2,9,0,1,0,0,0,1,0,20.1,0.0,2.0,15.262000,10.753000
2018-06-20 10:00:00,6,20,2,10,0,1,0,0,0,1,0,21.0,0.0,3.4,15.413000,14.134000
2018-06-20 11:00:00,6,20,2,11,0,1,0,0,0,1,0,22.0,0.0,3.7,15.138000,15.039000
2018-06-20 12:00:00,6,20,2,12,0,1,0,0,0,1,0,23.0,0.0,3.6,14.117000,14.807000
2018-06-20 13:00:00,6,20,2,13,0,1,0,0,0,1,0,24.1,0.0,3.1,14.010000,15.263000
2018-06-20 14:00:00,6,20,2,14,0,1,0,0,0,1,0,23.7,0.0,4.2,14.208000,15.269000
2018-06-20 16:00:00,6,20,2,16,0,1,0,0,0,1,0,24.2,0.0,3.0,15.277000,16.210000
2018-06-20 17:00:00,6,20,2,17,0,1,0,0,0,1,0,22.9,0.0,5.0,14.562000,16.253000
2018-06-20 18:00:00,6,20,2,18,0,1,0,0,0,1,0,21.6,0.0,3.7,15.136000,16.962000
2018-06-20 21:00:00,6,20,2,21,0,1,0,0,0,1,0,19.2,0.0,4.5,12.069000,15.509000
2018-06-20 22:00:00,6,20,2,22,0,1,0,0,0,1,0,19.0,0.0,4.2,10.100000,13.824000
2018-06-20 23:00:00,6,20,2,23,0,1,0,0,0,1,0,19.2,0.0,3.3,14.838000,13.212000

In [54]:
data.iloc[-168:,:] data.

,y,Mth,Date,Day,hour,season_1,season_2,season_3,season_4,dayClass_1,dayClass_2,dayClass_3,Temp,Humidity,WindSpeed,lag_24,lag_168
Time,,,,,,,,,,,,,,,,,
2018-06-14 00:00:00,14.083,6,14,3,0,0,1,0,0,0,1,0,20.2,0.0,1.2,11.288,13.249
2018-06-14 01:00:00,14.528,6,14,3,1,0,1,0,0,0,1,0,20.3,0.0,2.0,10.860,11.587
2018-06-14 02:00:00,12.592,6,14,3,2,0,1,0,0,0,1,0,20.6,0.0,0.8,8.531,11.984
2018-06-14 03:00:00,11.551,6,14,3,3,0,1,0,0,0,1,0,20.5,0.0,2.6,9.508,10.533
2018-06-14 04:00:00,3.210,6,14,3,4,0,1,0,0,0,1,0,19.9,1.6,1.2,3.612,3.635
2018-06-14 05:00:00,2.898,6,14,3,5,0,1,0,0,0,1,0,19.2,6.5,1.5,2.861,3.477
2018-06-14 06:00:00,2.672,6,14,3,6,0,1,0,0,0,1,0,18.8,3.0,2.0,2.962,3.344
2018-06-14 07:00:00,3.506,6,14,3,7,0,1,0,0,0,1,0,18.3,2.2,3.9,4.527,4.742
2018-06-14 08:00:00,10.163,6,14,3,8,0,1,0,0,0,1,0,18.0,6.5,3.0,10.207,10.858
2018-06-14 09:00:00,10.159,6,14,3,9,0,1,0,0,0,1,0,18.3,3.1,2.5,10.753,11.135
2018-06-14 10:00:00,10.239,6,14,3,10,0,1,0,0,0,1,0,19.2,0.0,2.5,14.134,10.099
2018-06-14 11:00:00,10.478,6,14,3,11,0,1,0,0,0,1,0,19.7,0.0,3.3,15.039,10.685
2018-06-14 12:00:00,9.951,6,14,3,12,0,1,0,0,0,1,0,20.1,0.0,1.7,14.807,10.665
2018-06-14 13:00:00,9.844,6,14,3,13,0,1,0,0,0,1,0,21.3,0.0,4.1,15.263,10.157
2018-06-14 14:00:00,10.743,6,14,3,14,0,1,0,0,0,1,0,22.3,0.0,3.5,15.269,9.957
2018-06-14 15:00:00,9.991,6,14,3,15,0,1,0,0,0,1,0,22.4,0.0,1.4,15.745,10.249
2018-06-14 16:00:00,10.369,6,14,3,16,0,1,0,0,0,1,0,22.5,0.0,1.9,16.210,10.358
2018-06-14 17:00:00,13.660,6,14,3,17,0,1,0,0,0,1,0,21.4,0.2,3.3,16.253,10.175
2018-06-14 18:00:00,16.504,6,14,3,18,0,1,0,0,0,1,0,21.6,0.0,3.1,16.962,11.414
2018-06-14 19:00:00,15.298,6,14,3,19,0,1,0,0,0,1,0,21.6,0.0,3.0,15.968,12.005
2018-06-14 20:00:00,15.253,6,14,3,20,0,1,0,0,0,1,0,21.4,0.0,3.2,17.984,10.753
2018-06-14 21:00:00,15.784,6,14,3,21,0,1,0,0,0,1,0,21.4,0.0,2.6,15.509,11.375
2018-06-14 22:00:00,14.767,6,14,3,22,0,1,0,0,0,1,0,21.5,0.0,2.6,13.824,9.987
2018-06-14 23:00:00,17.093,6,14,3,23,0,1,0,0,0,1,0,21.2,0.0,2.6,13.212,10.914
2018-06-15 00:00:00,15.376,6,15,4,0,0,1,0,0,0,1,0,20.9,0.0,3.0,14.083,11.908
2018-06-15 01:00:00,14.330,6,15,4,1,0,1,0,0,0,1,0,20.5,0.0,1.5,14.528,8.667
2018-06-15 02:00:00,12.952,6,15,4,2,0,1,0,0,0,1,0,20.1,0.0,2.0,12.592,8.983
2018-06-15 03:00:00,12.240,6,15,4,3,0,1,0,0,0,1,0,19.0,0.2,3.1,11.551,8.499
2018-06-15 04:00:00,4.035,6,15,4,4,0,1,0,0,0,1,0,18.4,0.0,4.0,3.210,3.626
2018-06-15 05:00:00,3.200,6,15,4,5,0,1,0,0,0,1,0,17.5,1.1,3.6,2.898,3.344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-19 18:00:00,15.136,6,19,1,18,0,1,0,0,0,1,0,21.0,0.0,3.1,17.083,14.691
2018-06-19 19:00:00,14.406,6,19,1,19,0,1,0,0,0,1,0,20.3,0.0,2.5,17.638,15.199
2018-06-19 20:00:00,15.163,6,19,1,20,0,1,0,0,0,1,0,19.6,0.0,3.3,16.776,15.338
2018-06-19 21:00:00,12.069,6,19,1,21,0,1,0,0,0,1,0,NaN,0.0,2.6,16.649,15.286
2018-06-19 22:00:00,10.100,6,19,1,22,0,1,0,0,0,1,0,NaN,0.0,1.6,15.557,14.134
2018-06-19 23:00:00,14.838,6,19,1,23,0,1,0,0,0,1,0,18.9,0.0,1.3,14.955,12.929
2018-06-20 00:00:00,14.542,6,20,2,0,0,1,0,0,0,1,0,18.9,0.0,1.6,16.666,11.288
2018-06-20 01:00:00,13.978,6,20,2,1,0,1,0,0,0,1,0,19.0,0.0,1.1,13.987,10.860
2018-06-20 02:00:00,12.418,6,20,2,2,0,1,0,0,0,1,0,19.1,0.0,1.1,11.708,8.531
2018-06-20 03:00:00,11.669,6,20,2,3,0,1,0,0,0,1,0,18.9,0.0,1.0,8.944,9.508
2018-06-20 04:00:00,4.047,6,20,2,4,0,1,0,0,0,1,0,18.7,0.0,2.5,3.036,3.612
2018-06-20 05:00:00,2.597,6,20,2,5,0,1,0,0,0,1,0,18.6,0.0,1.9,2.912,2.861
2018-06-20 06:00:00,2.779,6,20,2,6,0,1,0,0,0,1,0,18.4,0.0,1.9,2.638,2.962
2018-06-20 07:00:00,4.814,6,20,2,7,0,1,0,0,0,1,0,18.7,0.0,1.0,2.912,4.527
2018-06-20 08:00:00,9.273,6,20,2,8,0,1,0,0,0,1,0,19.3,0.0,1.9,5.986,10.207
2018-06-20 09:00:00,9.347,6,20,2,9,0,1,0,0,0,1,0,20.1,0.0,2.0,15.262,10.753
2018-06-20 10:00:00,13.667,6,20,2,10,0,1,0,0,0,1,0,21.0,0.0,3.4,15.413,14.134
2018-06-20 11:00:00,14.280,6,20,2,11,0,1,0,0,0,1,0,22.0,0.0,3.7,15.138,15.039
2018-06-20 12:00:00,17.320,6,20,2,12,0,1,0,0,0,1,0,23.0,0.0,3.6,14.117,14.807
2018-06-20 13:00:00,17.885,6,20,2,13,0,1,0,0,0,1,0,24.1,0.0,3.1,14.010,15.263
2018-06-20 14:00:00,18.477,6,20,2,14,0,1,0,0,0,1,0,23.7,0.0,4.2,14.208,15.269
2018-06-20 15:00:00,13.267,6,20,2,15,0,1,0,0,0,1,0,NaN,0.0,3.6,16.470,15.745
2018-06-20 16:00:00,11.795,6,20,2,16,0,1,0,0,0,1,0,24.2,0.0,3.0,15.277,16.210
2018-06-20 17:00:00,13.591,6,20,2,17,0,1,0,0,0,1,0,22.9,0.0,5.0,14.562,16.253
2018-06-20 18:00:00,11.229,6,20,2,18,0,1,0,0,0,1,0,21.6,0.0,3.7,15.136,16.962
2018-06-20 19:00:00,9.955,6,20,2,19,0,1,0,0,0,1,0,NaN,0.0,3.5,14.406,15.968
2018-06-20 20:00:00,11.330,6,20,2,20,0,1,0,0,0,1,0,NaN,0.0,2.1,15.163,17.984
2018-06-20 21:00:00,11.256,6,20,2,21,0,1,0,0,0,1,0,19.2,0.0,4.5,12.069,15.509
2018-06-20 22:00:00,9.903,6,20,2,22,0,1,0,0,0,1,0,19.0,0.0,4.2,10.100,13.824
2018-06-20 23:00:00,11.391,6,20,2,23,0,1,0,0,0,1,0,19.2,0.0,3.3,14.838,13.212

In [57]:
[data.iloc[-168:,0].values, data.iloc[-168:-96,0].values]

[array([14.083, 14.528, 12.592, 11.551,  3.21 ,  2.898,  2.672,  3.506,
        10.163, 10.159, 10.239, 10.478,  9.951,  9.844, 10.743,  9.991,
        10.369, 13.66 , 16.504, 15.298, 15.253, 15.784, 14.767, 17.093,
        15.376, 14.33 , 12.952, 12.24 ,  4.035,  3.2  ,  3.284,  3.646,
        10.671, 11.893, 11.533, 10.836, 10.318, 12.284, 14.025, 14.962,
        14.589, 15.062, 15.112, 14.75 , 15.338, 16.535, 16.529, 14.18 ,
        17.403, 18.255, 14.229, 11.879,  3.943,  3.257,  3.266,  3.927,
        10.469, 10.19 , 10.091, 11.959, 15.293, 14.543, 14.618, 16.954,
        16.849, 16.133,    nan,    nan,    nan,    nan,    nan,    nan,
        14.915,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
           nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
        11.588,  8.222,  8.222,  8.222,  8.222,  8.222,  8.222,  8.222,
         8.222,  9.574,  9.61 , 10.547, 16.553, 15.489, 15.017, 20.776,
        20.367, 18.795, 17.083, 17.638, 16.776, 16.649, 15.557, 14.955,
        16.666, 13.987, 11.708,  8.944,  3.036,  2.912,  2.638,  2.912,
         5.986, 15.262, 15.413, 15.138, 14.117, 14.01 , 14.208, 16.47 ,
        15.277, 14.562, 15.136, 14.406, 15.163, 12.069, 10.1  , 14.838,
        14.542, 13.978, 12.418, 11.669,  4.047,  2.597,  2.779,  4.814,
         9.273,  9.347, 13.667, 14.28 , 17.32 , 17.885, 18.477, 13.267,
        11.795, 13.591, 11.229,  9.955, 11.33 , 11.256,  9.903, 11.391]),
 array([14.083, 14.528, 12.592, 11.551,  3.21 ,  2.898,  2.672,  3.506,
        10.163, 10.159, 10.239, 10.478,  9.951,  9.844, 10.743,  9.991,
        10.369, 13.66 , 16.504, 15.298, 15.253, 15.784, 14.767, 17.093,
        15.376, 14.33 , 12.952, 12.24 ,  4.035,  3.2  ,  3.284,  3.646,
        10.671, 11.893, 11.533, 10.836, 10.318, 12.284, 14.025, 14.962,
        14.589, 15.062, 15.112, 14.75 , 15.338, 16.535, 16.529, 14.18 ,
        17.403, 18.255, 14.229, 11.879,  3.943,  3.257,  3.266,  3.927,
        10.469, 10.19 , 10.091, 11.959, 15.293, 14.543, 14.618, 16.954,
        16.849, 16.133,    nan,    nan,    nan,    nan,    nan,    nan])]

In [34]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor

lg_param = {"boosting_type":['gbdt', 'dart','goss'],
    "learning_rate": [0.01,0.05,0.1,0.15],
    "min_child_samples":[10, 20, 30, 50],       
    "n_estimators":[10, 50, 100],
    }

def gsLGBR_Hrly_FitPred (model, params, mID, X_train, y_train, X_test):
    grid_gb = GridSearchCV(model, params, cv=4, verbose=5)
    grid_gb.fit(X_train, y_train)
    fcst = grid_gb.predict(X_test)
    a = pd.DataFrame([mID], columns=['meter_id'])
    for i in range(240):
        a[i+1]=[fcst[i]]
    return a
   
def onlytesting(train, features, X_test):
    hrly = pd.DataFrame()
    for mID in train.columns:
        data = pd.concat([train.loc[:,[mID]], features], axis=1)
        data = data.rename(columns={mID:'y'})
        for i in [24, 168]:
            data['lag_{}'.format(i)] = data.y.shift(i)
        y_train = data.dropna().y
        X_train = data.dropna().drop(['y'], axis=1)
        
        X_test['lag_24'] = y_train.tail(24).values
        X_test['lag_168'] = data.iloc[-168:,:].values
        
        model = LGBMRegressor(verbose=1, tree_learner='feature')
        tmp = gsLGBR_Hrly_FitPred(model, lg_param,
                        mID, X_train, y_train, X_test_H)
        hrly = pd.concat([hrly_50, tmp], axis=0)
    return hrly

In [33]:
train2 = train.iloc[:,0:2]
train2.head(2)

                           X40    X84
Time
2018-02-15 00:00:00  10.592437  0.164
2018-02-15 01:00:00  10.592437  0.161

In [35]:
trial = onlytesting(train2, features, X_test)

NameError: name 'X_test_H' is not defined