In [174]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame 

import matplotlib.pyplot as plt 
import seaborn as sns
import itertools
%matplotlib inline
from matplotlib.pyplot import figure

from datetime import datetime, timedelta 
from statsmodels.tsa.arima_model import ARIMA 

from sklearn.preprocessing import StandardScaler
# import os

### NA 채우기
- 요일+시간가중치+Dacon적용, 누적값 분산한 ch_Test, ch_Train을 각각 50% 이상의 데이터가 존재하는 시간대에서 cut
- Train (X118) 데이터 값이 1개여서 추가 drop
- Arima를 이용해 단순 예측한 24hr을 시간에 맞춰 대입

In [3]:
test = pd.read_csv("data/test.csv", sep = ",")
train = pd.read_csv("data/train.csv", sep =",")

In [4]:
submission = pd.read_csv("data/submission.csv")

In [20]:
changed_train = pd.read_csv("data/train_DHWeight_onDacon.csv", index_col=0, sep=',')
changed_test = pd.read_csv("data/test_DHWeight_onDacon.csv", index_col=0, sep=',')

In [28]:
changed_test.index = pd.to_datetime(changed_test.index) 
changed_train.index = pd.to_datetime(changed_train.index)

In [47]:
idx = changed_test.count(axis = 'columns') >= 201*0.5
ch_te_TimeCut = changed_test[idx]

In [64]:
arima_test = pd.read_csv("data/TEST_DHWonDacon_24시간예측.csv",index_col=0, sep=',')
arima_train = pd.read_csv("data/TRAIN_DHWonDacon_24시간예측.csv",index_col=0, sep=',')

In [125]:
def fillNA(df1, df2):
    df = pd.DataFrame()
    n=0
    for i in df1.columns:
        n += 1
        li = df1[df1[i].isnull()].index
        tmp = pd.DataFrame(df1[i]) 
        print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))
        for time in li:
            tmp.loc[time] = df2.iloc[h][i]
        df = pd.concat([df,tmp], axis=1) 
    return df

In [126]:
TE_TimeCut_NAfilled = fillNA(ch_te_TimeCut, arima_test)
TE_TimeCut_NAfilled.shape

1. current column: X26, NaN count: 5291
2. current column: X303, NaN count: 46
3. current column: X241, NaN count: 67
4. current column: X435, NaN count: 45
5. current column: X402, NaN count: 50
6. current column: X352, NaN count: 55
7. current column: X305, NaN count: 51
8. current column: X350, NaN count: 41
9. current column: X326, NaN count: 155
10. current column: X299, NaN count: 97
11. current column: X160, NaN count: 163
12. current column: X125, NaN count: 0
13. current column: X211, NaN count: 79
14. current column: X349, NaN count: 50
15. current column: X407, NaN count: 59
16. current column: X330, NaN count: 26
17. current column: X132, NaN count: 71
18. current column: X231, NaN count: 190
19. current column: X225, NaN count: 170
20. current column: X16, NaN count: 5291
21. current column: X286, NaN count: 87
22. current column: X354, NaN count: 71
23. current column: X353, NaN count: 65
24. current column: X76, NaN count: 0
25. current column: X255, NaN count: 90
26. current column: X106, NaN count: 0
27. current column: X393, NaN count: 66
28. current column: X157, NaN count: 242
29. current column: X323, NaN count: 71
30. current column: X130, NaN count: 75
31. current column: X269, NaN count: 231
32. current column: X94, NaN count: 0
33. current column: X172, NaN count: 198
34. current column: X289, NaN count: 99
35. current column: X216, NaN count: 74
36. current column: X123, NaN count: 0
37. current column: X398, NaN count: 62
38. current column: X233, NaN count: 63
39. current column: X214, NaN count: 72
40. current column: X270, NaN count: 199
41. current column: X371, NaN count: 58
42. current column: X200, NaN count: 156
43. current column: X111, NaN count: 0
44. current column: X163, NaN count: 76
45. current column: X364, NaN count: 44
46. current column: X378, NaN count: 43
47. current column: X271, NaN count: 230
48. current column: X462, NaN count: 304
49. current column: X427, NaN count: 46
50. current column: X73, NaN count: 14
51. current column: X7, NaN count: 5291
52. current column: X263, NaN count: 165
53. current column: X450, NaN count: 35
54. current column: X18, NaN count: 5291
55. current column: X206, NaN count: 162
56. current column: X133, NaN count: 77
57. current column: X41, NaN count: 5291
58. current column: X195, NaN count: 85
59. current column: X155, NaN count: 756
60. current column: X134, NaN count: 88
61. current column: X297, NaN count: 92
62. current column: X175, NaN count: 197
63. current column: X254, NaN count: 92
64. current column: X196, NaN count: 65
65. current column: X481, NaN count: 2805
66. current column: X412, NaN count: 30
67. current column: X337, NaN count: 43
68. current column: X406, NaN count: 49
69. current column: X67, NaN count: 0
70. current column: X414, NaN count: 34
71. current column: X55, NaN count: 5291
72. current column: X91, NaN count: 0
73. current column: X260, NaN count: 68
74. current column: X252, NaN count: 83
75. current column: X5, NaN count: 5291
76. current column: X455, NaN count: 311
77. current column: X43, NaN count: 5291
78. current column: X320, NaN count: 61
79. current column: X276, NaN count: 389
80. current column: X423, NaN count: 50
81. current column: X218, NaN count: 165
82. current column: X399, NaN count: 50
83. current column: X213, NaN count: 254
84. current column: X379, NaN count: 55
85. current column: X468, NaN count: 270
86. current column: X253, NaN count: 83
87. current column: X247, NaN count: 106
88. current column: X262, NaN count: 159
89. current column: X248, NaN count: 74
90. current column: X357, NaN count: 47
91. current column: X215, NaN count: 79
92. current column: X177, NaN count: 200
93. current column: X228, NaN count: 73
94. current column: X59, NaN count: 5291
95. current column: X10, NaN count: 5291
96. current column: X187, NaN count: 140
97. current column: X245, NaN count: 253
98. current column: X87, NaN count: 0
99. current column: X242, NaN count: 248
100. current column: X376, NaN count: 35
101. current column: X166, NaN count: 66
102. current column: X472, NaN count: 279
103. current column: X275, NaN count: 366
104. current column: X126, NaN count: 0
105. current column: X120, NaN count: 0
106. current column: X313, NaN count: 41
107. current column: X201, NaN count: 161
108. current column: X110, NaN count: 0
109. current column: X408, NaN count: 48
110. current column: X62, NaN count: 5291
111. current column: X419, NaN count: 124
112. current column: X460, NaN count: 56
113. current column: X367, NaN count: 203
114. current column: X143, NaN count: 188
115. current column: X312, NaN count: 529
116. current column: X410, NaN count: 59
117. current column: X389, NaN count: 44
118. current column: X300, NaN count: 37
119. current column: X61, NaN count: 5291
120. current column: X470, NaN count: 276
121. current column: X445, NaN count: 81
122. current column: X158, NaN count: 189
123. current column: X421, NaN count: 48
124. current column: X105, NaN count: 0
125. current column: X32, NaN count: 5291
126. current column: X178, NaN count: 154
127. current column: X308, NaN count: 54
128. current column: X217, NaN count: 77
129. current column: X229, NaN count: 73
130. current column: X358, NaN count: 78
131. current column: X31, NaN count: 5291
132. current column: X148, NaN count: 99
133. current column: X397, NaN count: 61
134. current column: X363, NaN count: 41
135. current column: X165, NaN count: 165
136. current column: X30, NaN count: 5291
137. current column: X88, NaN count: 0
138. current column: X296, NaN count: 99
139. current column: X219, NaN count: 175
140. current column: X116, NaN count: 0
141. current column: X68, NaN count: 0
142. current column: X431, NaN count: 49
143. current column: X302, NaN count: 347
144. current column: X314, NaN count: 42
145. current column: X124, NaN count: 0
146. current column: X405, NaN count: 52
147. current column: X315, NaN count: 63
148. current column: X51, NaN count: 5291
149. current column: X176, NaN count: 239
150. current column: X396, NaN count: 73
151. current column: X449, NaN count: 64
152. current column: X383, NaN count: 57
153. current column: X473, NaN count: 98
154. current column: X205, NaN count: 248
155. current column: X35, NaN count: 5291
156. current column: X161, NaN count: 184
157. current column: X403, NaN count: 59
158. current column: X341, NaN count: 63
159. current column: X149, NaN count: 96
160. current column: X82, NaN count: 0
161. current column: X377, NaN count: 105
162. current column: X232, NaN count: 81
163. current column: X333, NaN count: 69
164. current column: X140, NaN count: 138
165. current column: X44, NaN count: 5291
166. current column: X37, NaN count: 5291
167. current column: X42, NaN count: 5291
168. current column: X422, NaN count: 39
169. current column: X50, NaN count: 5291
170. current column: X386, NaN count: 77
171. current column: X80, NaN count: 0
172. current column: X250, NaN count: 77
173. current column: X142, NaN count: 162
174. current column: X235, NaN count: 165
175. current column: X446, NaN count: 46
176. current column: X331, NaN count: 39
177. current column: X102, NaN count: 0
178. current column: X186, NaN count: 123
179. current column: X243, NaN count: 205
180. current column: X194, NaN count: 91
181. current column: X183, NaN count: 179
182. current column: X139, NaN count: 162
183. current column: X459, NaN count: 54
184. current column: X457, NaN count: 51
185. current column: X70, NaN count: 0
186. current column: X368, NaN count: 66
187. current column: X282, NaN count: 246
188. current column: X426, NaN count: 15
189. current column: X47, NaN count: 5291
190. current column: X192, NaN count: 89
191. current column: X283, NaN count: 74
192. current column: X329, NaN count: 21
193. current column: X223, NaN count: 85
194. current column: X266, NaN count: 157
195. current column: X20, NaN count: 5291
196. current column: X443, NaN count: 50
197. current column: X347, NaN count: 42
198. current column: X75, NaN count: 0
199. current column: X107, NaN count: 0
200. current column: X230, NaN count: 251

(7016, 200)

In [127]:
idx = changed_train.count(axis = 'columns') >= 1292*0.5
ch_tr_TimeCut = changed_train[idx]

In [128]:
# drop a columns X118 since it is Empty in Arima_Train df
ch_tr_TimeCut = ch_tr_TimeCut.drop(columns = 'X118')

In [129]:
TR_TimeCut_NAfilled = fillNA(ch_tr_TimeCut, arima_train)
TR_TimeCut_NAfilled.shape

1. current column: X692, NaN count: 14
2. current column: X1272, NaN count: 4
3. current column: X553, NaN count: 41
4. current column: X1299, NaN count: 52
5. current column: X598, NaN count: 34
6. current column: X1003, NaN count: 116
7. current column: X1010, NaN count: 16
8. current column: X1216, NaN count: 10
9. current column: X1047, NaN count: 7
10. current column: X381, NaN count: 2
11. current column: X466, NaN count: 33
12. current column: X1420, NaN count: 10
13. current column: X686, NaN count: 2
14. current column: X711, NaN count: 5
15. current column: X1251, NaN count: 6
16. current column: X828, NaN count: 5
17. current column: X1350, NaN count: 39
18. current column: X1066, NaN count: 10
19. current column: X1293, NaN count: 38
20. current column: X1148, NaN count: 33
21. current column: X451, NaN count: 29
22. current column: X174, NaN count: 33
23. current column: X74, NaN count: 2584
24. current column: X626, NaN count: 2
25. current column: X1083, NaN count: 9
26. current column: X1000, NaN count: 26
27. current column: X632, NaN count: 4
28. current column: X1380, NaN count: 45
29. current column: X607, NaN count: 21
30. current column: X680, NaN count: 12
31. current column: X977, NaN count: 21
32. current column: X492, NaN count: 33
33. current column: X968, NaN count: 25
34. current column: X891, NaN count: 249
35. current column: X122, NaN count: 0
36. current column: X489, NaN count: 37
37. current column: X86, NaN count: 0
38. current column: X392, NaN count: 1
39. current column: X1007, NaN count: 18
40. current column: X549, NaN count: 39
41. current column: X1343, NaN count: 45
42. current column: X437, NaN count: 3
43. current column: X551, NaN count: 19
44. current column: X287, NaN count: 33
45. current column: X138, NaN count: 422
46. current column: X339, NaN count: 3
47. current column: X1210, NaN count: 48
48. current column: X127, NaN count: 2740
49. current column: X644, NaN count: 8
50. current column: X1472, NaN count: 7
51. current column: X604, NaN count: 4
52. current column: X1356, NaN count: 61
53. current column: X173, NaN count: 33
54. current column: X1399, NaN count: 35
55. current column: X859, NaN count: 8
56. current column: X281, NaN count: 33
57. current column: X514, NaN count: 17
58. current column: X345, NaN count: 2
59. current column: X997, NaN count: 19
60. current column: X657, NaN count: 194
61. current column: X1495, NaN count: 32
62. current column: X9, NaN count: 2291
63. current column: X894, NaN count: 258
64. current column: X577, NaN count: 23
65. current column: X1178, NaN count: 20
66. current column: X81, NaN count: 0
67. current column: X853, NaN count: 3
68. current column: X1455, NaN count: 10
69. current column: X494, NaN count: 1
70. current column: X759, NaN count: 1
71. current column: X1471, NaN count: 7
72. current column: X1263, NaN count: 8
73. current column: X96, NaN count: 0
74. current column: X631, NaN count: 42
75. current column: X1050, NaN count: 7
76. current column: X137, NaN count: 33
77. current column: X659, NaN count: 4
78. current column: X565, NaN count: 2
79. current column: X995, NaN count: 18
80. current column: X1145, NaN count: 25
81. current column: X683, NaN count: 2
82. current column: X953, NaN count: 21
83. current column: X1309, NaN count: 58
84. current column: X1493, NaN count: 29
85. current column: X701, NaN count: 3
86. current column: X1499, NaN count: 29
87. current column: X1146, NaN count: 55
88. current column: X1408, NaN count: 3
89. current column: X615, NaN count: 8
90. current column: X866, NaN count: 6
91. current column: X1364, NaN count: 41
92. current column: X1218, NaN count: 4
93. current column: X1333, NaN count: 73
94. current column: X1445, NaN count: 10
95. current column: X79, NaN count: 1872
96. current column: X327, NaN count: 2
97. current column: X1362, NaN count: 46
98. current column: X743, NaN count: 4
99. current column: X899, NaN count: 251
100. current column: X1111, NaN count: 29
101. current column: X528, NaN count: 34
102. current column: X1371, NaN count: 35
103. current column: X851, NaN count: 18
104. current column: X1274, NaN count: 7
105. current column: X1005, NaN count: 20
106. current column: X1057, NaN count: 36
107. current column: X209, NaN count: 34
108. current column: X1363, NaN count: 63
109. current column: X491, NaN count: 4
110. current column: X164, NaN count: 33
111. current column: X803, NaN count: 9
112. current column: X277, NaN count: 33
113. current column: X774, NaN count: 2
114. current column: X288, NaN count: 93
115. current column: X388, NaN count: 17
116. current column: X924, NaN count: 249
117. current column: X495, NaN count: 18
118. current column: X1132, NaN count: 30
119. current column: X261, NaN count: 35
120. current column: X1336, NaN count: 48
121. current column: X1429, NaN count: 2
122. current column: X749, NaN count: 1
123. current column: X929, NaN count: 275
124. current column: X833, NaN count: 6
125. current column: X885, NaN count: 251
126. current column: X1107, NaN count: 5
127. current column: X1228, NaN count: 14
128. current column: X1258, NaN count: 4
129. current column: X1261, NaN count: 5
130. current column: X622, NaN count: 8
131. current column: X104, NaN count: 0
132. current column: X981, NaN count: 18
133. current column: X824, NaN count: 136
134. current column: X424, NaN count: 4
135. current column: X765, NaN count: 5
136. current column: X1002, NaN count: 19
137. current column: X1014, NaN count: 18
138. current column: X1342, NaN count: 33
139. current column: X1346, NaN count: 64
140. current column: X902, NaN count: 248
141. current column: X1486, NaN count: 42
142. current column: X413, NaN count: 11
143. current column: X928, NaN count: 254
144. current column: X1303, NaN count: 55
145. current column: X600, NaN count: 28
146. current column: X674, NaN count: 11
147. current column: X608, NaN count: 15
148. current column: X220, NaN count: 33
149. current column: X1378, NaN count: 33
150. current column: X733, NaN count: 8
151. current column: X227, NaN count: 35
152. current column: X1130, NaN count: 55
153. current column: X1256, NaN count: 27
154. current column: X202, NaN count: 33
155. current column: X384, NaN count: 9
156. current column: X1129, NaN count: 19
157. current column: X1447, NaN count: 2
158. current column: X1352, NaN count: 67
159. current column: X516, NaN count: 2
160. current column: X1269, NaN count: 12
161. current column: X845, NaN count: 14
162. current column: X646, NaN count: 5
163. current column: X725, NaN count: 7
164. current column: X1094, NaN count: 4
165. current column: X790, NaN count: 9
166. current column: X65, NaN count: 1423
167. current column: X990, NaN count: 16
168. current column: X988, NaN count: 20
169. current column: X369, NaN count: 1
170. current column: X906, NaN count: 254
171. current column: X208, NaN count: 34
172. current column: X1474, NaN count: 5
173. current column: X54, NaN count: 1423
174. current column: X818, NaN count: 4
175. current column: X643, NaN count: 0
176. current column: X1187, NaN count: 24
177. current column: X797, NaN count: 5
178. current column: X306, NaN count: 24
179. current column: X321, NaN count: 10
180. current column: X203, NaN count: 34
181. current column: X1401, NaN count: 34
182. current column: X365, NaN count: 6
183. current column: X432, NaN count: 8
184. current column: X1207, NaN count: 0
185. current column: X789, NaN count: 6
186. current column: X555, NaN count: 9
187. current column: X904, NaN count: 249
188. current column: X285, NaN count: 33
189. current column: X1253, NaN count: 3
190. current column: X1383, NaN count: 34
191. current column: X860, NaN count: 1
192. current column: X295, NaN count: 33
193. current column: X1031, NaN count: 2
194. current column: X1232, NaN count: 5
195. current column: X258, NaN count: 33
196. current column: X13, NaN count: 3118
197. current column: X267, NaN count: 33
198. current column: X951, NaN count: 40
199. current column: X965, NaN count: 19
200. current column: X772, NaN count: 41
201. current column: X886, NaN count: 253
202. current column: X593, NaN count: 5
203. current column: X1121, NaN count: 28
204. current column: X1171, NaN count: 24
205. current column: X888, NaN count: 247

206. current column: X1332, NaN count: 37
207. current column: X690, NaN count: 4
208. current column: X1087, NaN count: 9
209. current column: X1213, NaN count: 2
210. current column: X665, NaN count: 2
211. current column: X795, NaN count: 7
212. current column: X430, NaN count: 3
213. current column: X484, NaN count: 37
214. current column: X114, NaN count: 0
215. current column: X1296, NaN count: 75
216. current column: X843, NaN count: 15
217. current column: X280, NaN count: 33
218. current column: X1158, NaN count: 46
219. current column: X1090, NaN count: 4
220. current column: X355, NaN count: 7
221. current column: X290, NaN count: 34
222. current column: X930, NaN count: 251
223. current column: X978, NaN count: 16
224. current column: X961, NaN count: 21
225. current column: X439, NaN count: 5
226. current column: X728, NaN count: 0
227. current column: X103, NaN count: 0
228. current column: X518, NaN count: 6
229. current column: X1108, NaN count: 37
230. current column: X1221, NaN count: 5
231. current column: X831, NaN count: 37
232. current column: X53, NaN count: 1423
233. current column: X973, NaN count: 17
234. current column: X1436, NaN count: 6
235. current column: X796, NaN count: 38
236. current column: X1161, NaN count: 37
237. current column: X69, NaN count: 0
238. current column: X1082, NaN count: 4
239. current column: X1240, NaN count: 4
240. current column: X1181, NaN count: 22
241. current column: X895, NaN count: 248
242. current column: X1285, NaN count: 37
243. current column: X1112, NaN count: 19
244. current column: X136, NaN count: 33
245. current column: X535, NaN count: 9
246. current column: X1043, NaN count: 3
247. current column: X1282, NaN count: 40
248. current column: X922, NaN count: 253
249. current column: X1255, NaN count: 4
250. current column: X1311, NaN count: 31
251. current column: X128, NaN count: 35
252. current column: X1097, NaN count: 6
253. current column: X1131, NaN count: 56
254. current column: X1088, NaN count: 9
255. current column: X226, NaN count: 33
256. current column: X1428, NaN count: 14
257. current column: X1006, NaN count: 15
258. current column: X864, NaN count: 7
259. current column: X571, NaN count: 2
260. current column: X1465, NaN count: 9
261. current column: X989, NaN count: 29
262. current column: X1068, NaN count: 19
263. current column: X592, NaN count: 8
264. current column: X664, NaN count: 8
265. current column: X1075, NaN count: 3
266. current column: X1078, NaN count: 19
267. current column: X509, NaN count: 21
268. current column: X1224, NaN count: 1
269. current column: X346, NaN count: 1
270. current column: X1011, NaN count: 19
271. current column: X633, NaN count: 0
272. current column: X325, NaN count: 5
273. current column: X1229, NaN count: 3
274. current column: X1061, NaN count: 9
275. current column: X770, NaN count: 6
276. current column: X1120, NaN count: 29
277. current column: X1478, NaN count: 2
278. current column: X1018, NaN count: 16
279. current column: X1415, NaN count: 3
280. current column: X1191, NaN count: 36
281. current column: X945, NaN count: 16
282. current column: X77, NaN count: 0
283. current column: X703, NaN count: 5
284. current column: X557, NaN count: 14
285. current column: X1160, NaN count: 22
286. current column: X1276, NaN count: 5
287. current column: X560, NaN count: 31
288. current column: X1396, NaN count: 65
289. current column: X1426, NaN count: 17
290. current column: X966, NaN count: 17
291. current column: X1012, NaN count: 136
292. current column: X471, NaN count: 33
293. current column: X179, NaN count: 34
294. current column: X17, NaN count: 1439
295. current column: X1139, NaN count: 19
296. current column: X1142, NaN count: 24
297. current column: X800, NaN count: 24
298. current column: X279, NaN count: 33
299. current column: X1144, NaN count: 24
300. current column: X1316, NaN count: 36
301. current column: X741, NaN count: 8
302. current column: X732, NaN count: 5
303. current column: X750, NaN count: 10
304. current column: X1027, NaN count: 34
305. current column: X476, NaN count: 8
306. current column: X1026, NaN count: 7
307. current column: X677, NaN count: 3
308. current column: X1266, NaN count: 4
309. current column: X756, NaN count: 11
310. current column: X746, NaN count: 0
311. current column: X259, NaN count: 33
312. current column: X877, NaN count: 268
313. current column: X1234, NaN count: 13
314. current column: X298, NaN count: 33
315. current column: X537, NaN count: 24
316. current column: X1093, NaN count: 4
317. current column: X1141, NaN count: 24
318. current column: X506, NaN count: 35
319. current column: X975, NaN count: 15
320. current column: X1246, NaN count: 11
321. current column: X1190, NaN count: 24
322. current column: X361, NaN count: 4
323. current column: X14, NaN count: 1423
324. current column: X48, NaN count: 1423
325. current column: X1414, NaN count: 3
326. current column: X391, NaN count: 8
327. current column: X348, NaN count: 6
328. current column: X1236, NaN count: 1
329. current column: X99, NaN count: 0
330. current column: X1168, NaN count: 55
331. current column: X1159, NaN count: 41
332. current column: X1184, NaN count: 22
333. current column: X775, NaN count: 30
334. current column: X390, NaN count: 3
335. current column: X724, NaN count: 38
336. current column: X2, NaN count: 1423
337. current column: X778, NaN count: 2
338. current column: X370, NaN count: 0
339. current column: X144, NaN count: 34
340. current column: X1483, NaN count: 0
341. current column: X691, NaN count: 8
342. current column: X934, NaN count: 246
343. current column: X611, NaN count: 34
344. current column: X409, NaN count: 2
345. current column: X952, NaN count: 20
346. current column: X1297, NaN count: 45
347. current column: X641, NaN count: 10
348. current column: X629, NaN count: 2
349. current column: X900, NaN count: 246
350. current column: X1500, NaN count: 16
351. current column: X72, NaN count: 0
352. current column: X1222, NaN count: 3
353. current column: X1459, NaN count: 12
354. current column: X115, NaN count: 0
355. current column: X1456, NaN count: 10
356. current column: X1382, NaN count: 55
357. current column: X1065, NaN count: 5
358. current column: X613, NaN count: 41
359. current column: X482, NaN count: 9
360. current column: X559, NaN count: 30
361. current column: X1283, NaN count: 36
362. current column: X310, NaN count: 239
363. current column: X1086, NaN count: 9
364. current column: X955, NaN count: 16
365. current column: X534, NaN count: 6
366. current column: X1430, NaN count: 5
367. current column: X1073, NaN count: 5
368. current column: X452, NaN count: 3
369. current column: X740, NaN count: 5
370. current column: X197, NaN count: 33
371. current column: X1046, NaN count: 10
372. current column: X897, NaN count: 251
373. current column: X1322, NaN count: 73
374. current column: X947, NaN count: 23
375. current column: X671, NaN count: 3
376. current column: X1404, NaN count: 39
377. current column: X100, NaN count: 0
378. current column: X1034, NaN count: 3
379. current column: X1295, NaN count: 39
380. current column: X1150, NaN count: 45
381. current column: X83, NaN count: 0
382. current column: X1052, NaN count: 37
383. current column: X539, NaN count: 33
384. current column: X820, NaN count: 32
385. current column: X826, NaN count: 5
386. current column: X786, NaN count: 2
387. current column: X294, NaN count: 34
388. current column: X382, NaN count: 4
389. current column: X783, NaN count: 23
390. current column: X623, NaN count: 2
391. current column: X757, NaN count: 10
392. current column: X1326, NaN count: 50
393. current column: X19, NaN count: 1423
394. current column: X351, NaN count: 1
395. current column: X938, NaN count: 251
396. current column: X771, NaN count: 292
397. current column: X927, NaN count: 251
398. current column: X1402, NaN count: 78
399. current column: X1400, NaN count: 38
400. current column: X1434, NaN count: 1
401. current column: X921, NaN count: 256
402. current column: X1340, NaN count: 69
403. current column: X1250, NaN count: 9
404. current column: X236, NaN count: 35
405. current column: X890, NaN count: 251
406. current column: X1202, NaN count: 59
407. current column: X1247, NaN count: 3
408. current column: X180, NaN count: 35

409. current column: X662, NaN count: 4
410. current column: X415, NaN count: 7
411. current column: X198, NaN count: 33
412. current column: X805, NaN count: 0
413. current column: X360, NaN count: 2
414. current column: X526, NaN count: 2
415. current column: X1154, NaN count: 24
416. current column: X1153, NaN count: 17
417. current column: X956, NaN count: 18
418. current column: X702, NaN count: 6
419. current column: X590, NaN count: 9
420. current column: X1151, NaN count: 54
421. current column: X401, NaN count: 813
422. current column: X36, NaN count: 2748
423. current column: X1239, NaN count: 17
424. current column: X454, NaN count: 8
425. current column: X594, NaN count: 23
426. current column: X681, NaN count: 5
427. current column: X850, NaN count: 4
428. current column: X153, NaN count: 33
429. current column: X1355, NaN count: 43
430. current column: X602, NaN count: 3
431. current column: X781, NaN count: 5
432. current column: X1479, NaN count: 7
433. current column: X1262, NaN count: 9
434. current column: X903, NaN count: 248
435. current column: X874, NaN count: 2314
436. current column: X1254, NaN count: 5
437. current column: X273, NaN count: 33
438. current column: X318, NaN count: 1
439. current column: X748, NaN count: 3
440. current column: X599, NaN count: 23
441. current column: X636, NaN count: 2
442. current column: X837, NaN count: 498
443. current column: X1237, NaN count: 1
444. current column: X1032, NaN count: 6
445. current column: X1208, NaN count: 9
446. current column: X1101, NaN count: 4
447. current column: X751, NaN count: 3
448. current column: X1411, NaN count: 1
449. current column: X946, NaN count: 20
450. current column: X1443, NaN count: 11
451. current column: X1480, NaN count: 23
452. current column: X1488, NaN count: 1
453. current column: X1036, NaN count: 3
454. current column: X821, NaN count: 3
455. current column: X332, NaN count: 2
456. current column: X501, NaN count: 14
457. current column: X1245, NaN count: 5
458. current column: X760, NaN count: 11
459. current column: X849, NaN count: 4
460. current column: X1366, NaN count: 67
461. current column: X695, NaN count: 23
462. current column: X433, NaN count: 4
463. current column: X1467, NaN count: 3
464. current column: X541, NaN count: 20
465. current column: X788, NaN count: 3
466. current column: X918, NaN count: 284
467. current column: X923, NaN count: 251
468. current column: X639, NaN count: 3
469. current column: X581, NaN count: 26
470. current column: X256, NaN count: 33
471. current column: X688, NaN count: 2
472. current column: X1492, NaN count: 24
473. current column: X521, NaN count: 25
474. current column: X1334, NaN count: 38
475. current column: X1064, NaN count: 9
476. current column: X1437, NaN count: 2
477. current column: X416, NaN count: 8
478. current column: X1115, NaN count: 50
479. current column: X670, NaN count: 7
480. current column: X836, NaN count: 43
481. current column: X872, NaN count: 252
482. current column: X28, NaN count: 1423
483. current column: X996, NaN count: 21
484. current column: X498, NaN count: 4
485. current column: X1177, NaN count: 19
486. current column: X1241, NaN count: 6
487. current column: X385, NaN count: 2
488. current column: X121, NaN count: 0
489. current column: X1290, NaN count: 57
490. current column: X152, NaN count: 33
491. current column: X908, NaN count: 247
492. current column: X816, NaN count: 6
493. current column: X1180, NaN count: 24
494. current column: X896, NaN count: 249
495. current column: X627, NaN count: 7
496. current column: X822, NaN count: 7
497. current column: X768, NaN count: 7
498. current column: X1040, NaN count: 9
499. current column: X1348, NaN count: 73
500. current column: X1021, NaN count: 24
501. current column: X804, NaN count: 8
502. current column: X477, NaN count: 3
503. current column: X169, NaN count: 33
504. current column: X884, NaN count: 282
505. current column: X1314, NaN count: 67
506. current column: X879, NaN count: 250
507. current column: X1106, NaN count: 3
508. current column: X601, NaN count: 4
509. current column: X151, NaN count: 33
510. current column: X810, NaN count: 3
511. current column: X366, NaN count: 5
512. current column: X467, NaN count: 33
513. current column: X653, NaN count: 0
514. current column: X1468, NaN count: 2
515. current column: X668, NaN count: 8
516. current column: X716, NaN count: 7
517. current column: X63, NaN count: 1423
518. current column: X500, NaN count: 3
519. current column: X823, NaN count: 1
520. current column: X1113, NaN count: 24
521. current column: X1454, NaN count: 0
522. current column: X141, NaN count: 33
523. current column: X744, NaN count: 4
524. current column: X834, NaN count: 4
525. current column: X372, NaN count: 1
526. current column: X986, NaN count: 24
527. current column: X731, NaN count: 5
528. current column: X1127, NaN count: 28
529. current column: X1136, NaN count: 24
530. current column: X1347, NaN count: 40
531. current column: X475, NaN count: 13
532. current column: X1244, NaN count: 8
533. current column: X428, NaN count: 8
534. current column: X181, NaN count: 33
535. current column: X941, NaN count: 254
536. current column: X606, NaN count: 29
537. current column: X38, NaN count: 1486
538. current column: X762, NaN count: 8
539. current column: X1302, NaN count: 39
540. current column: X574, NaN count: 12
541. current column: X544, NaN count: 3
542. current column: X240, NaN count: 33
543. current column: X317, NaN count: 3
544. current column: X694, NaN count: 14
545. current column: X108, NaN count: 0
546. current column: X580, NaN count: 203
547. current column: X1481, NaN count: 34
548. current column: X1395, NaN count: 33
549. current column: X429, NaN count: 4
550. current column: X1242, NaN count: 9
551. current column: X926, NaN count: 250
552. current column: X1071, NaN count: 9
553. current column: X1206, NaN count: 3
554. current column: X909, NaN count: 293
555. current column: X893, NaN count: 261
556. current column: X359, NaN count: 5
557. current column: X1423, NaN count: 0
558. current column: X773, NaN count: 11
559. current column: X814, NaN count: 4
560. current column: X959, NaN count: 16
561. current column: X1162, NaN count: 53
562. current column: X540, NaN count: 3
563. current column: X612, NaN count: 38
564. current column: X752, NaN count: 4
565. current column: X949, NaN count: 16
566. current column: X784, NaN count: 32
567. current column: X815, NaN count: 43
568. current column: X791, NaN count: 22
569. current column: X905, NaN count: 250
570. current column: X185, NaN count: 33
571. current column: X469, NaN count: 33
572. current column: X1103, NaN count: 5
573. current column: X159, NaN count: 33
574. current column: X39, NaN count: 1423
575. current column: X1462, NaN count: 4
576. current column: X970, NaN count: 17
577. current column: X1186, NaN count: 26
578. current column: X647, NaN count: 0
579. current column: X1329, NaN count: 34
580. current column: X736, NaN count: 3
581. current column: X244, NaN count: 33
582. current column: X1209, NaN count: 2
583. current column: X839, NaN count: 4
584. current column: X1337, NaN count: 47
585. current column: X502, NaN count: 3
586. current column: X265, NaN count: 75
587. current column: X478, NaN count: 2
588. current column: X278, NaN count: 60
589. current column: X522, NaN count: 4
590. current column: X792, NaN count: 11
591. current column: X1219, NaN count: 337
592. current column: X1182, NaN count: 23
593. current column: X658, NaN count: 5
594. current column: X1059, NaN count: 21
595. current column: X1243, NaN count: 4
596. current column: X844, NaN count: 2
597. current column: X292, NaN count: 34
598. current column: X1410, NaN count: 3
599. current column: X1379, NaN count: 35
600. current column: X589, NaN count: 6
601. current column: X1140, NaN count: 22
602. current column: X1305, NaN count: 33
603. current column: X1359, NaN count: 35
604. current column: X684, NaN count: 0
605. current column: X999, NaN count: 19
606. current column: X871, NaN count: 249
607. current column: X829, NaN count: 12
608. current column: X1084, NaN count: 3
609. current column: X638, NaN count: 3
610. current column: X1409, NaN count: 0
611. current column: X510, NaN count: 4
612. current column: X8, NaN count: 3146

613. current column: X987, NaN count: 7
614. current column: X1019, NaN count: 37
615. current column: X425, NaN count: 1
616. current column: X617, NaN count: 9
617. current column: X1476, NaN count: 43
618. current column: X1496, NaN count: 35
619. current column: X563, NaN count: 23
620. current column: X568, NaN count: 31
621. current column: X958, NaN count: 19
622. current column: X984, NaN count: 25
623. current column: X655, NaN count: 5
624. current column: X1220, NaN count: 3
625. current column: X1042, NaN count: 5
626. current column: X1485, NaN count: 37
627. current column: X610, NaN count: 14
628. current column: X1267, NaN count: 6
629. current column: X735, NaN count: 1
630. current column: X525, NaN count: 3
631. current column: X129, NaN count: 33
632. current column: X1170, NaN count: 60
633. current column: X1405, NaN count: 6
634. current column: X1211, NaN count: 0
635. current column: X812, NaN count: 12
636. current column: X587, NaN count: 6
637. current column: X825, NaN count: 3
638. current column: X957, NaN count: 24
639. current column: X112, NaN count: 0
640. current column: X654, NaN count: 10
641. current column: X524, NaN count: 7
642. current column: X901, NaN count: 250
643. current column: X1394, NaN count: 49
644. current column: X545, NaN count: 13
645. current column: X1099, NaN count: 4
646. current column: X936, NaN count: 249
647. current column: X1341, NaN count: 41
648. current column: X1200, NaN count: 22
649. current column: X914, NaN count: 249
650. current column: X679, NaN count: 2
651. current column: X564, NaN count: 1
652. current column: X798, NaN count: 3
653. current column: X793, NaN count: 14
654. current column: X442, NaN count: 12
655. current column: X479, NaN count: 34
656. current column: X635, NaN count: 1
657. current column: X1089, NaN count: 8
658. current column: X917, NaN count: 256
659. current column: X1215, NaN count: 0
660. current column: X1257, NaN count: 1
661. current column: X586, NaN count: 35
662. current column: X119, NaN count: 0
663. current column: X726, NaN count: 1
664. current column: X954, NaN count: 25
665. current column: X883, NaN count: 249
666. current column: X29, NaN count: 1423
667. current column: X1119, NaN count: 33
668. current column: X1463, NaN count: 122
669. current column: X1286, NaN count: 1960
670. current column: X517, NaN count: 42
671. current column: X1260, NaN count: 5
672. current column: X1039, NaN count: 3
673. current column: X380, NaN count: 3
674. current column: X1327, NaN count: 62
675. current column: X1020, NaN count: 1
676. current column: X595, NaN count: 38
677. current column: X910, NaN count: 249
678. current column: X101, NaN count: 0
679. current column: X878, NaN count: 250
680. current column: X1233, NaN count: 2
681. current column: X246, NaN count: 34
682. current column: X57, NaN count: 1431
683. current column: X1374, NaN count: 67
684. current column: X464, NaN count: 34
685. current column: X486, NaN count: 28
686. current column: X1008, NaN count: 19
687. current column: X529, NaN count: 29
688. current column: X167, NaN count: 33
689. current column: X1231, NaN count: 6
690. current column: X979, NaN count: 22
691. current column: X766, NaN count: 450
692. current column: X1435, NaN count: 5
693. current column: X705, NaN count: 1847
694. current column: X1458, NaN count: 6
695. current column: X569, NaN count: 851
696. current column: X1466, NaN count: 81
697. current column: X1214, NaN count: 8
698. current column: X508, NaN count: 9
699. current column: X334, NaN count: 256
700. current column: X1227, NaN count: 6
701. current column: X983, NaN count: 17
702. current column: X548, NaN count: 2
703. current column: X1104, NaN count: 6
704. current column: X1226, NaN count: 14
705. current column: X400, NaN count: 7
706. current column: X585, NaN count: 10
707. current column: X962, NaN count: 25
708. current column: X1116, NaN count: 24
709. current column: X1473, NaN count: 15
710. current column: X527, NaN count: 5
711. current column: X1338, NaN count: 75
712. current column: X131, NaN count: 35
713. current column: X591, NaN count: 39
714. current column: X1440, NaN count: 2
715. current column: X1351, NaN count: 67
716. current column: X937, NaN count: 247
717. current column: X418, NaN count: 28
718. current column: X1412, NaN count: 0
719. current column: X913, NaN count: 248
720. current column: X855, NaN count: 0
721. current column: X496, NaN count: 4
722. current column: X189, NaN count: 33
723. current column: X721, NaN count: 13
724. current column: X697, NaN count: 2
725. current column: X738, NaN count: 0
726. current column: X533, NaN count: 40
727. current column: X1024, NaN count: 4
728. current column: X204, NaN count: 33
729. current column: X71, NaN count: 3125
730. current column: X1235, NaN count: 3
731. current column: X637, NaN count: 7
732. current column: X92, NaN count: 0
733. current column: X1049, NaN count: 1
734. current column: X1114, NaN count: 41
735. current column: X1183, NaN count: 18
736. current column: X340, NaN count: 13
737. current column: X1169, NaN count: 25
738. current column: X1212, NaN count: 2
739. current column: X1238, NaN count: 1
740. current column: X1372, NaN count: 69
741. current column: X667, NaN count: 0
742. current column: X480, NaN count: 33
743. current column: X154, NaN count: 33
744. current column: X940, NaN count: 254
745. current column: X713, NaN count: 1
746. current column: X719, NaN count: 6
747. current column: X939, NaN count: 276
748. current column: X870, NaN count: 249
749. current column: X1318, NaN count: 72
750. current column: X251, NaN count: 35
751. current column: X556, NaN count: 5
752. current column: X739, NaN count: 7
753. current column: X704, NaN count: 5
754. current column: X992, NaN count: 28
755. current column: X1427, NaN count: 1
756. current column: X621, NaN count: 5
757. current column: X98, NaN count: 0
758. current column: X1470, NaN count: 8
759. current column: X1091, NaN count: 33
760. current column: X648, NaN count: 27
761. current column: X1123, NaN count: 40
762. current column: X1196, NaN count: 20
763. current column: X448, NaN count: 1
764. current column: X1155, NaN count: 36
765. current column: X706, NaN count: 3
766. current column: X1029, NaN count: 14
767. current column: X1284, NaN count: 35
768. current column: X420, NaN count: 11
769. current column: X642, NaN count: 0
770. current column: X1281, NaN count: 36
771. current column: X1147, NaN count: 20
772. current column: X835, NaN count: 30
773. current column: X1230, NaN count: 5
774. current column: X1390, NaN count: 32
775. current column: X487, NaN count: 20
776. current column: X117, NaN count: 0
777. current column: X838, NaN count: 7
778. current column: X991, NaN count: 18
779. current column: X857, NaN count: 2
780. current column: X268, NaN count: 33
781. current column: X1422, NaN count: 4
782. current column: X488, NaN count: 9
783. current column: X1497, NaN count: 44
784. current column: X1413, NaN count: 7
785. current column: X854, NaN count: 32
786. current column: X458, NaN count: 7
787. current column: X708, NaN count: 1
788. current column: X27, NaN count: 1423
789. current column: X867, NaN count: 2
790. current column: X777, NaN count: 2
791. current column: X145, NaN count: 33
792. current column: X1403, NaN count: 49
793. current column: X531, NaN count: 11
794. current column: X507, NaN count: 2
795. current column: X575, NaN count: 36
796. current column: X1072, NaN count: 5
797. current column: X311, NaN count: 10
798. current column: X1038, NaN count: 4
799. current column: X1013, NaN count: 25
800. current column: X863, NaN count: 16
801. current column: X199, NaN count: 33
802. current column: X503, NaN count: 20
803. current column: X301, NaN count: 11
804. current column: X319, NaN count: 4
805. current column: X1045, NaN count: 0
806. current column: X1321, NaN count: 71
807. current column: X1117, NaN count: 32
808. current column: X168, NaN count: 33
809. current column: X1172, NaN count: 27
810. current column: X1418, NaN count: 3
811. current column: X1475, NaN count: 3
812. current column: X620, NaN count: 12
813. current column: X474, NaN count: 3
814. current column: X1432, NaN count: 7
815. current column: X463, NaN count: 34
816. current column: X1325, NaN count: 39

817. current column: X1105, NaN count: 12
818. current column: X1055, NaN count: 7
819. current column: X1354, NaN count: 32
820. current column: X1058, NaN count: 2
821. current column: X1449, NaN count: 0
822. current column: X147, NaN count: 33
823. current column: X753, NaN count: 6
824. current column: X583, NaN count: 35
825. current column: X1001, NaN count: 28
826. current column: X97, NaN count: 0
827. current column: X1489, NaN count: 25
828. current column: X806, NaN count: 0
829. current column: X1310, NaN count: 50
830. current column: X881, NaN count: 251
831. current column: X1273, NaN count: 11
832. current column: X1398, NaN count: 36
833. current column: X809, NaN count: 4
834. current column: X861, NaN count: 29
835. current column: X1461, NaN count: 6
836. current column: X907, NaN count: 253
837. current column: X188, NaN count: 33
838. current column: X1315, NaN count: 52
839. current column: X394, NaN count: 4
840. current column: X1494, NaN count: 37
841. current column: X745, NaN count: 3
842. current column: X1122, NaN count: 20
843. current column: X497, NaN count: 38
844. current column: X847, NaN count: 11
845. current column: X817, NaN count: 32
846. current column: X1300, NaN count: 68
847. current column: X264, NaN count: 33
848. current column: X395, NaN count: 5
849. current column: X584, NaN count: 35
850. current column: X1205, NaN count: 20
851. current column: X645, NaN count: 2
852. current column: X322, NaN count: 2
853. current column: X335, NaN count: 6
854. current column: X1385, NaN count: 271
855. current column: X1092, NaN count: 0
856. current column: X1016, NaN count: 15
857. current column: X1452, NaN count: 7
858. current column: X1460, NaN count: 1
859. current column: X193, NaN count: 324
860. current column: X624, NaN count: 4
861. current column: X1030, NaN count: 7
862. current column: X1424, NaN count: 7
863. current column: X969, NaN count: 17
864. current column: X1313, NaN count: 50
865. current column: X755, NaN count: 1
866. current column: X925, NaN count: 246
867. current column: X1109, NaN count: 9
868. current column: X651, NaN count: 4
869. current column: X504, NaN count: 10
870. current column: X1278, NaN count: 40
871. current column: X1134, NaN count: 19
872. current column: X808, NaN count: 27
873. current column: X21, NaN count: 1423
874. current column: X1298, NaN count: 39
875. current column: X461, NaN count: 3
876. current column: X1389, NaN count: 35
877. current column: X1152, NaN count: 26
878. current column: X1041, NaN count: 40
879. current column: X842, NaN count: 9
880. current column: X1330, NaN count: 32
881. current column: X456, NaN count: 3
882. current column: X1157, NaN count: 30
883. current column: X523, NaN count: 26
884. current column: X1448, NaN count: 8
885. current column: X438, NaN count: 8
886. current column: X1373, NaN count: 34
887. current column: X1306, NaN count: 79
888. current column: X1249, NaN count: 3
889. current column: X698, NaN count: 1
890. current column: X150, NaN count: 33
891. current column: X567, NaN count: 23
892. current column: X1442, NaN count: 2
893. current column: X1392, NaN count: 132
894. current column: X1095, NaN count: 37
895. current column: X769, NaN count: 1
896. current column: X512, NaN count: 7
897. current column: X742, NaN count: 0
898. current column: X801, NaN count: 13
899. current column: X6, NaN count: 1423
900. current column: X811, NaN count: 17
901. current column: X737, NaN count: 6
902. current column: X237, NaN count: 33
903. current column: X876, NaN count: 254
904. current column: X1450, NaN count: 19
905. current column: X669, NaN count: 6
906. current column: X1487, NaN count: 34
907. current column: X865, NaN count: 0
908. current column: X274, NaN count: 33
909. current column: X576, NaN count: 13
910. current column: X848, NaN count: 8
911. current column: X652, NaN count: 5
912. current column: X1165, NaN count: 24
913. current column: X1345, NaN count: 66
914. current column: X948, NaN count: 19
915. current column: X1015, NaN count: 15
916. current column: X532, NaN count: 28
917. current column: X1439, NaN count: 85
918. current column: X676, NaN count: 1
919. current column: X1137, NaN count: 20
920. current column: X1167, NaN count: 23
921. current column: X696, NaN count: 6
922. current column: X40, NaN count: 1423
923. current column: X761, NaN count: 8
924. current column: X1367, NaN count: 34
925. current column: X1185, NaN count: 23
926. current column: X912, NaN count: 255
927. current column: X375, NaN count: 1
928. current column: X727, NaN count: 3
929. current column: X1124, NaN count: 21
930. current column: X685, NaN count: 0
931. current column: X272, NaN count: 33
932. current column: X1188, NaN count: 20
933. current column: X758, NaN count: 1
934. current column: X663, NaN count: 7
935. current column: X892, NaN count: 249
936. current column: X1365, NaN count: 34
937. current column: X1393, NaN count: 54
938. current column: X1264, NaN count: 3
939. current column: X207, NaN count: 34
940. current column: X404, NaN count: 5
941. current column: X1407, NaN count: 4
942. current column: X1128, NaN count: 20
943. current column: X898, NaN count: 249
944. current column: X1138, NaN count: 25
945. current column: X971, NaN count: 23
946. current column: X1080, NaN count: 2
947. current column: X588, NaN count: 25
948. current column: X1193, NaN count: 25
949. current column: X490, NaN count: 11
950. current column: X66, NaN count: 1423
951. current column: X974, NaN count: 20
952. current column: X709, NaN count: 7
953. current column: X830, NaN count: 1
954. current column: X776, NaN count: 30
955. current column: X1469, NaN count: 25
956. current column: X1025, NaN count: 7
957. current column: X1067, NaN count: 37
958. current column: X1201, NaN count: 27
959. current column: X920, NaN count: 248
960. current column: X85, NaN count: 277
961. current column: X52, NaN count: 1423
962. current column: X78, NaN count: 0
963. current column: X1376, NaN count: 37
964. current column: X338, NaN count: 4
965. current column: X558, NaN count: 41
966. current column: X1081, NaN count: 11
967. current column: X316, NaN count: 3
968. current column: X543, NaN count: 15
969. current column: X343, NaN count: 1
970. current column: X1360, NaN count: 33
971. current column: X943, NaN count: 258
972. current column: X673, NaN count: 2
973. current column: X1361, NaN count: 39
974. current column: X515, NaN count: 1
975. current column: X1217, NaN count: 7
976. current column: X950, NaN count: 22
977. current column: X1386, NaN count: 47
978. current column: X530, NaN count: 22
979. current column: X1453, NaN count: 36
980. current column: X1156, NaN count: 26
981. current column: X582, NaN count: 25
982. current column: X660, NaN count: 22
983. current column: X113, NaN count: 0
984. current column: X840, NaN count: 14
985. current column: X998, NaN count: 16
986. current column: X799, NaN count: 0
987. current column: X1204, NaN count: 55
988. current column: X572, NaN count: 8
989. current column: X1174, NaN count: 55
990. current column: X807, NaN count: 11
991. current column: X1110, NaN count: 23
992. current column: X12, NaN count: 1423
993. current column: X985, NaN count: 16
994. current column: X1069, NaN count: 7
995. current column: X257, NaN count: 34
996. current column: X880, NaN count: 264
997. current column: X919, NaN count: 248
998. current column: X49, NaN count: 1423
999. current column: X1320, NaN count: 71
1000. current column: X625, NaN count: 2
1001. current column: X1149, NaN count: 27
1002. current column: X1053, NaN count: 5
1003. current column: X597, NaN count: 5
1004. current column: X304, NaN count: 17
1005. current column: X650, NaN count: 2
1006. current column: X387, NaN count: 4
1007. current column: X465, NaN count: 35
1008. current column: X1051, NaN count: 4
1009. current column: X566, NaN count: 41
1010. current column: X614, NaN count: 4
1011. current column: X284, NaN count: 33
1012. current column: X1417, NaN count: 9
1013. current column: X960, NaN count: 18
1014. current column: X135, NaN count: 36
1015. current column: X964, NaN count: 15

1016. current column: X1079, NaN count: 36
1017. current column: X1077, NaN count: 12
1018. current column: X1291, NaN count: 68
1019. current column: X794, NaN count: 4
1020. current column: X344, NaN count: 9
1021. current column: X1126, NaN count: 38
1022. current column: X764, NaN count: 4
1023. current column: X33, NaN count: 1430
1024. current column: X1438, NaN count: 3
1025. current column: X714, NaN count: 5
1026. current column: X221, NaN count: 33
1027. current column: X1446, NaN count: 8
1028. current column: X1009, NaN count: 15
1029. current column: X1304, NaN count: 67
1030. current column: X1406, NaN count: 3
1031. current column: X60, NaN count: 1423
1032. current column: X672, NaN count: 5
1033. current column: X832, NaN count: 6
1034. current column: X293, NaN count: 33
1035. current column: X1312, NaN count: 34
1036. current column: X89, NaN count: 0
1037. current column: X1344, NaN count: 68
1038. current column: X1457, NaN count: 4
1039. current column: X191, NaN count: 36
1040. current column: X875, NaN count: 248
1041. current column: X1490, NaN count: 31
1042. current column: X46, NaN count: 1423
1043. current column: X1444, NaN count: 2
1044. current column: X609, NaN count: 45
1045. current column: X603, NaN count: 3
1046. current column: X819, NaN count: 44
1047. current column: X1004, NaN count: 24
1048. current column: X628, NaN count: 2
1049. current column: X1464, NaN count: 6
1050. current column: X1076, NaN count: 10
1051. current column: X675, NaN count: 4
1052. current column: X763, NaN count: 3
1053. current column: X546, NaN count: 8
1054. current column: X373, NaN count: 1
1055. current column: X238, NaN count: 34
1056. current column: X1384, NaN count: 32
1057. current column: X856, NaN count: 6
1058. current column: X1307, NaN count: 35
1059. current column: X538, NaN count: 39
1060. current column: X1370, NaN count: 36
1061. current column: X1096, NaN count: 2
1062. current column: X787, NaN count: 3
1063. current column: X1280, NaN count: 39
1064. current column: X1203, NaN count: 29
1065. current column: X1349, NaN count: 37
1066. current column: X779, NaN count: 10
1067. current column: X976, NaN count: 25
1068. current column: X730, NaN count: 7
1069. current column: X666, NaN count: 4
1070. current column: X417, NaN count: 5
1071. current column: X723, NaN count: 0
1072. current column: X1319, NaN count: 41
1073. current column: X994, NaN count: 18
1074. current column: X1301, NaN count: 70
1075. current column: X1397, NaN count: 41
1076. current column: X915, NaN count: 253
1077. current column: X1248, NaN count: 4
1078. current column: X453, NaN count: 7
1079. current column: X542, NaN count: 7
1080. current column: X483, NaN count: 3
1081. current column: X374, NaN count: 9
1082. current column: X1098, NaN count: 2
1083. current column: X1275, NaN count: 8
1084. current column: X729, NaN count: 2
1085. current column: X362, NaN count: 5
1086. current column: X882, NaN count: 254
1087. current column: X1416, NaN count: 6
1088. current column: X1074, NaN count: 2
1089. current column: X619, NaN count: 16
1090. current column: X1028, NaN count: 7
1091. current column: X747, NaN count: 32
1092. current column: X1135, NaN count: 26
1093. current column: X519, NaN count: 0
1094. current column: X862, NaN count: 4
1095. current column: X162, NaN count: 34
1096. current column: X869, NaN count: 261
1097. current column: X146, NaN count: 33
1098. current column: X1335, NaN count: 33
1099. current column: X932, NaN count: 246
1100. current column: X1197, NaN count: 23
1101. current column: X722, NaN count: 4
1102. current column: X554, NaN count: 16
1103. current column: X578, NaN count: 4
1104. current column: X1331, NaN count: 34
1105. current column: X717, NaN count: 5
1106. current column: X1353, NaN count: 39
1107. current column: X1484, NaN count: 18
1108. current column: X993, NaN count: 19
1109. current column: X1433, NaN count: 1
1110. current column: X931, NaN count: 257
1111. current column: X846, NaN count: 5
1112. current column: X1357, NaN count: 37
1113. current column: X1048, NaN count: 7
1114. current column: X618, NaN count: 9
1115. current column: X1317, NaN count: 64
1116. current column: X963, NaN count: 704
1117. current column: X1308, NaN count: 77
1118. current column: X342, NaN count: 4
1119. current column: X561, NaN count: 17
1120. current column: X212, NaN count: 33
1121. current column: X1175, NaN count: 27
1122. current column: X734, NaN count: 20
1123. current column: X634, NaN count: 0
1124. current column: X156, NaN count: 34
1125. current column: X1056, NaN count: 2
1126. current column: X309, NaN count: 1
1127. current column: X813, NaN count: 2
1128. current column: X520, NaN count: 5
1129. current column: X1292, NaN count: 40
1130. current column: X754, NaN count: 3
1131. current column: X911, NaN count: 253
1132. current column: X1368, NaN count: 71
1133. current column: X307, NaN count: 9
1134. current column: X1133, NaN count: 96
1135. current column: X1198, NaN count: 19
1136. current column: X1477, NaN count: 7
1137. current column: X700, NaN count: 2
1138. current column: X411, NaN count: 6
1139. current column: X1189, NaN count: 21
1140. current column: X249, NaN count: 33
1141. current column: X1381, NaN count: 69
1142. current column: X56, NaN count: 1953
1143. current column: X336, NaN count: 3
1144. current column: X1294, NaN count: 35
1145. current column: X1060, NaN count: 10
1146. current column: X1387, NaN count: 58
1147. current column: X782, NaN count: 2
1148. current column: X630, NaN count: 5
1149. current column: X1023, NaN count: 8
1150. current column: X712, NaN count: 4
1151. current column: X356, NaN count: 7
1152. current column: X982, NaN count: 21
1153. current column: X1425, NaN count: 14
1154. current column: X210, NaN count: 34
1155. current column: X972, NaN count: 16
1156. current column: X513, NaN count: 22
1157. current column: X15, NaN count: 1423
1158. current column: X699, NaN count: 7
1159. current column: X1421, NaN count: 3
1160. current column: X1451, NaN count: 4
1161. current column: X1085, NaN count: 22
1162. current column: X718, NaN count: 37
1163. current column: X1062, NaN count: 17
1164. current column: X170, NaN count: 33
1165. current column: X95, NaN count: 0
1166. current column: X1199, NaN count: 19
1167. current column: X93, NaN count: 0
1168. current column: X841, NaN count: 0
1169. current column: X967, NaN count: 19
1170. current column: X687, NaN count: 9
1171. current column: X1022, NaN count: 9
1172. current column: X780, NaN count: 6
1173. current column: X1268, NaN count: 4
1174. current column: X887, NaN count: 252
1175. current column: X1388, NaN count: 34
1176. current column: X640, NaN count: 3
1177. current column: X90, NaN count: 0
1178. current column: X552, NaN count: 0
1179. current column: X1173, NaN count: 19
1180. current column: X935, NaN count: 248
1181. current column: X1118, NaN count: 37
1182. current column: X434, NaN count: 7
1183. current column: X1054, NaN count: 13
1184. current column: X562, NaN count: 8
1185. current column: X693, NaN count: 5
1186. current column: X1375, NaN count: 37
1187. current column: X1289, NaN count: 52
1188. current column: X1339, NaN count: 67
1189. current column: X182, NaN count: 33
1190. current column: X1491, NaN count: 26
1191. current column: X649, NaN count: 1334
1192. current column: X511, NaN count: 3
1193. current column: X1102, NaN count: 8
1194. current column: X916, NaN count: 250
1195. current column: X184, NaN count: 33
1196. current column: X547, NaN count: 39
1197. current column: X710, NaN count: 4
1198. current column: X868, NaN count: 249
1199. current column: X1044, NaN count: 30
1200. current column: X605, NaN count: 39
1201. current column: X1252, NaN count: 5
1202. current column: X579, NaN count: 32
1203. current column: X573, NaN count: 37
1204. current column: X1358, NaN count: 36
1205. current column: X485, NaN count: 8
1206. current column: X1377, NaN count: 75
1207. current column: X11, NaN count: 1423
1208. current column: X190, NaN count: 33
1209. current column: X1063, NaN count: 19
1210. current column: X25, NaN count: 1423

1211. current column: X234, NaN count: 33
1212. current column: X222, NaN count: 33
1213. current column: X1223, NaN count: 6
1214. current column: X1277, NaN count: 1
1215. current column: X980, NaN count: 23
1216. current column: X550, NaN count: 1
1217. current column: X661, NaN count: 5
1218. current column: X84, NaN count: 0
1219. current column: X1176, NaN count: 21
1220. current column: X858, NaN count: 1
1221. current column: X596, NaN count: 9
1222. current column: X1265, NaN count: 2
1223. current column: X1391, NaN count: 36
1224. current column: X715, NaN count: 6
1225. current column: X1419, NaN count: 2
1226. current column: X682, NaN count: 5
1227. current column: X444, NaN count: 8
1228. current column: X1192, NaN count: 17
1229. current column: X328, NaN count: 9
1230. current column: X171, NaN count: 34
1231. current column: X570, NaN count: 26
1232. current column: X720, NaN count: 8
1233. current column: X505, NaN count: 26
1234. current column: X852, NaN count: 11
1235. current column: X1279, NaN count: 34
1236. current column: X1225, NaN count: 6
1237. current column: X802, NaN count: 5
1238. current column: X499, NaN count: 3
1239. current column: X440, NaN count: 4
1240. current column: X1166, NaN count: 30
1241. current column: X1431, NaN count: 3
1242. current column: X1482, NaN count: 8
1243. current column: X23, NaN count: 1423
1244. current column: X441, NaN count: 1
1245. current column: X1070, NaN count: 3
1246. current column: X707, NaN count: 12
1247. current column: X493, NaN count: 27
1248. current column: X785, NaN count: 9
1249. current column: X873, NaN count: 312
1250. current column: X1179, NaN count: 36
1251. current column: X1125, NaN count: 38
1252. current column: X109, NaN count: 0
1253. current column: X224, NaN count: 34
1254. current column: X1259, NaN count: 8
1255. current column: X1143, NaN count: 55
1256. current column: X1324, NaN count: 34
1257. current column: X889, NaN count: 250
1258. current column: X689, NaN count: 3
1259. current column: X447, NaN count: 7
1260. current column: X1270, NaN count: 1
1261. current column: X827, NaN count: 43
1262. current column: X1037, NaN count: 2
1263. current column: X942, NaN count: 247
1264. current column: X1498, NaN count: 36
1265. current column: X678, NaN count: 5
1266. current column: X1100, NaN count: 25
1267. current column: X239, NaN count: 35
1268. current column: X1369, NaN count: 66
1269. current column: X436, NaN count: 25
1270. current column: X536, NaN count: 25
1271. current column: X933, NaN count: 248
1272. current column: X1035, NaN count: 630
1273. current column: X1194, NaN count: 56
1274. current column: X1441, NaN count: 2
1275. current column: X291, NaN count: 33
1276. current column: X1328, NaN count: 43
1277. current column: X1323, NaN count: 34
1278. current column: X616, NaN count: 5
1279. current column: X1195, NaN count: 22
1280. current column: X944, NaN count: 16
1281. current column: X1017, NaN count: 23
1282. current column: X1164, NaN count: 21
1283. current column: X656, NaN count: 8
1284. current column: X1287, NaN count: 37
1285. current column: X324, NaN count: 20
1286. current column: X767, NaN count: 37
1287. current column: X1271, NaN count: 4
1288. current column: X1288, NaN count: 32
1289. current column: X58, NaN count: 1426
1290. current column: X1033, NaN count: 7
1291. current column: X1163, NaN count: 18

(3148, 1291)

In [138]:
TE_TimeCut_NAfilled.to_csv("data/TEST_DHweightDaconArima_NAFilled.csv")

In [139]:
TR_TimeCut_NAfilled.to_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv")

### Weather 추가변수
- 나중에 추가

In [190]:
# hourly WEATHER data
w_hr = pd.read_csv("data/weather/인천_시간별__기상자료(16-18)_축소__7월1일.csv",encoding='euc-kr', sep=',')
w_hr2 = w_hr.loc[:,['일시', '기온(°C)', '강수량(mm)', '풍속(m/s)']]
w_hr2['강수량(mm)']=w_hr2.loc[:,'강수량(mm)'].fillna(0)
old = w_hr2.columns
new = ['Time', 'Temp', 'Precipitation', 'Wind']
w_hr2 = w_hr2.rename(columns=dict(zip(old, new)))
w_hr2.Time = pd.to_datetime(w_hr2.Time)
w_hr2.set_index('Time')

                     Temp  Precipitation  Wind
Time
2016-07-20 00:00:00  25.7            0.0   1.3
2016-07-20 01:00:00  25.6            0.0   1.4
2016-07-20 02:00:00  25.4            0.0   0.3
2016-07-20 03:00:00  24.9            0.0   1.1
2016-07-20 04:00:00  24.7            0.0   0.7
2016-07-20 05:00:00  24.7            0.0   1.2
2016-07-20 06:00:00  24.7            0.0   1.1
2016-07-20 07:00:00  24.9            0.0   2.1
2016-07-20 08:00:00  26.1            0.0   3.2
2016-07-20 09:00:00  27.6            0.0   3.1
2016-07-20 10:00:00  28.8            0.0   2.0
2016-07-20 11:00:00  29.4            0.0   1.9
2016-07-20 12:00:00  30.4            0.0   1.8
2016-07-20 13:00:00  30.1            0.0   2.5
2016-07-20 14:00:00  31.5            0.0   1.8
2016-07-20 15:00:00  30.6            0.0   3.0
2016-07-20 16:00:00  30.0            0.0   3.8
2016-07-20 17:00:00  30.0            0.0   2.8
2016-07-20 18:00:00  30.4            0.0   1.9
2016-07-20 19:00:00  30.0            0.0   2.1
2016-07-20 20:00:00  29.2            0.0   1.4
2016-07-20 21:00:00  28.6            0.0   2.4
2016-07-20 22:00:00  27.9            0.0   2.1
2016-07-20 23:00:00  28.1            0.0   4.3
2016-07-21 00:00:00  27.4            0.0   3.0
2016-07-21 01:00:00  26.7            0.0   4.0
2016-07-21 02:00:00  26.2            0.0   2.6
2016-07-21 03:00:00  25.7            0.0   2.7
2016-07-21 04:00:00  25.4            0.0   2.8
2016-07-21 05:00:00  25.1            0.0   2.8
...                   ...            ...   ...
2018-06-30 18:00:00  27.2            0.0   2.5
2018-06-30 19:00:00  26.5            0.0   1.8
2018-06-30 20:00:00  24.5            0.0   2.4
2018-06-30 21:00:00  24.5            0.0   3.6
2018-06-30 22:00:00  24.1            0.0   1.4
2018-06-30 23:00:00  23.9            0.0   0.0
2018-07-01 00:00:00  23.7            0.0   1.7
2018-07-01 01:00:00  23.7            0.0   2.0
2018-07-01 02:00:00  23.8            0.0   2.0
2018-07-01 03:00:00  23.8            0.0   0.7
2018-07-01 04:00:00  23.7            0.0   2.9
2018-07-01 05:00:00  23.1            0.3   1.9
2018-07-01 06:00:00  22.2            0.6   2.9
2018-07-01 07:00:00  22.2            0.0   2.6
2018-07-01 08:00:00  22.2            0.3   3.3
2018-07-01 09:00:00  21.5            2.3   3.2
2018-07-01 10:00:00  21.3            6.7   3.3
2018-07-01 11:00:00  21.4            6.3   3.2
2018-07-01 12:00:00  21.2            6.5   5.1
2018-07-01 13:00:00  21.3            4.2   3.8
2018-07-01 14:00:00  21.6            3.3   4.3
2018-07-01 15:00:00  21.9            2.7   3.1
2018-07-01 16:00:00  21.9            2.3   4.4
2018-07-01 17:00:00  21.9            3.8   4.0
2018-07-01 18:00:00  21.8            1.8   3.9
2018-07-01 19:00:00  21.6            1.8   5.1
2018-07-01 20:00:00  21.4            1.3   5.0
2018-07-01 21:00:00  21.3            4.2   4.5
2018-07-01 22:00:00  21.3            6.2   4.8
2018-07-01 23:00:00  21.2            4.6   4.1

[17088 rows x 3 columns]

In [191]:
# daily WEATHER data
w_daily = pd.read_csv("data/weather/인천_일별_기상자료(16-18)_축소.csv",encoding='euc-kr', sep=',')
w_daily2 = w_daily.iloc[:,1:5]
old = w_daily2.columns
new = ['Time', 'AvgT', 'MinT', 'MaxT']
w_daily2 = w_daily2.rename(columns=dict(zip(old, new)))
w_daily2.Time = pd.to_datetime(w_daily2.Time)
w_daily2.set_index('Time')

            AvgT  MinT  MaxT
Time
2016-07-20  28.1  24.6  31.6
2016-07-21  28.0  25.0  31.5
2016-07-22  28.5  25.9  32.3
2016-07-23  27.7  25.8  30.2
2016-07-24  27.0  26.4  28.9
2016-07-25  27.0  25.4  29.8
2016-07-26  27.0  25.3  29.2
2016-07-27  26.7  25.9  28.1
2016-07-28  26.2  24.5  28.2
2016-07-29  25.6  23.4  27.8
2016-07-30  27.0  24.6  30.3
2016-07-31  27.7  26.1  30.6
2016-08-01  26.9  24.9  29.4
2016-08-02  26.9  25.1  29.9
2016-08-03  28.2  25.2  32.2
2016-08-04  29.0  25.9  33.2
2016-08-05  29.4  26.6  33.3
2016-08-06  29.2  26.3  33.4
2016-08-07  28.7  25.8  32.7
2016-08-08  28.9  26.1  32.7
2016-08-09  29.2  25.4  33.3
2016-08-10  28.1  25.6  31.0
2016-08-11  29.0  26.1  33.6
2016-08-12  29.0  26.5  32.4
2016-08-13  28.9  26.7  31.8
2016-08-14  28.4  26.8  30.3
2016-08-15  28.0  25.9  31.5
2016-08-16  28.4  25.5  31.7
2016-08-17  28.9  25.8  32.4
2016-08-18  28.9  26.0  32.8
...          ...   ...   ...
2018-06-11  19.2  17.6  22.2
2018-06-12  19.9  16.6  23.7
2018-06-13  20.7  17.8  24.9
2018-06-14  20.5  17.9  22.5
2018-06-15  21.3  17.4  25.5
2018-06-16  21.4  17.0  26.1
2018-06-17  20.4  17.6  24.1
2018-06-18  22.3  18.8  27.0
2018-06-19  20.2  17.9  24.1
2018-06-20  20.5  18.3  24.4
2018-06-21  20.9  18.9  24.5
2018-06-22  23.1  17.9  28.3
2018-06-23  22.2  19.9  25.4
2018-06-24  22.0  18.5  27.0
2018-06-25  24.7  20.3  29.0
2018-06-26  21.3  19.4  24.0
2018-06-27  20.5  18.5  23.0
2018-06-28  22.3  20.0  25.1
2018-06-29  22.3  20.0  26.0
2018-06-30  24.0  19.5  28.5
2018-07-01  21.9  21.1  23.8
2018-07-02  22.7  20.3  25.4
2018-07-03  26.7  22.9  30.9
2018-07-04  24.9  21.9  28.7
2018-07-05  25.3  21.9  28.6
2018-07-06  24.4  22.4  27.4
2018-07-07  23.9  19.4  28.7
2018-07-08  23.4  18.9  27.3
2018-07-09  21.3  20.3  23.6
2018-07-10  24.1  20.5  26.7

[721 rows x 3 columns]

### 파생 및 dummy변수

In [175]:
test = pd.read_csv("data/TEST_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')
train = pd.read_csv("data/TRAIN_DHweightDaconArima_NAFilled.csv", index_col=0, sep=',')

In [177]:
test.head(1)

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-08-29 10:00:00,1.473264,0.431,0.276,0.228,0.432,0.232,0.348,0.259,0.194,0.086,...,0.114,0.087,0.283,0.342026,1.160255,0.094,0.351,1.109,0.225,0.296678

In [185]:
def dateTimeVar(df):
    df1 = df.copy()
    # trainset, testset의 인덱스를 datetime으로 변환
    if not isinstance(df1.index[1], datetime):
        df1.index = pd.to_datetime(df1.index)
    
    # datetime을 사용한 파생변수
    # 연도, 월, 일, 요일, 시간
    df1['Mth']= df1.index.month
    df1['Date']=df1.index.day
    df1['Day']=df1.index.weekday
    df1['hour']=df1.index.hour
    
    # Season 1: 봄 ~ 4: 겨울 
    df1['season'] = df1.Mth.apply(lambda x: 4 if x in [12,1,2] else 
                1 if x in [3,4,5] else 2 if x in [6,7,8]
               else 3)
    return df1

In [183]:
test1 = dateTimeVar(test)

In [181]:
def dummies(df, dum_lst):
    df1 = df.copy()
    # dum_lst에 들어있는 각각의 변수마다 
    # tmp = get_dummies, 해당 original 변수는 drop
    # tmp와 변수가 drop된 df를 join 후 리턴
    for v in dum_lst:
        tmp = pd.get_dummies(df1[v], prefix=v)
        df1 = df1.drop(columns=v).join(tmp)
    return df1

In [ ]:
dummies(test1, ['Mth',''])

### XGBoost Reg