In [50]:
import pandas as pd
from SMAPE import *
import os
from os import listdir
from os.path import isfile, join

In [3]:
os.getcwd()

'E:\\DACON_CONTEST_2019\\SUHYUN'

In [5]:
os.chdir('E:\\DACON_CONTEST_2019\\SUHYUN\\output\\test')

In [7]:
filepath = os.getcwd()

In [14]:
# 색인: 파일이름
files = [f for f in listdir(filepath) if isfile(join(filepath, f))]
files

['ARIMA.csv',
 'avg_per_hour_ARIMA.csv',
 'NA_DACON_method_ARIMA.csv',
 'NA_DACON_method_r48_mean_ARIMA.csv',
 'NA_DACON_method_r48_med_ARIMA.csv',
 'r48_med_ARIMA.csv',
 'r720_mean_ARIMA_itertools(0,3).csv',
 'Score.csv']

# 1. ARIMA

In [19]:
ARIMA = pd.read_csv("ARIMA.csv")
ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.799337,6.608444,6.502226,6.443249,6.410628,6.392713,6.383001,6.377866,6.375284,...,165.487123,167.240644,168.994164,170.747685,172.501205,5673.692192,7358.825438,8725.915274,10674.732790,11934.857880
1,X7,1.308541,1.318726,1.327311,1.334546,1.340644,1.345784,1.350116,1.353767,1.356845,...,40.906243,40.909802,41.007971,41.154814,41.326699,1340.096678,1507.842542,1640.755721,1883.052614,2003.862241
2,X10,2.245586,2.397961,2.522193,2.623480,2.706060,2.773387,2.828279,2.873033,2.909521,...,86.185400,86.498653,86.820662,87.145064,87.470120,2787.029636,3084.692340,3282.837536,3699.838568,3878.140337
3,X16,3.314387,3.423443,3.510585,3.580217,3.635857,3.680316,3.715842,3.744229,3.766912,...,115.647295,116.093757,116.607851,117.154790,117.717679,3774.705259,4311.712879,4701.447151,5404.611232,5759.090718
4,X18,2.495489,2.500711,2.504911,2.508287,2.510998,2.513173,2.514916,2.516309,2.517421,...,69.132699,69.842315,70.551932,71.261548,71.971165,2363.094778,3045.036223,3596.108335,4386.921002,4894.706508

In [21]:
ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.771216,0.758193,0.751534,0.747709,0.745339,0.743808,0.742802,0.742145,0.741728,0.741479,...,18.891900,18.880988,19.080342,19.073583,19.240538,606.341317,669.671197,705.996791,789.392663,821.860165
std,2.127130,2.037289,1.972492,1.925341,1.890749,1.865155,1.846058,1.831693,1.820807,1.812504,...,42.186488,42.562911,43.023594,43.339502,43.730825,1396.237721,1661.696375,1863.882670,2201.732017,2404.902538
min,0.006011,0.006016,0.006016,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,...,0.142851,0.142851,0.142851,0.142851,0.142851,4.428392,-5.589709,-17.138543,-29.829948,-166.190694
25%,0.252858,0.248951,0.248714,0.248340,0.246632,0.245544,0.244223,0.244440,0.244462,0.244539,...,5.560412,5.554408,5.544829,5.534716,5.524374,169.252058,165.379598,159.105072,163.908147,158.342373
50%,0.344808,0.336831,0.337029,0.333529,0.326990,0.324254,0.323490,0.323828,0.322068,0.320463,...,7.355642,7.356513,7.351348,7.336829,7.325608,227.282454,226.764406,222.119955,226.862214,220.303057
75%,0.488715,0.467004,0.465225,0.457112,0.458127,0.455708,0.454799,0.455050,0.455911,0.456763,...,10.152380,10.150994,10.138100,10.116203,10.093958,312.595125,315.226266,302.345338,315.148406,309.862489
max,20.458173,20.194542,20.027700,19.922411,19.856268,19.815020,19.789603,19.774254,19.765309,19.760435,...,313.420122,314.578933,316.510294,318.442514,320.374939,10301.566950,12148.187880,14061.127020,17440.522440,19694.722820

# 2. avg_per_hour_ARIMA

In [32]:
avg_per_hour_ARIMA = pd.read_csv("avg_per_hour_ARIMA.csv")
avg_per_hour_ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.853865,6.662421,6.535229,6.450732,6.394607,6.357335,6.332590,6.316171,6.305283,...,151.158682,151.165311,151.188368,151.219685,151.255155,4700.315536,4734.280821,4617.861104,4809.298795,4690.459144
1,X7,1.258811,1.275497,1.289773,1.301985,1.312433,1.321371,1.329018,1.335560,1.341157,...,40.379061,40.218087,40.145692,40.118418,40.114128,1268.281828,1265.220143,1242.315902,1302.232722,1278.134528
2,X10,2.166754,2.297002,2.408626,2.504290,2.586275,2.656537,2.716753,2.768359,2.812586,...,73.933546,73.933546,73.933546,73.933546,73.933546,2303.938637,2291.939922,2218.006376,2291.939922,2218.006376
3,X16,3.294517,3.381436,3.454943,3.517108,3.569681,3.614141,3.651741,3.683540,3.710432,...,112.487417,112.467445,112.489421,112.529645,112.577808,3514.788138,3552.022654,3487.105398,3654.661835,3586.433638
4,X18,2.500810,2.510078,2.517351,2.523060,2.527539,2.531054,2.533812,2.535976,2.537673,...,61.992220,61.938487,61.909200,61.893237,61.884536,1923.494139,1918.097490,1856.223377,1918.097490,1856.223377

In [33]:
avg_per_hour_ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.777086,0.762977,0.755046,0.750398,0.747559,0.745761,0.744587,0.743802,0.743268,0.742900,...,19.587606,19.518142,19.833799,19.752901,20.034378,624.793293,651.328432,638.859478,668.465275,654.930233
std,2.117934,2.025741,1.955765,1.902275,1.861202,1.829533,1.805008,1.785933,1.771031,1.759340,...,43.450854,44.208753,45.106735,45.808403,46.616954,1492.703939,1727.742833,1747.782867,1880.878141,1894.171546
min,0.006012,0.006016,0.006016,0.006016,0.006016,0.006016,0.006016,0.006016,0.006016,0.006016,...,0.142507,0.142625,0.142735,0.142838,0.142934,4.439595,4.469063,4.328334,-7.080185,-18.587865
25%,0.268305,0.273686,0.272978,0.268614,0.266115,0.267970,0.267966,0.265463,0.265410,0.265419,...,6.123582,6.124018,6.127431,6.129077,6.129897,189.558038,188.972268,180.412272,183.879761,175.581323
50%,0.358706,0.348385,0.350253,0.345286,0.338344,0.337427,0.337419,0.336550,0.336641,0.336337,...,7.818079,7.818735,7.819682,7.820765,7.821912,242.666280,241.943407,233.569020,239.463925,229.129816
75%,0.490668,0.467833,0.467525,0.466306,0.467110,0.463655,0.462925,0.462914,0.462621,0.464835,...,10.990777,10.994406,10.998677,11.003518,11.008863,342.830827,345.337667,333.630127,343.422423,331.479406
max,20.367642,19.973079,19.665623,19.426038,19.239337,19.093841,18.980451,18.892077,18.823195,18.769500,...,317.957347,317.957347,328.054532,349.953594,369.666351,12624.816508,17678.385832,18464.278949,20370.491506,20959.127175

# 3. NA_DACON_method_ARIMA

In [34]:
NA_DACON_method_ARIMA = pd.read_csv("NA_DACON_method_ARIMA.csv")
NA_DACON_method_ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.799336,6.608443,6.502225,6.443248,6.410627,6.392711,6.382999,6.377864,6.375283,...,165.487123,167.240644,168.994164,170.747685,172.501205,5673.692192,7358.825438,8725.915274,10674.732795,11934.857877
1,X7,1.308541,1.318726,1.327311,1.334546,1.340644,1.345784,1.350116,1.353767,1.356845,...,40.905434,40.908986,41.007152,41.153994,41.325878,1340.072020,1507.817062,1640.731056,1883.027120,2003.837563
2,X10,2.245585,2.397961,2.522193,2.623480,2.706059,2.773387,2.828279,2.873033,2.909521,...,86.185399,86.498653,86.820661,87.145063,87.470119,2787.029626,3084.692315,3282.837514,3699.838546,3878.140318
3,X16,3.314387,3.423443,3.510585,3.580217,3.635857,3.680316,3.715842,3.744229,3.766913,...,115.648153,116.094632,116.608741,117.155692,117.718592,3774.734854,4311.753793,4701.496776,5404.672877,5759.160405
4,X18,2.495490,2.500712,2.504913,2.508289,2.511000,2.513175,2.514918,2.516311,2.517423,...,69.132699,69.842315,70.551932,71.261548,71.971165,2363.094778,3045.036223,3596.108335,4386.921002,4894.706508

In [35]:
NA_DACON_method_ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.788104,0.771782,0.762276,0.756630,0.753233,0.751184,0.749960,0.749255,0.748880,0.748718,...,18.894315,18.883293,19.082569,19.075753,19.242667,606.411799,669.743746,706.076289,789.483858,821.957090
std,2.126054,2.035863,1.971133,1.924102,1.889586,1.864022,1.844920,1.830532,1.819615,1.811278,...,42.185574,42.562032,43.022734,43.338663,43.729996,1396.211161,1661.669375,1863.854596,2201.701294,2404.871228
min,0.006011,0.006016,0.006016,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,...,0.142851,0.142851,0.142851,0.142851,0.142851,4.428392,-5.625972,-17.178561,-29.876388,-166.166395
25%,0.257742,0.255941,0.254991,0.252416,0.254102,0.255742,0.253091,0.247195,0.245932,0.245758,...,5.561465,5.554519,5.546748,5.536662,5.526336,169.356393,165.345118,159.017999,163.872700,158.344517
50%,0.364849,0.348123,0.347069,0.335396,0.331691,0.326884,0.324391,0.321076,0.324100,0.323499,...,7.355595,7.356487,7.356841,7.356983,7.346473,227.789642,226.786827,222.138597,226.892913,220.337095
75%,0.514644,0.511436,0.487315,0.475232,0.470729,0.470183,0.467585,0.464951,0.466550,0.466747,...,10.151813,10.150544,10.137976,10.116100,10.093870,312.607584,315.212466,302.337659,315.146908,309.952220
max,20.458173,20.194541,20.027699,19.922411,19.856267,19.815019,19.789602,19.774253,19.765307,19.760433,...,313.420050,314.578640,316.510001,318.442221,320.374646,10301.557981,12148.178827,14061.127023,17440.522439,19694.722822

# 4. NA_DACON_method_r48_mean_ARIMA

In [36]:
NA_DACON_method_r48_mean_ARIMA = pd.read_csv("NA_DACON_method_r48_mean_ARIMA.csv")
NA_DACON_method_r48_mean_ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.412657,6.420777,6.425877,6.429190,6.431443,6.433070,6.434325,6.435360,6.436266,...,160.577478,162.275613,163.973748,165.671883,167.370018,5504.323706,7136.231595,8459.824247,10347.405182,11567.411589
1,X7,2.132067,2.131349,2.130759,2.130279,2.129891,2.129584,2.129343,2.129160,2.129026,...,62.073966,63.434107,64.771126,66.097536,67.419077,2327.965351,3601.173532,4690.440280,6092.403047,7101.307553
2,X10,4.718981,4.716739,4.715346,4.714612,4.714392,4.714571,4.715061,4.715792,4.716711,...,133.355785,135.613550,137.866717,140.118654,142.370261,4823.756020,6995.934111,8830.368686,11253.494508,12950.588425
3,X16,5.285298,5.288478,5.290728,5.292478,5.293957,5.295290,5.296545,5.297757,5.298946,...,139.876167,142.039438,144.202710,146.365981,148.529253,5006.775333,7085.679262,8836.502402,11176.425702,12795.289279
4,X18,2.638968,2.638332,2.637785,2.637319,2.636924,2.636591,2.636312,2.636082,2.635894,...,65.944913,66.615690,67.286467,67.957245,68.628022,2252.233226,2896.850085,3417.164418,4165.289712,4644.686637

In [37]:
ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.771216,0.758193,0.751534,0.747709,0.745339,0.743808,0.742802,0.742145,0.741728,0.741479,...,18.891900,18.880988,19.080342,19.073583,19.240538,606.341317,669.671197,705.996791,789.392663,821.860165
std,2.127130,2.037289,1.972492,1.925341,1.890749,1.865155,1.846058,1.831693,1.820807,1.812504,...,42.186488,42.562911,43.023594,43.339502,43.730825,1396.237721,1661.696375,1863.882670,2201.732017,2404.902538
min,0.006011,0.006016,0.006016,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,...,0.142851,0.142851,0.142851,0.142851,0.142851,4.428392,-5.589709,-17.138543,-29.829948,-166.190694
25%,0.252858,0.248951,0.248714,0.248340,0.246632,0.245544,0.244223,0.244440,0.244462,0.244539,...,5.560412,5.554408,5.544829,5.534716,5.524374,169.252058,165.379598,159.105072,163.908147,158.342373
50%,0.344808,0.336831,0.337029,0.333529,0.326990,0.324254,0.323490,0.323828,0.322068,0.320463,...,7.355642,7.356513,7.351348,7.336829,7.325608,227.282454,226.764406,222.119955,226.862214,220.303057
75%,0.488715,0.467004,0.465225,0.457112,0.458127,0.455708,0.454799,0.455050,0.455911,0.456763,...,10.152380,10.150994,10.138100,10.116203,10.093958,312.595125,315.226266,302.345338,315.148406,309.862489
max,20.458173,20.194542,20.027700,19.922411,19.856268,19.815020,19.789603,19.774254,19.765309,19.760435,...,313.420122,314.578933,316.510294,318.442514,320.374939,10301.566950,12148.187880,14061.127020,17440.522440,19694.722820

# 5. NA_DACON_method_r48_med_ARIMA

In [38]:
NA_DACON_method_r48_med_ARIMA = pd.read_csv("NA_DACON_method_r48_med_ARIMA.csv")
NA_DACON_method_r48_med_ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.414162,6.415860,6.416758,6.417495,6.418199,6.418896,6.419592,6.420288,6.420984,...,161.044958,162.751451,164.457943,166.164436,167.870929,5521.406496,7161.346208,8491.776077,10388.324351,11614.658151
1,X7,1.485958,1.484842,1.484238,1.483917,1.483752,1.483673,1.483642,1.483637,1.483647,...,29.247671,29.144665,29.092827,29.066739,29.053610,913.181362,900.249586,871.209277,900.249586,871.209277
2,X10,3.226025,3.226370,3.227080,3.227890,3.228728,3.229574,3.230422,3.231271,3.232120,...,58.575876,58.575876,58.575876,58.575876,58.575876,1823.965576,1815.852148,1757.276272,1815.852148,1757.276272
3,X16,5.026338,5.027509,5.028437,5.029315,5.030183,5.031048,5.031913,5.032777,5.033642,...,84.751884,84.563229,84.483585,84.449961,84.435766,2659.320541,2617.187240,2532.761845,2617.187240,2532.761845
4,X18,2.578535,2.578574,2.578614,2.578656,2.578700,2.578744,2.578789,2.578835,2.578881,...,65.035048,65.693973,66.352897,67.011822,67.670747,2220.353130,2853.579726,3364.444829,4099.606253,4570.276952

In [39]:
NA_DACON_method_r48_med_ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.666956,0.667678,0.667895,0.667956,0.667959,0.667935,0.667897,0.667848,0.667795,0.667738,...,15.888897,15.937743,15.990815,16.046051,16.103130,510.899728,568.033566,604.648744,681.552930,714.483775
std,1.868859,1.868654,1.868566,1.868611,1.868723,1.868865,1.869019,1.869177,1.869337,1.869498,...,45.785282,46.137301,46.496631,46.860780,47.228815,1534.861388,1916.858896,2240.255577,2724.889045,3040.725195
min,0.003831,0.004756,0.005673,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,...,0.142459,0.142459,0.142459,0.142459,0.142459,4.416243,4.416243,1.369579,-4.609212,-10.290635
25%,0.193533,0.193619,0.193636,0.193638,0.193637,0.193636,0.193634,0.193632,0.193630,0.193628,...,4.807180,4.802381,4.775412,4.763486,4.759953,148.385221,147.126103,142.380099,147.126102,142.380099
50%,0.276543,0.277222,0.277315,0.277145,0.276243,0.274931,0.273636,0.272949,0.272579,0.272213,...,6.398662,6.403133,6.443019,6.457967,6.458349,200.671837,200.050994,193.597736,200.050994,193.597736
75%,0.390158,0.391078,0.391212,0.391270,0.391300,0.391321,0.391339,0.391355,0.391371,0.391387,...,8.641413,8.630764,8.568670,8.554686,8.549543,265.502017,264.632304,256.095752,264.632277,257.361709
max,19.285031,19.287461,19.291038,19.295069,19.299279,19.303561,19.307870,19.312191,19.316516,19.320843,...,494.090679,500.051239,506.012790,511.974027,517.935364,17164.664147,22893.621729,27609.718896,34166.463989,38518.921083

# 6. r48_med_ARIMA

In [40]:
r48_med_ARIMA = pd.read_csv("r48_med_ARIMA.csv")
r48_med_ARIMA.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.414162,6.415860,6.416758,6.417495,6.418199,6.418896,6.419592,6.420288,6.420984,...,161.044958,162.751451,164.457944,166.164437,167.870930,5521.406509,7161.346245,8491.776136,10388.324435,11614.658255
1,X7,1.485958,1.484842,1.484238,1.483917,1.483752,1.483673,1.483642,1.483637,1.483647,...,29.247674,29.144667,29.092829,29.066741,29.053612,913.181432,900.249655,871.209344,900.249655,871.209344
2,X10,3.226025,3.226370,3.227080,3.227890,3.228728,3.229574,3.230422,3.231271,3.232120,...,58.575933,58.575933,58.575933,58.575933,58.575933,1823.967307,1815.853908,1757.277976,1815.853908,1757.277976
3,X16,5.026338,5.027509,5.028437,5.029315,5.030182,5.031048,5.031912,5.032777,5.033642,...,84.751891,84.563237,84.483593,84.449970,84.435775,2659.320752,2617.187513,2532.762110,2617.187513,2532.762110
4,X18,2.578535,2.578574,2.578614,2.578656,2.578700,2.578744,2.578789,2.578835,2.578881,...,65.035048,65.693973,66.352897,67.011822,67.670747,2220.353130,2853.579726,3364.444829,4099.606253,4570.276952

In [41]:
ARIMA.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.771216,0.758193,0.751534,0.747709,0.745339,0.743808,0.742802,0.742145,0.741728,0.741479,...,18.891900,18.880988,19.080342,19.073583,19.240538,606.341317,669.671197,705.996791,789.392663,821.860165
std,2.127130,2.037289,1.972492,1.925341,1.890749,1.865155,1.846058,1.831693,1.820807,1.812504,...,42.186488,42.562911,43.023594,43.339502,43.730825,1396.237721,1661.696375,1863.882670,2201.732017,2404.902538
min,0.006011,0.006016,0.006016,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,0.006017,...,0.142851,0.142851,0.142851,0.142851,0.142851,4.428392,-5.589709,-17.138543,-29.829948,-166.190694
25%,0.252858,0.248951,0.248714,0.248340,0.246632,0.245544,0.244223,0.244440,0.244462,0.244539,...,5.560412,5.554408,5.544829,5.534716,5.524374,169.252058,165.379598,159.105072,163.908147,158.342373
50%,0.344808,0.336831,0.337029,0.333529,0.326990,0.324254,0.323490,0.323828,0.322068,0.320463,...,7.355642,7.356513,7.351348,7.336829,7.325608,227.282454,226.764406,222.119955,226.862214,220.303057
75%,0.488715,0.467004,0.465225,0.457112,0.458127,0.455708,0.454799,0.455050,0.455911,0.456763,...,10.152380,10.150994,10.138100,10.116203,10.093958,312.595125,315.226266,302.345338,315.148406,309.862489
max,20.458173,20.194542,20.027700,19.922411,19.856268,19.815020,19.789603,19.774254,19.765309,19.760435,...,313.420122,314.578933,316.510294,318.442514,320.374939,10301.566950,12148.187880,14061.127020,17440.522440,19694.722820

# 7. r720_mean_ARIMA_itertools

In [121]:
r720_mean_ARIMA_itertools3 = pd.read_csv("r720_mean_ARIMA_itertools3.csv")
r720_mean_ARIMA_itertools3.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.011721,6.012731,6.013415,6.014006,6.014526,6.015015,6.015486,6.015947,6.016404,...,118.521334,109.477225,99.059015,87.266705,74.100294,-2750.267748,-44454.425562,-121285.590194,-246044.968371,-393068.642264
1,X7,1.497941,1.496024,1.493124,1.489561,1.485671,1.481733,1.477935,1.474375,1.471073,...,34.673822,31.405113,26.710923,20.437808,12.448075,-5224.334236,-66743.444742,-203074.405503,-437542.391019,-724830.133799
2,X10,3.361354,3.361715,3.362147,3.362707,3.363326,3.364007,3.364724,3.365473,3.366243,...,96.533480,98.209998,99.014936,98.788051,97.383758,-445.107195,-46783.785019,-159996.175158,-359772.753147,-609135.111203
3,X16,4.294140,4.294769,4.295303,4.295819,4.296368,4.296952,4.297552,4.298146,4.298729,...,117.933835,120.811003,124.421834,127.608498,131.444973,4923.258136,9772.323334,14784.667252,20938.104398,25772.535889
4,X18,2.545643,2.545583,2.545530,2.545484,2.545445,2.545414,2.545390,2.545374,2.545365,...,46.820008,42.018729,36.521266,30.327620,23.437790,-1871.420293,-23211.262771,-62315.799381,-125760.801069,-200414.781290

In [122]:
r720_mean_ARIMA_itertools3.describe()

,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,X2018_7_1_10h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.690470,0.690542,0.690533,0.690478,0.690430,0.690376,0.690286,0.690195,0.690137,0.690087,...,16.313417,16.100218,15.851918,15.509612,15.142232,275.194611,-1549.181196,-5269.530348,-11473.444008,-18982.670173
std,1.481215,1.481225,1.480911,1.480378,1.479649,1.478724,1.477630,1.476427,1.475140,1.473780,...,34.216808,33.903735,33.187824,32.824183,32.235091,1291.981762,10273.955948,29016.190847,60501.133511,98448.132372
min,0.005887,0.005887,0.005887,0.005887,0.005887,0.005887,0.005887,0.005887,0.005887,0.005886,...,0.144712,0.060188,-5.153548,-11.513070,-19.014202,-6235.835459,-92981.922837,-253426.833158,-514312.380179,-821988.171450
25%,0.249875,0.249790,0.249728,0.249684,0.249667,0.249674,0.249687,0.249685,0.249655,0.249600,...,5.949772,5.890780,5.844616,5.811908,5.744895,162.577478,125.559567,-2.326052,-219.952649,-516.316991
50%,0.322389,0.322294,0.322310,0.322404,0.322389,0.322299,0.322314,0.322401,0.322388,0.322305,...,7.847371,7.703165,7.690122,7.752880,7.718963,232.253387,225.976969,196.564771,187.700233,183.439475
75%,0.425965,0.426181,0.426359,0.426506,0.426628,0.426730,0.427177,0.429418,0.430304,0.431188,...,10.259909,10.275183,10.284386,10.517300,10.395770,308.243187,319.432095,299.213072,327.472589,330.988104
max,12.637886,12.648015,12.655267,12.659188,12.659520,12.656212,12.649424,12.639516,12.627024,12.612633,...,310.815553,318.826980,314.696359,321.900187,318.523449,10275.401982,11936.464789,14784.667252,20938.104398,25772.535889

# SMAPE 적용
print(smape_fast())

In [124]:
print(smape_fast(ARIMA,avg_per_hour_ARIMA))
print(smape_fast(ARIMA,NA_DACON_method_ARIMA))
print(smape_fast(ARIMA,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(ARIMA,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(ARIMA,r48_med_ARIMA))
print(smape_fast(ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(avg_per_hour_ARIMA,ARIMA))
print(smape_fast(avg_per_hour_ARIMA,NA_DACON_method_ARIMA))
print(smape_fast(avg_per_hour_ARIMA,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(avg_per_hour_ARIMA,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(avg_per_hour_ARIMA,r48_med_ARIMA))
print(smape_fast(avg_per_hour_ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(NA_DACON_method_ARIMA,ARIMA))
print(smape_fast(NA_DACON_method_ARIMA,avg_per_hour_ARIMA))
print(smape_fast(NA_DACON_method_ARIMA,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(NA_DACON_method_ARIMA,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(NA_DACON_method_ARIMA,r48_med_ARIMA))
print(smape_fast(NA_DACON_method_ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,ARIMA))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,avg_per_hour_ARIMA))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,NA_DACON_method_ARIMA))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,r48_med_ARIMA))
print(smape_fast(NA_DACON_method_r48_mean_ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,ARIMA))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,avg_per_hour_ARIMA))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,NA_DACON_method_ARIMA))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,r48_med_ARIMA))
print(smape_fast(NA_DACON_method_r48_med_ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(r48_med_ARIMA,ARIMA))
print(smape_fast(r48_med_ARIMA,avg_per_hour_ARIMA))
print(smape_fast(r48_med_ARIMA,NA_DACON_method_ARIMA))
print(smape_fast(r48_med_ARIMA,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(r48_med_ARIMA,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(r48_med_ARIMA,r720_mean_ARIMA_itertools3))
print(smape_fast(r720_mean_ARIMA_itertools3,ARIMA))
print(smape_fast(r720_mean_ARIMA_itertools3,avg_per_hour_ARIMA))
print(smape_fast(r720_mean_ARIMA_itertools3,NA_DACON_method_ARIMA))
print(smape_fast(r720_mean_ARIMA_itertools3,NA_DACON_method_r48_mean_ARIMA))
print(smape_fast(r720_mean_ARIMA_itertools3,NA_DACON_method_r48_med_ARIMA))
print(smape_fast(r720_mean_ARIMA_itertools3,r48_med_ARIMA))

9.679389994147028
2.6274296263450934
18.901564939960988
29.505643046673978
28.27929830570257
15.856432984792114
9.679389994147028
10.415777220405793
20.539805229296928
32.51918139331679
31.443231701056714
13.918047836071723
2.6274296263450934
10.415777220405793
18.31339109720739
29.18122777211097
28.943637478086465
16.582634715324392
18.901564939960988
20.539805229296928
18.31339109720739
26.034952301303775
27.671978245740974
7.009284503952741
29.505643046673978
32.51918139331679
29.18122777211097
26.034952301303775
9.868067185651885
22.787255547767483
28.27929830570257
31.443231701056714
28.943637478086465
27.671978245740974
9.868067185651885
10.531571671415623
15.856432984792114
13.918047836071723
16.582634715324392
7.009284503952741
22.787255547767483
10.531571671415623