In [1]:
import pandas as pd # 데이터 전처리
import numpy as np # 데이터 전처리
import matplotlib.pyplot as plt # 데이터 시각화

from datetime import datetime, timedelta # 시간 데이터 처리
from statsmodels.tsa.arima_model import ARIMA # ARIMA 모델
%matplotlib inline

In [15]:
train = pd.read_csv("D:/workspace/DACON_2019/SUHYUN/train_revise_remove_Jun.csv")
sub_train = pd.read_csv("D:/workspace/DACON_2019/SUHYUN/train_sub_jun.csv")
test = pd.read_csv("D:/workspace/DACON_2019/DACON_DATASET/test.csv")
sub_test = pd.read_csv("D:/workspace/DACON_2019/DACON_DATASET/submission_1002.csv")
train['Time'] = pd.to_datetime(train['Time']) 
train = train.set_index('Time')
test['Time'] = pd.to_datetime(test['Time']) 
test = test.set_index('Time')

In [16]:
train

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
Time,,,,,,,,,,,,,,,,,,,,,
2016-07-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-05-31 19:00:00,0.423,0.425,0.466,0.179,0.274,0.390,0.286,0.457,0.157,0.271,...,0.320,0.684,0.458,0.056,0.424,0.395,0.781,0.594,0.221,0.535
2018-05-31 20:00:00,0.505,0.335,0.469,0.142,0.316,0.702,0.301,0.346,0.230,0.285,...,0.674,0.724,0.505,0.056,0.458,0.538,1.182,4.058,0.263,0.510
2018-05-31 21:00:00,0.305,0.363,0.595,0.218,0.467,0.516,0.487,0.311,0.160,0.269,...,0.445,0.612,0.398,0.054,0.592,0.612,0.865,4.128,0.394,0.532
2018-05-31 22:00:00,0.262,0.539,0.651,0.585,0.313,0.726,0.456,0.324,0.178,0.263,...,0.691,0.454,0.456,0.049,0.596,0.961,0.886,4.130,0.596,0.652
2018-05-31 23:00:00,0.263,0.455,0.536,0.475,0.356,0.372,0.426,0.284,0.122,0.276,...,0.312,0.273,0.530,0.047,0.547,0.693,0.812,5.532,0.297,0.400

In [10]:
test.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017-07-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017-07-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017-07-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017-07-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [17]:
# train_rolling 값 만들기
r24 = train.rolling(window=24, min_periods= 1) # 1일
r48 = train.rolling(window=48, min_periods= 1) # 2일
r72 = train.rolling(window=72, min_periods= 1) # 3일

In [32]:
# train_최빈값
r24_med=r24.median()
r48_med=r48.median()
r72_med=r72.median()
# ___________________________
r24_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med.csv')
r48_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med.csv')
r72_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med.csv')
# ___________________________
r24_med_Feb=r24_med['2018-02-15':]
r48_med_Feb=r48_med['2018-02-15':]
r72_med_Feb=r72_med['2018-02-15':]
# ___________________________
r24_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med_Feb.csv')
r48_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med_Feb.csv')
r72_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med_Feb.csv')

In [33]:
# train_평균
r24_mean=r24.mean()
r48_mean=r48.mean()
r72_mean=r72.mean()
# ___________________________
r24_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean.csv')
r48_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean.csv')
r72_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean.csv')
# ___________________________
r24_mean_Feb=r24_mean['2018-02-15':]
r48_mean_Feb=r48_mean['2018-02-15':]
r72_mean_Feb=r72_mean['2018-02-15':]
# ___________________________
r24_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean_Feb.csv')
r48_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean_Feb.csv')
r72_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean_Feb.csv')

In [ ]:
# # test_rolling 값 만들기
# t_r24 = test.rolling(window=24, min_periods= 1) # 1일
# t_r48 = test.rolling(window=48, min_periods= 1) # 2일
# t_r72 = test.rolling(window=72, min_periods= 1) # 3일

In [ ]:
# # test_최빈값
# r24_med=r24.median()
# r48_med=r48.median()
# r72_med=r72.median()
# # ___________________________
# r24_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med.csv')
# r48_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med.csv')
# r72_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med.csv')
# # ___________________________
# r24_med_Feb=r24_med['2018-02-15':]
# r48_med_Feb=r48_med['2018-02-15':]
# r72_med_Feb=r72_med['2018-02-15':]
# # ___________________________
# r24_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med_Feb.csv')
# r48_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med_Feb.csv')
# r72_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med_Feb.csv')

In [ ]:
# # test_평균
# r24_mean=r24.mean()
# r48_mean=r48.mean()
# r72_mean=r72.mean()
# # ___________________________
# r24_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean.csv')
# r48_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean.csv')
# r72_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean.csv')
# # ___________________________
# r24_mean_Feb=r24_mean['2018-02-15':]
# r48_mean_Feb=r48_mean['2018-02-15':]
# r72_mean_Feb=r72_mean['2018-02-15':]
# # ___________________________
# r24_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean_Feb.csv')
# r48_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean_Feb.csv')
# r72_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean_Feb.csv')