In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'D:\\workspace\\DACON_2019\\SUHYUN'

In [3]:
os.chdir('D:\\workspace\\DACON_2019')

In [4]:
test = pd.read_csv('.\\SOOMIN\\data\\Test_시간별평균대치.csv')
test

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017-07-01 00:00:00,1.187315,0.385586,0.298691,0.276657,0.190045,0.160754,0.343880,0.249761,0.070329,...,0.288141,0.326095,0.356141,0.407326,0.159644,0.227077,0.168175,0.275,0.021,0.338138
1,2017-07-01 01:00:00,1.186123,0.478955,0.307983,0.333324,0.193712,0.167303,0.426744,0.293231,0.072641,...,0.259911,0.297695,0.296728,0.316149,0.159288,0.259118,0.184568,0.222,0.021,0.335306
2,2017-07-01 02:00:00,1.168301,0.467760,0.323560,0.331767,0.200656,0.165983,0.405878,0.301436,0.076477,...,0.237175,0.261525,0.288334,0.267332,0.157027,0.267059,0.177599,0.237,0.021,0.344922
3,2017-07-01 03:00:00,1.163425,0.443529,0.304879,0.322123,0.189067,0.155355,0.401216,0.288693,0.082617,...,0.203332,0.207759,0.253232,0.212221,0.154466,0.251081,0.156110,0.229,0.020,0.334552
4,2017-07-01 04:00:00,1.398466,0.390286,0.322174,0.320922,0.195500,0.154073,0.344145,0.295861,0.074067,...,0.189208,0.174952,0.266133,0.244444,0.152014,0.253930,0.143873,0.202,0.021,0.346241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-06-30 19:00:00,1.255000,0.175000,0.430000,0.429000,0.169000,0.739000,0.573000,0.341000,0.127000,...,0.312000,0.381000,0.479000,0.858000,11.546000,0.428000,0.134000,3.519,0.027,0.286000
8756,2018-06-30 20:00:00,1.596000,1.692000,0.332000,0.366000,0.159000,0.255000,0.501000,0.281000,0.126000,...,0.327000,0.402000,0.725000,0.816000,11.591000,0.413000,0.206000,3.331,0.027,0.303000
8757,2018-06-30 21:00:00,1.379000,0.883000,0.435000,0.497000,0.166000,0.233000,0.634000,0.401000,0.439000,...,0.253000,0.401000,0.426000,0.659000,10.766000,0.466000,0.324000,3.416,0.026,0.253000
8758,2018-06-30 22:00:00,1.000000,0.539000,0.268000,0.459000,0.463000,0.454000,0.676000,0.543000,0.737000,...,0.332000,0.401000,0.353000,0.462000,0.312000,0.473000,0.402000,4.263,0.027,0.253000
8759,2018-06-30 23:00:00,0.976000,0.481000,0.220000,0.418000,0.646000,0.419000,0.680000,0.499000,0.304000,...,0.434000,0.435000,0.349000,0.792000,0.309000,0.519000,0.334000,0.784,0.027,0.310000

In [5]:
test['Time'] = pd.to_datetime(test['Time']) 
test = test.set_index('Time')

In [6]:
test.iloc[:, 0]

Time
2017-07-01 00:00:00    1.187315
2017-07-01 01:00:00    1.186123
2017-07-01 02:00:00    1.168301
2017-07-01 03:00:00    1.163425
2017-07-01 04:00:00    1.398466
                         ...
2018-06-30 19:00:00    1.255000
2018-06-30 20:00:00    1.596000
2018-06-30 21:00:00    1.379000
2018-06-30 22:00:00    1.000000
2018-06-30 23:00:00    0.976000
Name: X26, Length: 8760, dtype: float64

In [7]:
from before_LSTM import *

In [8]:
before_LSTM(test.iloc[:, 0])

((8736, 24, 1), array([[[0.13208547],
         [0.15901235],
         [0.20679585],
         ...,
         [0.10908472],
         [0.11334528],
         [0.11363019]],

        [[0.11363019],
         [0.13208547],
         [0.15901235],
         ...,
         [0.10791888],
         [0.10908472],
         [0.11334528]],

        [[0.11334528],
         [0.11363019],
         [0.13208547],
         ...,
         [0.16410848],
         [0.10791888],
         [0.10908472]],

        ...,

        [[0.21133158],
         [0.12981114],
         [0.13363615],
         ...,
         [0.06885011],
         [0.08486732],
         [0.11690175]],

        [[0.15945494],
         [0.21133158],
         [0.12981114],
         ...,
         [0.06837198],
         [0.06885011],
         [0.08486732]],

        [[0.06885011],
         [0.15945494],
         [0.21133158],
         ...,
         [0.06574229],
         [0.06837198],
         [0.06885011]]]), (8736, 1), array([[0.11363019],
        [0.11334528],
        [0.10908472],
        ...,
        [0.15945494],
        [0.06885011],
        [0.0631126 ]]))

In [10]:
X_dataset_t[1]

NameError: name 'X_dataset_t' is not defined